<table width="100%" border="0">
  <tr>
    <td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo.gif"></div></td>
  </tr>
</table>
Partnername: {$content.NAME}<br />
eMailadress: {$content.EMAIL}<br /><br />

Message: {$content.ENQUIRY}