<table width="100%" border="0">
  <tr>
    <td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo.gif"></div></td>
  </tr>
</table>
A new affiliate password was requested from {$content.REMOTE_ADDRESS}<br /><br />

Your new affiliate password to {$content.STORE_NAME} is: <strong>{$content.NEWPASS}</strong>