{config_load file="$language/lang_$language.conf" section="account_edit"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="account_edit"}
<h1>{#heading_account#}</h1>
{$FORM_ACTION}
{if $error != ''}<div class="errormessage">{$error}</div>{/if}
<div class="highlightbox cf">
  <div class="twoColumsInner">
    <h4>{#title_personal#} <span class="pflicht">({#text_must#})</span></h4>
    <table>
      {if $csID}
      <tr>
        <td><span class="fieldtext">{#csID#}</span><span class="stern">{$csID}</span></td>
      </tr>
      {/if}
      {if $gender == '1'}
      <tr>
        <td><span class="fieldtext">{#text_gender#}</span><span class="stern">{$INPUT_GENDER|add_nogender}</span></td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_firstname#}</span><span class="stern">{$INPUT_FIRSTNAME}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_lastname#}</span><span class="stern">{$INPUT_LASTNAME}</span></td>
      </tr>
      {if $birthdate == '1'}
      <tr>
        <td><span class="fieldtext">{#text_birthdate#}</span><span class="stern">{$INPUT_DOB|replace:"type=\"text\"":"type=\"tel\""}</span></td>
      </tr>
      {/if}
    </table>
  </div>

  <div class="twoColumsInner last">
    <h4>{#title_contact#} <span class="pflicht">({#text_must#})</span></h4>
    <table>
      <tr>
        <td><span class="fieldtext">{#text_email#}</span><span class="stern">{$INPUT_EMAIL|replace:"type=\"text\"":"type=\"email\""}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_confirm_email#}</span><span class="stern">{$INPUT_CONFIRM_EMAIL|replace:"type=\"text\"":"type=\"email\""}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_tel#}</span><span class="stern">{$INPUT_TEL|replace:"type=\"text\"":"type=\"tel\""}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_fax#}</span><span class="stern">{$INPUT_FAX|replace:"type=\"text\"":"type=\"tel\""}</span></td>
      </tr>
      {if $vat == '1'}
      <tr>
        <td><span class="fieldtext">{#text_ustid#}</span><span class="stern">{$INPUT_VAT|replace:"Nur":"<br />Nur"}</span></td>
      </tr>
      {/if}
    </table>
  </div>
</div>

<div class="button_left cf"><div class="cssButtonPos4">{$BUTTON_BACK}</div></div>
<div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_SUBMIT}</div></div>
{$FORM_END}