{config_load file="$language/lang_$language.conf" section="account_history_info"}
{config_load file="$language/lang_$language.conf" section="print_order"}
{config_load file="$language/lang_$language.conf" section="product_info"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="account_history_info"}
<h1 class="cf">{#text_oid#}{$ORDER_NUMBER} - {$ORDER_STATUS}
  <span class="headline_right">{#text_date#} {$ORDER_DATE}</span>
</h1>

{if $info_message}<div class="errormessage">{$info_message}</div>{/if}
{if $success_message != ''}<div class="infomessage">{$success_message}</div>{/if}

<div class="highlightbox cf">
  <div class="twoColums">
    <div class="highlightbox plainleft">
      <h4>{#text_shipping_address#}</h4>
      <p>{$DELIVERY_LABEL}</p>
    </div>
  </div>

  <div class="twoColums last">
    {if $BILLING_LABEL}
    <div class="highlightbox plainright">
      <h4>{#text_payment_address#}</h4>
      <p>{$BILLING_LABEL}</p>
    </div>
    {/if}
  </div>
  <br class="clearfix" />


  <div class="twoColums">
    {if $SHIPPING_METHOD != ''}
    <div class="highlightbox plainleft">
      <h4>{#text_shipping_method#}</h4>
      <p>{$SHIPPING_METHOD}</p>
    </div>
    {/if}
  </div>

  <div class="twoColums last">
    {if $PAYMENT_METHOD}
    <div class="highlightbox plainright">
      <h4>{#text_payment_method#}</h4>
      <p>{$PAYMENT_METHOD}</p>
    </div>
    {/if}
  </div>
  <br class="clearfix" />

  <div class="twoColums">
    <div class="highlightbox plainleft">
      <h4>{#title_history#}:</h4>
      <p>{$HISTORY_BLOCK}</p>
    </div>

    {if count($ORDER_TRACKING) > 0}
    <div class="highlightbox plainleft">
      <h4>{#label_tracking#}</h4>
      <p>
      {foreach name=aussen item=tracking_data from=$ORDER_TRACKING}
        <a target="_blank" href="{$tracking_data.tracking_link}">{$tracking_data.parcel_id}</a><br />
      {/foreach}
      </p>
    </div>
    {/if}  
  </div>

  <div class="twoColums last">
    {if $PAYMENT_INFORMATION != ''}
    <div class="highlightbox plainleft">
      <h4>{#text_payment_info#}</h4>
      <p>{$PAYMENT_INFORMATION}</p>
    </div>
    {/if}
    {if $ORDER_COMMENTS != ''}
    <div class="highlightbox plainleft">
      <h4>{#text_comments#}</h4>
      <p>{$ORDER_COMMENTS}</p>
    </div>
    {/if}
  </div>
  <br class="clearfix" />

  <h4>{#text_products#}</h4>
  <ul class="orderlist">
    <li>
      <div class="orderlist_header cf">
        <span class="ol_quantity ol_width1">{$smarty.const.HEADER_QTY}</span>
        <span class="ol_productsname ol_width3">{$smarty.const.HEADER_ARTICLE}</span>
        <span class="ol_image ol_width2">&nbsp;</span>
        <span class="ol_price_row ol_width4_header cf">
          <span class="ol_totalprice ol_width5">{$smarty.const.HEADER_TOTAL}</span>
          <span class="ol_singleprice ol_width6">{$smarty.const.HEADER_SINGLE}</span>
        </span>
      </div>
    </li>
    {foreach name=aussen item=order_values from=$order_data}
    <li>
      <div class="orderlist_row {cycle values="ol_row1,ol_row2"} cf">
        <span class="ol_quantity ol_width1"><span class="ol_distance">{$order_values.PRODUCTS_QTY}&nbsp;x</span></span>
        <span class="ol_productsname ol_width3">
          <span class="ol_distance"><strong>{$order_values.PRODUCTS_NAME}</strong></span>
          <p class="ol_model">{$smarty.const.HEADER_MODEL}: {$order_values.PRODUCTS_MODEL}</p>
          {if $order_values.PRODUCTS_SHIPPING_TIME neq ''}<p class="ol_model">{#text_shippingtime#} {$order_values.PRODUCTS_SHIPPING_TIME}</p>{/if}
          {if sizeof($order_values.PRODUCTS_ATTRIBUTES_ARRAY) > 0}
            <ul class="attributes_list">
              {foreach key=a_data item=attrib_data from=$order_values.PRODUCTS_ATTRIBUTES_ARRAY}
              <li><strong>{$attrib_data.option}:</strong> {$attrib_data.value}</li>
              {/foreach}
            </ul>
          {/if}
        </span>
        <span class="ol_image ol_width2"><span class="accounthistory_actions cf">
          {if isset($order_values.BUTTON_CART_EXPRESS)}<span class="cssButtonPos6">{$order_values.BUTTON_CART_EXPRESS}</span>{/if}
          <span class="cssButtonPos6">{$order_values.BUTTON_CART}</span>
        </span></span>
        <span class="ol_price_row ol_width4 cf">
          <span class="ol_totalprice ol_width5"><span class="ol_distance">{$order_values.PRODUCTS_PRICE}</span></span>
          <span class="ol_singleprice ol_width6"><span class="ol_distance">{$order_values.PRODUCTS_SINGLE_PRICE}</span></span>
        </span>
      </div>
    </li>
    {/foreach}
  </ul>

  {if sizeof($order_total) > 0}
  <div class="ord_subtotal cf">
    <ul class="ord_total_list">
      {foreach name=aussen item=order_total_values from=$order_total}
      <li class="otl_row1 cf">
        <span class="otl_col3 ">{$order_total_values.TITLE}</span>
        <span class="otl_col4 "><strong>{$order_total_values.TEXT}</strong></span>
      </li>
      {/foreach}
    </ul>
  </div>
  <br class="clearfix" />
  {/if}

  {if $PAYPAL_LINK}
    <div class="hr_10"></div>
    <div style="padding:5px;">{$PAYPAL_LINK}</div>
  {/if}

  {if $downloads_content neq ''}
    <div class="hr_10"></div>
    <br />
    {$downloads_content}
  {/if}
</div>

{if $text_print != ''}
<h4>{#title_print#}</h4>
<p>{#text_print#}</p>
{/if}

<div class="button_left_cart cf">
  <div class="cssButtonPos7">{$BUTTON_BACK}</div>
  <div class="cssButtonPos7">{$BUTTON_PRINT_LAYER}</div>
</div>
<div class="button_right_cart cf">
  <div class="cssButtonPos8">{$BUTTON_CART}</div>
  {if isset($BUTTON_CART_EXPRESS)}<div class="cssButtonPos8">{$BUTTON_CART_EXPRESS}</div>{/if}
</div>
