{config_load file="$language/lang_$language.conf" section="address_book_process"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="address_book_process"}
  <div class="highlightbox cf">
    <h4>{#title_address#} <span class="pflicht">({#text_must#})</span></h4>
    <div class="twoColumsInner">
      <table>
        {if $gender == '1'}
        <tr>
          <td><span class="fieldtext">{#text_gender#}</span><span class="stern">{$INPUT_GENDER|add_nogender}</span></td>
        </tr>
        {/if}
        <tr>
          <td><span class="fieldtext">{#text_firstname#}</span><span class="stern">{$INPUT_FIRSTNAME}</span></td>
        </tr>
        <tr>
          <td><span class="fieldtext">{#text_lastname#}</span><span class="stern">{$INPUT_LASTNAME}</span></td>
        </tr>
        {if $company == '1'}
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><span class="fieldtext">{#text_company#}</span><span class="stern">{$INPUT_COMPANY}</span></td>
        </tr>
        {/if} 
      </table>      
    </div>

    <div class="twoColumsInner last">
      <table>
        <tr>
          <td><span class="fieldtext">{#text_street#}</span><span class="stern">{$INPUT_STREET}</span></td>
        </tr>
        {if $suburb == '1'}
        <tr>
          <td><span class="fieldtext">{#text_suburb#}</span><span class="stern">{$INPUT_SUBURB}</span></td>
        </tr>
        {/if}
        <tr>
          <td><span class="fieldtext">{#text_code#}</span><span class="stern">{$INPUT_CODE|replace:"type=\"text\"":"type=\"tel\""}</span></td>
        </tr>
        <tr>
          <td><span class="fieldtext">{#text_city#}</span><span class="stern">{$INPUT_CITY}</span></td>
        </tr>
        <tr>
          <td><span class="fieldtext">{#text_country#}</span><span class="stern">{$SELECT_COUNTRY}</span></td>
        </tr>
        {if $state == '1'}
        <tr{if $display_state}{$display_state}{/if}>
          <td><span class="fieldtext">{#text_state#}</span><span class="stern">{$INPUT_STATE}</span></td>
        </tr>
        {/if}
        {if $new == '1'}
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>{$CHECKBOX_PRIMARY} <label for="primary">{#text_standard#}</label></td>
        </tr>
        {/if}
      </table>
    </div>
  </div>
           