{config_load file="$language/affiliate_lang_$language.conf" section="affiliate_sales"}
<font size="3" face="Verdana, Arial, Helvetica, sans-serif"><strong>{#heading_title#}</strong></font>
<table width="100%" border="0" cellspacing="0" cellpadding="1" class="infoBox">
  <tr>
    <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
      <tr>
        <td class="main" colspan="4">{#text_affiliate_header#}&nbsp;&nbsp;{$affiliate_sales_split_numbers}</td>
      </tr>
      <tr>
        <td class="main" colspan="5">{$FORM_ACTION}<table><tr><td>{#text_affiliate_period#}</td><td>{$period_selector}</td><td>{#text_affiliate_status#}</td><td>{$status_selector}</td>{ if $AFFILIATE_USE_TIER == 'true'}<td>{#text_affiliate_level#}</td><td>{$level_selector}</td>{/if}</tr></table></form></td>
      </tr>
      <tr>
        <td class="infoBoxHeading">{#table_heading_date#}</td>
        <td class="infoBoxHeading">{#table_heading_value#}</td>
        <td class="infoBoxHeading">{#table_heading_percentage#}</td>
        <td class="infoBoxHeading">{#table_heading_level#}</td>
        <td class="infoBoxHeading">{#table_heading_sales#}</td>
        <td class="infoBoxHeading">{#table_heading_status#}</td>
      </tr>
      {if $as_array != ''}
      {foreach item=as from=$as_array}
      <tr bgcolor="{cycle values="#eeeee,#dddddd"}">
        <td>{$as.affiliate_date}</td>
        <td>{$as.affiliate_value}</td>
        <td>{$as.affiliate_percent}</td>
        <td>{$as.affiliate_level}</td>
        <td>{$as.affiliate_value}</td>
        <td>{$as.affiliate_orders_status}</td>
      </tr>
      {/foreach}
      {else}
        <tr class="productListing-odd"><td class="main" colspan="6">{#text_no_sales#}</td></tr>
      {/if}
      <tr>
        <td colspan="6"><table border="0" width="100%" cellspacing="0" cellpadding="0">
		  <tr>
	        <td class="smallText">{$affiliate_sales_count}</td>
	        <td class="smallText">{$affiliate_sales_links}</td>
	      </tr>
	    </table></td>
	  </tr>
	  <tr>
        <td class="main" colspan="6"><br>{#text_information_sales_total#}&nbsp;&nbsp;{$affiliate_sales_total}&nbsp;&nbsp;{#text_information_sales_total2#}</td>
      </tr>
    </table></td>
  </tr>
</table>
