{config_load file="$language/affiliate_lang_$language.conf" section="affiliate_affiliate"}
{config_load file="lang_`$language`.custom"}
<h1>{#heading_title#}</h1>

{if $info_message eq 'true'}
<div class="error">{#text_login_error#}</div>
{/if}

<div class="twoColums">
    <div class="highlightbox cf">
      <h4>{#heading_returning_affiliate#}</h4>
      {$FORM_ACTION}
        <br />  
        <table>
            <tr>
                <td><span class="fieldtext">{#text_affiliate_id#}</span>{$INPUT_AFFILIATE_USERNAME}</td>
            </tr>
            <tr>
                <td><span class="fieldtext">{#text_affiliate_password#}</span>{$INPUT_AFFILIATE_PASSWORD}</td>
            </tr>
        </table>
        <div class="button_left"><a class="black" href="{$LINK_PASSWORD_FORGOTTEN}">{#text_affiliate_password_forgotten#}</a></div>
        <div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_LOGIN}</div></div>
      </form>
  </div>
</div>

<div class="twoColums last">
    <div class="highlightbox cf">
        <h4>{#heading_new_affiliate#}</h4>
        <p>{#text_new_affiliate#}</p>
        <p><a class="iframe" target="_blank" href="{$LINK_TERMS}">{#text_new_affiliate_terms#}</a></p>
        <div class="button_right cf"><div class="cssButtonPos4">{$LINK_SIGNUP}</div></div>
    </div>
</div>
  
{*
<font size="3" face="Verdana, Arial, Helvetica, sans-serif"><strong>{#heading_title#}</strong></font>
<table>
{if $info_message eq 'true'}
  <tr>
    <td class="smallText">{#text_login_error#}</td>
  </tr>
{/if}
<tr>
  <td>{$FORM_ACTION}
    <table border="0" width="100%" cellspacing="0" cellpadding="2">
      <tr>
        <td class="main" width="50%" valign="top"><b>{#heading_new_affiliate#}</b></td>
        <td class="main" width="50%" valign="top"><b>{#heading_returning_affiliate#}</b></td>
      </tr>
      <tr>
    	<td width="50%" height="100%" valign="top">
		  <table border="0" width="100%" height="100%" cellspacing="0" cellpadding="1" class="infoBox">
            <tr>
              <td>
			    <table border="0" width="100%" height="100%" cellspacing="0" cellpadding="2" class="infoBoxContents">
                  <tr>
                    <td class="main" valign="top">{#text_new_affiliate#}<br><br>{#text_affiliate_introduction#}</td>
                  </tr>
                  <tr>
                    <td class="smallText" colspan="2">{$LINK_TERMS}{#text_new_affiliate_terms#}</a></td>
                  </tr>
                </table>
			  </td>
            </tr>
          </table>
		</td>
        <td width="50%" height="100%" valign="top">
		  <table border="0" width="100%" height="100%" cellspacing="0" cellpadding="1" class="infoBox">
            <tr>
              <td>
			    <table border="0" width="100%" height="100%" cellspacing="0" cellpadding="2" class="infoBoxContents">
                  <tr>
                    <td class="main" colspan="2">{#text_returning_affiliate#}</td>
                  </tr>
                  <tr>
                    <td class="main"><b>{#text_affiliate_id#}</b></td>
                    <td class="main">{$INPUT_AFFILIATE_USERNAME}</td>
                  </tr>
                  <tr>
                    <td class="main"><b>{#text_affiliate_password#}</b></td>
                    <td class="main">{$INPUT_AFFILIATE_PASSWORD}</td>
                  </tr>
                  <tr>
                    <td class="smallText" colspan="2">{$LINK_PASSWORD_FORGOTTEN}{#text_affiliate_password_forgotten#}</a></td>
                  </tr>
                </table>
			  </td>
            </tr>
          </table>
		</td>
      </tr>
      <tr>
        <td width="50%" align="right" valign="top">{$LINK_SIGNUP}</td>
        <td width="50%" align="right" valign="top">{$BUTTON_LOGIN}</td>
      </tr>
    </table></form>
  </td>
</tr>
<!-- Please let the following link intact.
It will be fair and will be my incentive for further development.
You can adopt it to your design or move it to another place.
Thank you for your fairness-->
<tr height="250" valign="bottom">
  <td align="center" class="smallText">Affiliate Plugin by <a href="http://www.netz-designer.de/shop/" target="_blank">Netz-Designer</a></td>
</tr>
<!-- -->
</table>
*}