{config_load file="$language/affiliate_lang_$language.conf" section="affiliate_account_details"}
{config_load file="lang_`$language`.custom"}
{assign "shtml" array('<p>', '</p>')}
{assign "rhtml" array('<li>', '</li>')}
{if $error != ''}<div class="errormessage"><ul>{$error|replace:$shtml:$rhtml}</ul></div>{/if}
<div class="highlightbox cf">
    <div class="twoColumsInner">
        <h4>{#category_personal#} <span class="pflicht">({#text_must#})</span></h4>
        <table>
            {if $ACCOUNT_GENDER == 'true'}
            <tr>
                <td><span class="fieldtext">{#entry_gender#}</span><span class="stern">{$INPUT_GENDER}</span></td>
            </tr>
            {/if}
            <tr>
                <td><span class="fieldtext">{#entry_first_name#}</span><span class="stern">{$firstname_content}</span></td>
            </tr>
            <tr>
                <td><span class="fieldtext">{#entry_lastname#}</span><span class="stern">{$lastname_content}</span></td>
            </tr>
            {if $birthdate == '1'}
            <tr>
                <td><span class="fieldtext">{#entry_date_of_birth#}</span><span class="stern">{$dob_content}</span></td>
            </tr>
            {/if}
            <tr>
                <td><span class="fieldtext">{#entry_email_address#}</span><span class="stern">{$email_content}</span></td>
            </tr>
        </table>
        {if $ACCOUNT_COMPANY == 'true'}
        <br />
        <h4>{#category_company#}</h4>
        <table>
            <tr>
                <td><span class="fieldtext">{#entry_affiliate_company#}</span><span class="stern">{$company_content}</span></td>
            </tr>
            {if $vat == '1'}
            <tr>
                <td><span class="fieldtext">{#entry_affiliate_company_taxid#}</span><span class="stern">{$company_taxid_content}</span></td>
            </tr>
            {/if}
        </table>
        {/if}
        <br />
        <h4>{#category_payment_details#}</h4>
        <table>
            {if $AFFILIATE_USE_CHECK == 'true'}
            <tr>
                <td><span class="fieldtext">{#entry_affiliate_payment_check#}</span><span class="stern">{$payment_check_content}</span></td>
            </tr>
            {/if}
            {if $AFFILIATE_USE_PAYPAL == 'true'}
            <tr>
                <td><span class="fieldtext">{#entry_affiliate_payment_paypal#}</span><span class="stern">{$payment_paypal_content}</span></td>
            </tr>
            {/if}
            {if $AFFILIATE_USE_BANK == 'true'}
            <tr>
                <td><span class="fieldtext">{#entry_affiliate_payment_bank_name#}</span><span class="stern">{$payment_bank_name_content}</span></td>
            </tr>
            <tr>
                <td><span class="fieldtext">{#entry_affiliate_payment_bank_branch_number#}</span><span class="stern">{$payment_bank_branch_number_content}</span></td>
            </tr>
            <tr>
                <td><span class="fieldtext">{#entry_affiliate_payment_bank_swift_code#}</span><span class="stern">{$payment_bank_swift_code_content}</span></td>
            </tr>
            <tr>
                <td><span class="fieldtext">{#entry_affiliate_payment_bank_account_name#}</span><span class="stern">{$payment_bank_account_name_content}</span></td>
            </tr>
            <tr>
                <td><span class="fieldtext">{#entry_affiliate_payment_bank_account_number#}</span><span class="stern">{$payment_bank_account_number_content}</span></td>
            </tr>
           {/if}
        </table>
    </div>
    <div class="twoColumsInner last">
        <h4>{#category_address#}</h4>
        <table>
            <tr>
                <td><span class="fieldtext">{#entry_street_address#}</span><span class="stern">{$street_address_content}</span></td>
            </tr>
            {if $ACCOUNT_SUBURB == 'true'}
            <tr>
                <td><span class="fieldtext">{#entry_suburb#}</span><span class="stern">{$suburb_content}</span></td>
            </tr>
            {/if}
            <tr>
                <td><span class="fieldtext">{#entry_post_code#}</span><span class="stern">{$postcode_content}</span></td>
            </tr>
            <tr>
                <td><span class="fieldtext">{#entry_city#}</span><span class="stern">{$city_content}</span></td>
            </tr>
            <tr>
                <td><span class="fieldtext">{#entry_country#}</span><span class="stern">{$country_id_content}</span></td>
            </tr>
            {if $ACCOUNT_STATE == 'true'}
            <tr>
                <td><span class="fieldtext">{#entry_state#}</span><span class="stern">{$state_content}</span></td>
            </tr>
            {/if}
        </table>
        <br />
        <h4>{#category_contact#}</h4>
        <table>
            <tr>
                <td><span class="fieldtext">{#entry_telephone_number#}</span><span class="stern">{$telephone_content}</span></td>
            </tr>
            <tr>
                <td><span class="fieldtext">{#entry_fax_number#}</span><span class="stern">{$fax_content}</span></td>
            </tr>
            <tr>
                <td><span class="fieldtext">{#entry_affiliate_homepage#}</span><span class="stern">{$homepage_content}</span><br />{#txt_pattern_homepage#}</td>
            </tr>
        </table>
        {if $PASSWORD_READONLY == 'false'}
        <br />
        <h4>{#category_password#}</h4>
        <table>
            <tr>
                <td><span class="fieldtext">{#entry_password#}</span><span class="stern">{$password_content}</span></td>
            </tr>
            <tr>
                <td><span class="fieldtext">{#entry_password_confirmation#}</span><span class="stern">{$password_confirmation_content}</span></td>
            </tr>
        </table>
        {/if}
        <br />
        <h4>{#entry_agb#}</h4>
        <table>
            <tr>
                <td class="checkbox">{$agb_content}</td>
                <td class="midi"><label for="a_agb">{$agb_txt}</label></td>
            </tr>
        </table>
    </div>
</div>