{config_load file="$language/affiliate_lang_$language.conf" section="affiliate_banners"}
<font size="3" face="Verdana, Arial, Helvetica, sans-serif"><strong>{#heading_title#}</strong></font>
<table>
  <tr>
	<td><table width="100%" border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main" colspan=2>{#text_information#}</td>
          </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main" align="center">{#text_affiliate_individual_banner#}</td>
          </tr>
          <tr>
            <td class="smallText" align="center">{#text_affiliate_individual_banner_info#}&nbsp;&nbsp;{$FORM_ACTION}{$INPUT_BANNER_ID}&nbsp;&nbsp;{$BUTTON_SUBMIT}</form></td>
          </tr>
          {if $TEXTAREA_AFFILIATE_BANNER1 neq ''}
          <tr>
            <td class="smallText" align="center"><br>{$link}</td>
          </tr>
          <tr>
            <td class="smallText" align="center">{#text_affiliate_info#}</td>
          </tr>
          <tr>
            <td align="center">{$TEXTAREA_AFFILIATE_BANNER1}</td>
          </tr>
          {/if}
     </table></td>
   </tr>
   {if $banner_table_content neq ''}
	 {$banner_table_content}
   {/if}
</table>
