{config_load file="$language/affiliate_lang_$language.conf" section="affiliate_signup"}
{config_load file="lang_`$language`.custom"}
<h1>{#heading_title#}</h1>
{$FORM_ACTION}{$HIDDEN_ACTION}
{$main_content}
    {*BOC adapted to 2.0.2.2 template*}
		{*</td>
      </tr>
      <tr>
        <td align="right" class="main"><br>{$BUTTON_SUBMIT}</td>
      </tr>*}
    <div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_SUBMIT}</div></div>
    {*EOC adapted to 2.0.2.2 template*}
</form>
