{config_load file="$language/affiliate_lang_$language.conf" section="affiliate_summary"}
<font size="3" face="Verdana, Arial, Helvetica, sans-serif"><strong>{#heading_title#}</strong></font>
<table width="100%">
  <tr>
    <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
      <tr>
        <td class="main">{#text_greeting#}{$affiliate.affiliate_firstname}&nbsp;{$affiliate.affiliate_lastname}<br>{#text_affiliate_id#}{$affiliate.affiliate_id}</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
      <tr>
        <!--<td class="main">{$FORM_ACTION}{#text_affiliate_period#}{$period_selector}</form></td>-->
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="infoboxheading">{#text_summary_title#}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellpadding="4" cellspacing="2">
          <tr>
            <td width="35%" align="right" class="boxtext">{#text_impressions#}{$LINK_IMPRESSION}{#text_summary_help#}</a></td>
            <td width="15%" class="boxtext">{$affiliate_impressions}</td>
            <td width="35%" align="right" class="boxtext">{#text_visits#}{$LINK_VISIT}{#text_summary_help#}</a></td>
            <td width="15%" class="boxtext">{$affiliate_clickthroughs}</td>
          </tr>
          <tr>
            <td width="35%" align="right" class="boxtext">{#text_transactions#}{$LINK_TRANSACTIONS}{#text_summary_help#}</a></td>
            <td width="15%" class="boxtext">{$affiliate_transactions}</td>
            <td width="35%" align="right" class="boxtext">{#text_conversions#}{$LINK_CONVERSION}{#text_summary_help#}</a></td>
            <td width="15%" class="boxtext">{$affiliate_conversions}</td>
          </tr>
          <tr>
            <td width="35%" align="right" class="boxtext">{#text_amount#}{$LINK_AMOUNT}{#text_summary_help#}</a></td>
            <td width="15%" class="boxtext">{$affiliate_amount}</td>
            <td width="35%" align="right" class="boxtext">{#text_average#}{$LINK_AVERAGE}{#text_summary_help#}</a></td>
            <td width="15%" class="boxtext">{$affiliate_average}</td>
          </tr>
          <tr>
            <td width="35%" align="right" class="boxtext">{#text_comission_rate#}{$LINK_COMISSION_RATE}{#text_summary_help#}</a></td>
            <td width="15%" class="boxtext">{$affiliate_percent}</td>
            <td width="35%" align="right" class="boxtext">{#text_comission#}{$LINK_COMISSION}{#text_summary_help#}</a></td>
            <td width="15%" class="boxtext">{$affiliate_commission}</td>
          </tr>
        </table></td>
      </tr>
      {if AFFILIATE_USE_TIER == 'true'}
      <tr>
        <td valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="infoboxheading">{#text_summary_title_tier#}</td>
          </tr>
        </table></td>
      </tr>
      <tr><td><table width="100%">
      {foreach item=tl from=$tiers_array}
      <tr bgcolor="{cycle values="#eeeee,#dddddd"}">
        <td><a href="{$tl.level_link}">{#text_commission_level_tier#}{$tl.level_number}</a></td>
        <td>{#text_commission_rate_tier#}{$tl.level_percent}</td>
        <td>{#text_commission_tier_count#}{$tl.level_count}</td>
        <td>{#text_commission_tier_total#}{$tl.level_total}</td>
        <td>{#text_commission_tier#}{$tl.level_payment}</td>
      </tr>
      {/foreach}
      </table></td></tr>
      {/if}
      <tr>
        <td valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td align="center" class="boxtext" colspan="4"><b>{#text_summary#}<b></td>
          </tr>
          <tr>
            <td align="right" colspan="4">{$LINK_BANNER}&nbsp;&nbsp;{$LINK_CLICKS}&nbsp;&nbsp;{$LINK_SALES}</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
