{config_load file="$language/affiliate_lang_$language.conf" section="affiliate_clicks"}
<font size="3" face="Verdana, Arial, Helvetica, sans-serif"><strong>{#heading_title#}</strong></font>

<table width="100%" border="0" cellspacing="0" cellpadding="1" class="infoBox">
  <tr>
    <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
      <tr>
        <td class="main" colspan="4">{#text_affiliate_header#}&nbsp;&nbsp;{$affiliate_clickthroughs_split_number}</td>
      </tr>
      <tr>
        <td class="infoBoxHeading">{#table_heading_date#}</td>
 	    <td class="infoBoxHeading">{#table_heading_clicked_product#}</td>
	    <td class="infoBoxHeading">{#table_heading_referred#}</td>
      </tr>
      {if $ct_array != ''}
      {foreach item=ct from=$ct_array}
      <tr bgcolor="{cycle values="#eeeee,#dddddd"}">
        <td>{$ct.date}</td>
        <td>{$ct.products_id} - {$ct.products_name}</td>
        <td>{$ct.client_referer}</td>
      </tr>
      {/foreach}
      {else}
        <tr class="productListing-odd"><td class="main" colspan="3">{#text_no_clicks#}</td></tr>
      {/if}
      <tr>
        <td colspan="3"><table border="0" width="100%" cellspacing="0" cellpadding="0">
		  <tr>
	        <td class="smallText">{$affiliate_clickthroughs_split_count}</td>
	        <td class="smallText">{$affiliate_clickthroughs_split_links}</td>
	      </tr>
	    </table></td>
	  </tr>
	</table></td>
  </tr>
</table>