{config_load file="$language/affiliate_lang_$language.conf" section="affiliate_payment"}
<font size="3" face="Verdana, Arial, Helvetica, sans-serif"><strong>{#heading_title#}</strong></font>
<table width="100%" border="0" cellspacing="0" cellpadding="1" class="infoBox">
  <tr>
    <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
      <tr>
        <td class="main" colspan="4">{#text_affiliate_header#}&nbsp;&nbsp;{$affiliate_payment_split_number}</td>
      </tr>
      <tr>
        <td class="infoBoxHeading">{#table_heading_payment_id#}</td>
        <td class="infoBoxHeading">{#table_heading_date#}</td>
        <td class="infoBoxHeading">{#table_heading_payment#}</td>
        <td class="infoBoxHeading">{#table_heading_status#}</td>
      </tr>
      {if $ap_array != ''}
      {foreach item=ap from=$ap_array}
      <tr bgcolor="{cycle values="#eeeee,#dddddd"}">
        <td>{$ap.affiliate_id}</td>
        <td>{$ap.affiliate_payment_date}</td>
        <td>{$ap.affiliate_payment_total}</td>
        <td>{$ap.affiliate_payment_status_name}</td>
      </tr>
      {/foreach}
      {else}
        <tr class="productListing-odd"><td colspan="4" class="main">{#text_no_payments#}</td></tr>
      {/if}
      <tr>
        <td colspan="4"><table border="0" width="100%" cellspacing="0" cellpadding="0">
		  <tr>
	        <td class="smallText">{$affiliate_payment_split_count}</td>
	        <td class="smallText">{$affiliate_payment_links}</td>
	      </tr>
	    </table></td>
	  </tr>
	  <tr>
        <td class="main" colspan="4"><br>{#text_information_payment_total#}&nbsp;&nbsp;{$affiliate_payment_total}</td>
      </tr>
    </table></td>
  </tr>
</table>