{config_load file="$language/lang_$language.conf" section="also_purchased"}
{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="also_purchased"}
<h4 class="detailbox">{#heading_text#}</h4>
<div class="listingcontainer_details cf">
{foreach name=aussen item=module_data from=$module_content}
  {include file="`$smarty.const.CURRENT_TEMPLATE`/module/includes/product_info_include.html"}
{/foreach}
</div>
