{config_load file="$language/lang_$language.conf" section="error_handler"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="error_handler"}
{if $error}
  <span class="autocomplete_error">{#text_search_again#}</span>
{else}
  <ul id="autocomplete_main">
    {foreach item=products_data from=$module_content}
      <li class="cf autocomplete_content">
        <a class="autocomplete" href="{$products_data.PRODUCTS_LINK}">
          {if $products_data.PRODUCTS_IMAGE}
            <span class="autocomplete_image cf"><img src="{$products_data.PRODUCTS_IMAGE}" alt="{$products_data.PRODUCTS_NAME|onlytext}" /></span>
          {else}
            <span class="autocomplete_image cf">&nbsp;</span>
          {/if}
          <span class="ac_text">{$products_data.PRODUCTS_NAME}</span>
          <span class="ac_price">
            {foreach name=inner item=price_data from=$products_data.PRODUCTS_PRICE_ARRAY}
              {include file="`$smarty.const.CURRENT_TEMPLATE`/module/includes/price_box.html"}
            {/foreach}
            {if $products_data.PRODUCTS_PRICE_ARRAY.0.PRODUCTS_PRICE_FLAG != 'NotAllowed'}
              {if $products_data.PRODUCTS_VPE}<span class="ac_vpe">{$products_data.PRODUCTS_VPE}</div>{/if}
            {/if}
          </span>
        </a>
      </li>
    {/foreach}
  </ul>
  
  <ul id="autocomplete_pagination">
    <li id="autocomplete_prev">&laquo;</li>
    <li id="autocomplete_count"></li>
    <li id="autocomplete_next">&raquo;</li>
  </ul>
{/if}