{config_load file="$language/lang_$language.conf" section="shopping_cart"}
{foreach name=aussen key=brand item=module_data from=$module_content}
{assign var=brd value=$brand|ucwords}
<h2 class="cat-crt-h2"><img src="{$BRAND_PIC.$brand}" alt="{$brand}-Originalteile" /> {$smarty.const.NR_UPDATE_CART|sprintf:$brd}</h2>
{$FORM_ACTION.$brand}
<ul class="orderlist">
  <li>
    <div class="orderlist_header cf">
      <span class="ol_quantity ol_width1">{#text_qty#}</span>
      <span class="ol_image ol_width2">&nbsp;</span>
      <span class="ol_productsname ol_width3">{#text_article#}</span>
      <span class="ol_price_row ol_width4_header cf">
        <span class="ol_totalprice ol_width5">{#text_total#}</span>
        <span class="ol_singleprice ol_width6">{#text_single#}</span>
        <span class="ol_delete ol_width7">{#text_remove#}</span>
      </span>
    </div>
  </li>
  {foreach name=aussen item=item_data from=$module_data} 
  <li>
    <div class="orderlist_row {cycle values="ol_row1,ol_row2"} cf">
      <span class="ol_quantity ol_width1">{$item_data.PRODUCTS_QTY}</span>
      <span class="ol_image ol_width2">&nbsp;<img src="{$module_data.PRODUCTS_IMAGE}" alt="" /></span>
      <span class="ol_productsname ol_width3">
        <span class="ol_distance">
            {$item_data.PRODUCTS_NAME} ({$item_data.PRODUCTS_MODEL})
        </span>
      </span>
      <span class="ol_price_row ol_width4 cf">
        <span class="ol_totalprice ol_width5">
            <span class="ol_distance">{$item_data.PRODUCTS_PRICE}</span>
        </span>
        <span class="ol_singleprice ol_width6">
            <span class="ol_distance">{$item_data.PRODUCTS_SINGLE_PRICE}</span>
        </span>
        <span class="ol_delete ol_width7"><span class="cssButtonPos13">{$item_data.BUTTON_DELETE}</span></span>
      </span>
    </div>
  </li>
  {/foreach}
</ul>

<div class="ord_subtotal cf">
  <ul class="ord_total_list">
    <li class="otl_row1 cf">
      {if $UST_CONTENT.$brand}{$UST_CONTENT.$brand}{else}<strong>{$smarty.const.TAX_INFO_EXCL|sprintf:''}</strong>{/if}
    </li>
    <li class="otl_row1 cf">
        <strong>{$TOTAL_CONTENT.$brand}</strong>
    </li>
  </ul>
</div>

<div class="paddbott25">
    <div class="cssButtonPos11">{$BUTTON_RELOAD.$brand}</div>&nbsp;<div class="cssButtonPos11">{$BUTTON_CHECKOUT.$brand}</div><div id="cssButtonPoshid">{$REMOTEBUTTON_CHECKOUT.$brand}</div>
</div>
{$FORM_END.$brand}
{/foreach}