{config_load file="$language/lang_$language.conf" section="shopping_cart"}
<h1>{#heading_cart#}</h1>
{if $cart_empty==true}
<p>{#text_empty#}</p>
<p>{$BUTTON_CONTINUE}</p>
{else}
<div class="highlightbox cf">
{$MODULE_catalogue_order_details}
</div>
{/if}