{config_load file="$language/lang_$language.conf" section="checkout_payment"}
{config_load file="$language/lang_$language.conf" section="checkout_navigation"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="checkout_payment"}
{literal}
<noscript>
<style type="text/css">
  .nonjs-fallback {display:none !important;}
  .nonjs-heading {margin:10px 0px 5px 0px; font-weight:bold;}
  .nonjs-h4 {margin:10px 0px 10px 0px;}
</style>
</noscript>
{/literal}

{if isset($NO_SHIPPING)}
  <ul id="checkoutnavigation" class="cn_no_shipping cf">
    <li><span class="active cf"><span class="title">1. {#title_payment#}</span><span class="description">{#desc_payment#}</span></span></li>
    <li><span class="inactive cf"><span class="title">2. {#title_confirmation#}</span><span class="description">{#desc_confirmation#}</span></span></li>
    <li><span class="inactive cf"><span class="title">3. {#title_success#}</span><span class="description">{#desc_success#}</span></span></li>
  </ul>
{else}
  <ul id="checkoutnavigation" class="cf">
    <li><span class="inactive cf"><span class="title">1. {#title_shipping#}</span><span class="description">{#desc_shipping#}</span></span></li>
    <li><span class="active cf"><span class="title">2. {#title_payment#}</span><span class="description">{#desc_payment#}</span></span></li>
    <li><span class="inactive cf"><span class="title">3. {#title_confirmation#}</span><span class="description">{#desc_confirmation#}</span></span></li>
    <li><span class="inactive cf"><span class="title">4. {#title_success#}</span><span class="description">{#desc_success#}</span></span></li>
  </ul>
{/if}

<h1 class="checkout">{#heading_payment#}</h1>
{if $error != ''}<div class="errormessage">{$error}</div>{/if}

{$FORM_ACTION}
<div class="twoColums">
  <div class="highlightbox">
    <h4 class="checkout">{#title_payment#}</h4>
    {if (!isset($GV_COVER) || $GV_COVER != 'true') && (!isset($NO_PAYMENT) || $NO_PAYMENT != 'true')}
      <p>{#text_payment#}</p>
      {$PAYMENT_BLOCK}{$module_gift}
    {elseif isset($GV_COVER) && $GV_COVER == 'true'}
      <div class="infomessage" id="gccover"><b>{#text_gccover#}</b></div>
    {elseif isset($NO_PAYMENT) && $NO_PAYMENT == 'true'}
      <div class="infomessage" id="nopayment"><b>{#text_nopayment#}</b></div>
    {/if}
  </div>
</div>

<div class="twoColums last">
  {if $step2 != 'true'}
  <div class="highlightbox">
    <h4 class="checkout">{#title_address#}</h4>
    <p class="cf"><span class="button_right_checkout_small">{$BUTTON_ADDRESS}</span>{$ADDRESS_LABEL}</p>
  </div>
  {*BOC added vin field, noRiddle*}
  {*<br />
  <div class="highlightbox">
  <h4 class="checkout">{#title_vin#} <a class="iframe" href="{$smarty.const.FILENAME_POPUP_CONTENT|xtc_href_link:'coID=7658'}"><i class="fa fa-question-circle"></i></a></h4>
  {$VIN_FIELD}
  </div>*}
  {*EOC added vin field, noRiddle*}
  {/if}

  {if $step2 != 'true'}
  <br />
  <div class="highlightbox">
    {if $smarty.const.DISPLAY_CONDITIONS_ON_CHECKOUT == 'true'}
      <div id="horizontalTab">
        <ul class="resp-tabs-list nonjs-fallback">
          <li>{#title_comments_short#}</li>
          <li>{#title_agb#}</li>
        </ul>
        <div class="resp-tabs-container">
          <noscript><h4 class="nonjs-h4">{#title_comments_short#}</h4></noscript>
          <div class="checkoutcomment">{$COMMENTS}</div>
          <div>
            <noscript><h4 class="nonjs-h4">{#title_agb#}</h4></noscript>
            <div class="checkoutagb">{$AGB}</div>
          </div>
        </div>
      </div>
      <div class="checkoutconditions">
        {$AGB_checkbox} <strong><label for="conditions">{#text_accept_agb#}</label></strong>&nbsp;{$AGB_LINK}
      </div>
      {if isset($REVOCATION_checkbox)}
        <div class="checkoutconditions">
          {$REVOCATION_checkbox} <strong><label for="revocation">{#text_accept_revocation#}</label></strong>&nbsp;{$REVOCATION_LINK}
        </div>
      {/if}
    {else}
      <h4 class="checkout">{#title_comments_short#}</h4>
      <div class="checkoutcomment">{$COMMENTS}</div>
      {*BOC added text agb and link, noRiddle*}
      <br /><strong><label for="conditions">{#nr_text_agb#}</label></strong>&nbsp;{$AGB_LINK}
      {*EOC added text agb and link, noRiddle*}
      {if isset($REVOCATION_checkbox)}
        <div class="checkoutconditions">
          {$REVOCATION_checkbox} <strong><label for="revocation">{#text_accept_revocation#}</label></strong>&nbsp;{$REVOCATION_LINK}
        </div>
      {/if}
    {/if}
  </div>
  {/if}

</div>
<br class="clearfix" />
{if isset($BUTTON_BACK)}<div class="button_left"><div class="cssButtonPos12">{$BUTTON_BACK}</div></div>{/if}
<div class="button_right_checkout"><div class="cssButtonPos12">{$BUTTON_CHECKOUT_STEP3}</div></div>
{$FORM_END}