{config_load file="$language/lang_$language.conf" section="newsletter"}
{config_load file="$language/lang_$language.conf" section="create_account"}
{config_load file="$language/lang_$language.conf" section="contact_us"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="contact_us"}
<h1>{$CONTACT_HEADING|contentplaceholder}</h1>
{if $error_message != ''}
<div class="errormessage">
<ul> {*BOC make it an unordered list, changes in lang files, noRiddle*}
{$error_message}
</ul>
</div>
{/if}

{if $success != '1'}
  <div class="twoColums cf">
    {$FORM_ACTION}
    <div class="highlightbox">
      <h4>{#text_data#} <span class="pflicht">({#text_hint#})</span></h4>
      <table>
        <tr>
          <td><span class="fieldtext">{#text_name#}</span><span class="stern">{$INPUT_NAME}</span></td>
        </tr>
        <tr>
          <td><span class="fieldtext">{#text_email#}</span><span class="stern">{$INPUT_EMAIL|replace:"type=\"text\"":"type=\"email\""} <span class="inputRequirement">*</span></span></td>
        </tr>
        <tr>
          <td><span class="fieldtext">{#text_phone#}</span><span class="stern">{$INPUT_PHONE|replace:"type=\"text\"":"type=\"tel\""}</span></td>
        </tr>
{*
        <tr>
          <td><span class="fieldtext">{#text_fax#}</span><span class="stern">{$INPUT_FAX|replace:"type=\"text\"":"type=\"tel\""}</span></td>
        </tr>
        <tr>
          <td><span class="fieldtext">{#text_street#}</span><span class="stern">{$INPUT_STREET}</span></td>
        </tr>
        <tr>
          <td><span class="fieldtext">{#text_postcode#}</span><span class="stern">{$INPUT_POSTCODE|replace:"type=\"text\"":"type=\"tel\""}</span></td>
        </tr>
        <tr>
          <td><span class="fieldtext">{#text_city#}</span><span class="stern">{$INPUT_CITY}</span></td>
        </tr>
        <tr>
          <td><span class="fieldtext">{#text_company#}</span><span class="stern">{$INPUT_COMPANY}</span></td>
        </tr>
*}
        {*BOC new fields VIN and product, noRiddle*}
        {if $INPUT_PRODUCT}
        <tr>
            <td><span class="fieldtext">{#ah_text_product#}</span><span class="stern">{$INPUT_PRODUCT}</span></td>
        </tr>
        {/if}
        {if $INPUT_VIN}
        <tr>
            <td><span class="fieldtext">{#ah_text_vin#}</span><span class="stern">{$INPUT_VIN} <span class="inputRequirement">*</span></span></td>
        </tr>
        {/if}
        {*EOC new fields VIN and product, noRiddle*}
        <tr>
          <td><span class="fieldtext">{#text_message#}</span><span class="stern">{$INPUT_TEXT}<span class="inputRequirement_textarea"> *</span></span></td>
        </tr>
        {*BOC new file upload field, noRiddle*}
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td>
            <span class="fieldtext">{#ah_text_upload#}</span><span class="stern">{$INPUT_UPLOAD}</span>
            <br /><span class="dpib sml">{$UPLOAD_TEXT}</span>
          </td>
        </tr>
        {*EOC new file upload field, noRiddle*}
        {if $INPUT_CODE}
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td><span class="fieldtext">{#text_sec_code#}</span><span class="stern">{$VVIMG} <span id="rel-capt"><i class="fa fa-refresh"></i></span></span></td>
        </tr>
        <tr>
          <td><span class="fieldtext">{#text_inp_code#}</span><span class="stern">{$INPUT_CODE}<span class="inputRequirement"> *</span></span></td>
        </tr>
        {/if}
      </table>    
      {if $PRIVACY_CHECKBOX}
      <br />
      <table>
        <tr>
          <td>{$PRIVACY_CHECKBOX} <strong><label for="privacy">{#text_privacy_accept#}</label></strong> {$PRIVACY_LINK}</td>
        </tr>
      </table>
      {/if}
      {*BOC new checkbox for sending mail to customer as well, noRiddle*}
      <br />
      <table>
        <tr>
          <td>{$SEND_ME_MAIL} <label for="send_me_mail">{#txt_send_me_mail#}</label></td>
        </tr>
      </table>
      {*EOC new checkbox for sending mail to customer as well, noRiddle*}
    </div>
    <div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_SUBMIT}</div></div>
    {$FORM_END}
  </div>

  <div class="twoColums last">
    <div class="highlightbox plainright">
      <h4>{#text_contact_us#} <span class="pflicht">&nbsp;</span></h4>
      {$CONTACT_CONTENT|contentplaceholder}
    </div>
  </div>
{else}
  <div class="twoColums last">
    <div class="highlightbox plainleft cf">
      <h4>{#text_thanks#} <span class="pflicht">&nbsp;</span></h4>
      <p>{#text_success#}</p>
      <div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_CONTINUE}</div></div>
    </div>
  </div>
{/if}
