{*BOC new flag JAC_SHOW_CONT because of account success page via content manager, 01-2020, noRiddle*}
{if isset($JAC_SHOW_CONT) && $JAC_SHOW_CONT == 'true'}
{if isset($CONTENT_HEADING) && $CONTENT_HEADING != ''}<h1>{$CONTENT_HEADING|contentplaceholder}</h1>{/if}
<div class="content_site cf">
  {if isset($file)}
    {if isset($SUB_CONTENT_LISTING)}<div class="subcontent cf">{$SUB_CONTENT_LISTING}</div>{/if} {*make sub-content menu also available in case of file, noRiddle*}
    {$CONTENT_BODY|contentplaceholder}
    {$file}
  {else}
    {if isset($SUB_CONTENT_LISTING)}<div class="subcontent cf">{$SUB_CONTENT_LISTING}</div>{/if}
    {$CONTENT_BODY|contentplaceholder}
  {/if}
</div>
{if $smarty.get.coID != '1000' && $smarty.get.coID != '1001' && $smarty.get.coID != '1003'}
<div class="button_left cf"><div class="cssButtonPos4">{$BUTTON_CONTINUE}</div></div>
{/if} {*exclude button in catalogue on certain pages, noRiddle*}
{/if}
{*EOC new flag JAC_SHOW_CONT because of account success page via content manager, 01-2020, noRiddle*}
