{config_load file="$language/lang_$language.conf" section="create_account"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="create_account"}
<h1>{#heading_create_account#}</h1>
{$FORM_ACTION}
{if $error != ''}<div class="errormessage">{$error}</div>{/if}
<div class="highlightbox cf">
  <div class="twoColumsInner">
    <h4>{#title_personal#} <span class="pflicht">({#text_must#})</span></h4>
    <label for="comp-noquest" class="comp-quest">{#ah_txt_company_noquest#}</label> <input type="radio" name='comp_quest' id="comp-noquest" checked="checked" /><br />
    <label for="comp-quest" class="comp-quest">{#ah_txt_company_quest#}</label> <input type="radio" name='comp_quest' id="comp-quest" />
    <table>
      {if $gender == '1'}
      <tr>
        <td><span class="fieldtext">{#text_gender#}</span><span class="stern">{$INPUT_GENDER|add_nogender}</span></td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_firstname#}</span><span class="stern">{$INPUT_FIRSTNAME}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_lastname#}</span><span class="stern">{$INPUT_LASTNAME}</span></td>
      </tr>
      {if $birthdate == '1'}
      <tr>
        <td><span class="fieldtext">{#text_birthdate#}</span><span class="stern">{$INPUT_DOB|replace:"type=\"text\"":"type=\"tel\""}</span></td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_email#}</span><span class="stern">{$INPUT_EMAIL|replace:"type=\"text\"":"type=\"email\""}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_confirm_email#}</span><span class="stern">{$INPUT_CONFIRM_EMAIL|replace:"type=\"text\"":"type=\"email\""}</span></td>
      </tr>
    </table>
    {if $company == '1'}
    <div id="comp-det">
    <br />
    <h4>{#title_company#}</h4>
    <table>
      <tr>
        <td><span class="fieldtext">{#text_company#}</span><span class="stern">{$INPUT_COMPANY}</span></td>
      </tr>
      {if $vat == '1'}
      <tr>
        {*<td><span class="fieldtext">{#text_ustid#}</span><span class="stern">{$INPUT_VAT|replace:"Nur":"<br />Nur"}</span></td>*}
        <td><span class="fieldtext">{#text_ustid#} ({$smarty.const.ENTRY_VAT_TEXT})</span><span class="stern">{$INPUT_VAT|replace:$smarty.const.ENTRY_VAT_TEXT:''}</span></td>
      </tr>
      {/if}
    </table>
    </div>
    {/if}
    {if $CHECKBOX_NEWSLETTER}
    <br />
    <h4>{#title_newsletter#}</h4>
    <table>
      <tr>
        <td class="checkbox">{$CHECKBOX_NEWSLETTER}</td>
        <td class="midi"><label for="newsletter">{#text_newsletter#}</label></td>
      </tr>
    </table>
    {/if}
    {*BOC new ADAC field, noRiddle*}
    {if isset($INPUT_ADAC_NO)}
    <br />
    <h4>{#title_adac#} 
        <a class="iframe" title="ADAC-Information" href="{$smarty.const.HTTP_SERVER}/ADAC#ADAC" target="_blank" rel="nofollow">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
    </h4>
    <p>{#text_expl_adac_no#}</p>
    <table>
      <tr>
        <td><span class="fieldtext">{#text_adac_no#}</span><span class="stern">{$INPUT_ADAC_NO}</span></td>
      </tr>
    </table>
    {/if}
    {*EOC new ADAC field, noRiddle*}
  </div>

  <div class="twoColumsInner last">
    <h4>{#title_address#}</h4>
    <table>
      <tr>
        <td><span class="fieldtext">{#text_street#}</span><span class="stern">{$INPUT_STREET}</span></td>
      </tr>
      {if $suburb == '1'}
      <tr>
        <td><span class="fieldtext">{#text_suburb#}</span><span class="stern">{$INPUT_SUBURB}</span></td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_code#}</span><span class="stern">{$INPUT_CODE|replace:"type=\"text\"":"type=\"tel\""}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_city#}</span><span class="stern">{$INPUT_CITY}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_country#}</span><span class="stern">{$SELECT_COUNTRY}</span></td>
      </tr>
      {if $state == '1'}
      <tr{if $display_state}{$display_state}{/if}>
        <td><span class="fieldtext">{#text_state#}</span><span class="stern">{$INPUT_STATE}</span></td>
      </tr>
      {/if}
    </table>
    <br />
    <h4>{#title_contact#}</h4>
    <table>
      <tr>
        <td><span class="fieldtext">{#text_tel#}</span><span class="stern">{$INPUT_TEL|replace:"type=\"text\"":"type=\"tel\""}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_fax#}</span><span class="stern">{$INPUT_FAX|replace:"type=\"text\"":"type=\"tel\""}</span></td>
      </tr>
    </table>
    <br />
    <h4>{#title_password#}</h4>
    <p>{#text_password_policy#|sprintf:$smarty.const.ENTRY_PASSWORD_MIN_LENGTH}</p>
    <table>
      <tr>
        <td><span class="fieldtext">{#text_password#}</span><span class="stern">{$INPUT_PASSWORD}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_confirmation#}</span><span class="stern">{$INPUT_CONFIRMATION}</span></td>
      </tr>
      {if $INPUT_VVCODE}
      <tr>
        <td><span class="fieldtext">{#text_sec_code#}:</td>
        <td>{$VVIMG} <span id="rel-capt"><i class="fa fa-refresh"></i></span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_sec_code#}:</td>
        <td>{$INPUT_VVCODE}</td>
      </tr>
      {/if}
    </table>

    {if $PRIVACY_CHECKBOX}
    <br />
    <table>
      <tr>
        {*<td class="checkbox">{$PRIVACY_CHECKBOX}</td>
        <td class="midi td_full"><strong><label for="privacy">{#text_privacy_accept#}</label></strong> {$PRIVACY_LINK}</td>*}
        <td class="midi td_full">{$PRIVACY_CHECKBOX} <strong><label for="privacy">{#text_privacy_accept#}</label></strong> {$PRIVACY_LINK}</td>
      </tr>
    </table>
    {/if}
  </div>
</div>
<div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_SUBMIT}</div></div>
{$FORM_END}