{config_load file="$language/lang_$language.conf" section="create_account"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="create_account_guest"}
<h1>{#heading_create_account#}</h1>
{$FORM_ACTION}
{if $error != ''}<div class="errormessage">{$error}</div>{/if}
<div class="highlightbox cf">
  <div class="twoColumsInner">
    <h4>{#title_personal#} <span class="pflicht">({#text_must#})</span></h4>
    <table>
      {if $gender == '1'}
      <tr>
        <td><span class="fieldtext">{#text_gender#}</span><span class="stern">{$INPUT_GENDER|add_nogender}</span></td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_firstname#}</span><span class="stern">{$INPUT_FIRSTNAME}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_lastname#}</span><span class="stern">{$INPUT_LASTNAME}</span></td>
      </tr>
      {if $birthdate == '1'}
      <tr>
        <td><span class="fieldtext">{#text_birthdate#}</span><span class="stern">{$INPUT_DOB|replace:"type=\"text\"":"type=\"tel\""}</span></td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_email#}</span><span class="stern">{$INPUT_EMAIL|replace:"type=\"text\"":"type=\"email\""}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_confirm_email#}</span><span class="stern">{$INPUT_CONFIRM_EMAIL|replace:"type=\"text\"":"type=\"email\""}</span></td>
      </tr>
    </table>
    {if $company == '1'}
    <br />
    <h4>{#title_company#}</h4>
    <table>
      <tr>
        <td><span class="fieldtext">{#text_company#}</span><span class="stern">{$INPUT_COMPANY}</span></td>
      </tr>
      {if $vat == '1'}
      <tr>
        {*<td><span class="fieldtext">{#text_ustid#}</span><span class="stern">{$INPUT_VAT|replace:"Nur":"<br />Nur"}</span></td>*}
        <td><span class="fieldtext">{#text_ustid#} ({$smarty.const.ENTRY_VAT_TEXT})</span><span class="stern">{$INPUT_VAT|replace:$smarty.const.ENTRY_VAT_TEXT:''}</span></td>
      </tr>
      {/if}
    </table>
    {/if}
    {if $CHECKBOX_NEWSLETTER}
    <br />
    <h4>{#title_newsletter#}</h4>
    <table>
      <tr>
        <td class="checkbox">{$CHECKBOX_NEWSLETTER}</td>
        <td class="midi"><label for="newsletter">{#text_newsletter#}</label></td>
      </tr>
    </table>
    {/if}
  </div>

  <div class="twoColumsInner last">
    <h4>{#title_address#}</h4>
    <table>
      <tr>
        <td><span class="fieldtext">{#text_street#}</span><span class="stern">{$INPUT_STREET}</span></td>
      </tr>
      {if $suburb == '1'}
      <tr>
        <td><span class="fieldtext">{#text_suburb#}</span><span class="stern">{$INPUT_SUBURB}</span></td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_code#}</span><span class="stern">{$INPUT_CODE|replace:"type=\"text\"":"type=\"tel\""}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_city#}</span><span class="stern">{$INPUT_CITY}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_country#}</span><span class="stern">{$SELECT_COUNTRY}</span></td>
      </tr>
      {if $state == '1'}
      <tr{if $display_state}{$display_state}{/if}>
        <td><span class="fieldtext">{#text_state#}</span><span class="stern">{$INPUT_STATE}</span></td>
      </tr>
      {/if}
    </table>
    <br />
    <h4>{#title_contact#}</h4>
    <table>
      <tr>
        <td><span class="fieldtext">{#text_tel#}</span><span class="stern">{$INPUT_TEL|replace:"type=\"text\"":"type=\"tel\""}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_fax#}</span><span class="stern">{$INPUT_FAX|replace:"type=\"text\"":"type=\"tel\""}</span></td>
      </tr>
    </table>
    {if $PRIVACY_CHECKBOX}
    <br />
    <table>
      <tr>
        {*<td class="checkbox">{$PRIVACY_CHECKBOX}</td>
        <td class="midi td_full"><strong><label for="privacy">{#text_privacy_accept#}</label></strong> {$PRIVACY_LINK}</td>*}
        <td class="midi td_full">{$PRIVACY_CHECKBOX} <strong><label for="privacy">{#text_privacy_accept#}</label></strong> {$PRIVACY_LINK}</td>
      </tr>
    </table>
    {/if}
    
    {if $INPUT_VVCODE}
    <table>
      <tr>
        <td><span class="fieldtext">{#text_sec_code#}:</td>
        <td>{$VVIMG} <span id="rel-capt"><i class="fa fa-refresh"></i></span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_sec_code#}:</td>
        <td>{$INPUT_VVCODE}</td>
      </tr>
    </table>
    {/if}
    
  </div>
</div>
<div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_SUBMIT}</div></div>
{$FORM_END}