{config_load file="$language/lang_$language.conf" section="cross_selling"}
{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="cross_selling"}
<h4 class="detailbox">{#heading_text#}</h4>
{foreach name=aussen item=products_data from=$module_content}
{if $products_data.GROUP != ''}<h2>{$products_data.GROUP}</h2>{/if}
  <div class="listingcontainer_details cf">
  {foreach item=module_data from=$products_data.PRODUCTS}
    {include file="`$smarty.const.CURRENT_TEMPLATE`/module/includes/product_info_include.html"}
  {/foreach}
  </div>  
{/foreach}

