{if $dl neq ''}
  {config_load file="$language/lang_$language.conf" section="downloads_module"}
  {config_load file="$language/lang_$language.conf" section="login"}
  {config_load file="lang_`$language`.custom"}
  {config_load file="lang_`$language`.section" section="downloads_module"}
  <h1>{#heading_download#}</h1>
  {if $FORM_ACTION}
    {if $error != ''}<div class="errormessage">{$error}</div>{/if}
    {$FORM_ACTION}
    <p>{#text_confirm_download#}</p>
    <div class="highlightbox">
      <table>
        <tr>
          <td><span class="fieldtext">{#text_email#}</span>{$INPUT_MAIL}</td>
        </tr>
      </table>
    </div>
    <div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_LOGIN}</div></div>
    {$FORM_END}
  {else}
    {if $dl_prevented eq 'true'}
      {if $dl_not_found}
        <p>{#download_not_found#}</p>
      {elseif $dl_exceeded eq 'true'}
        <p>{#download_exceeded#}</p>
      {else}
        <p>{#download_not_allowed#}</p>
      {/if}
    {/if}
    {if $dl|@sizeof > 0}
      {foreach name=aussen item=dl_data from=$dl}
      <div class="downloadrow cf">
        <div class="dl_icon">
          {if $dl_data.allowed}
            <a href="{$dl_data.pic_link}"><img src="{$tpl_path}img/img_download.png" alt="" border="0" /></a>
          {else}
            <a href="{$dl_data.pic_link}"><img src="{$tpl_path}img/img_download_locked.png" alt="" border="0" /></a>
          {/if}
        </div>
        <div class="dl_content">
          <strong>{$dl_data.download_link}</strong><br />
          {#table_heading_download_date#}&nbsp;{$dl_data.date} &bull; <strong>{$dl_data.count}</strong>&nbsp;{#table_heading_download_count#}
        </div>
      </div>
      {/foreach}
    {/if}
  {/if}
{/if}
{if $BUTTON_BACK && !$FORM_ACTION}
  <div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_BACK}</div></div>
{/if}