{config_load file="$language/lang_$language.conf" section="error_handler"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="error_handler"}
<h1>{$ERROR}</h1>
<p>{#text_search_again#}</p>{*<br />{#text_search_advanced1#} <a href="{$LINK_ADVANCED}">{#text_search_advanced2#}</a> {#text_search_advanced3#}</p>*}

<div class="highlightbox cf">
  {$FORM_ACTION|replace:'advanced_search_result':'search_results'} {*use our cutom made search file, noRiddle*}
  <div class="twoColums">
    <table>
      <tr>
        <td><span class="fieldtext">{#text_search#}</span>{$INPUT_SEARCH}</td>
      </tr>
    </table>
  </div>
  <div class="twoColums last">
    <div class="button_left_error cf"><div class="cssButtonPos4">{$BUTTON_SUBMIT}</div></div>
  </div>

  {$FORM_END}
</div>
<div class="button_left cf"><div class="cssButtonPos4">{$BUTTON}</div></div>
<br class="clearfix" />