{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="index"}
{if isset($MODULE_error)}{$MODULE_error}{/if}

{if isset($title) && $title != ''}<h1>{$title|contentplaceholder}</h1>{/if}
{if isset($text) && $text != ''}<div class="homesite cf">{$text|contentplaceholder}</div>{/if}

{*BOC not logged in start text (coID=15), noRiddle*}
{if !isset($smarty.session.customer_id)}
  {if isset($text3) && $text3 != ''}
  {if isset($title3) && $title3 != ''}<h2 class="start-pg">{$title3|contentplaceholder}</h2>{/if}
  <div class="h2cent">{$text3|contentplaceholder}</div>
  {/if}
{/if}

{*BOC add file, noRiddle*}
{if isset($nr_start_file)}
{$nr_start_file}
{/if}
{*EOC add file, noRiddle*}
{*EOC not logged in start text (coID=15), noRiddle*}

{*BOC second start text (coID=10), noRiddle*}
{if isset($text2) && $text2 != ''}
<div class="homesite2 cf">
{if isset($title2) && $title2 != ''}<h2 class="start-pg">{$title2|contentplaceholder}</h2>{/if}
{$text2|contentplaceholder}
</div>
{/if}
{*EOC second start text (coID=10), noRiddle*}

{if isset($MODULE_new_products)}
{$MODULE_new_products}
{/if}

{*BOC no need for this performance killing module, noRiddle*}
{*
{if isset($MODULE_upcoming_products)}
{$MODULE_upcoming_products}
{/if}
*}
{*EOC no need for this performance killing module, noRiddle*}