{config_load file="$language/lang_$language.conf" section="new_products"}
{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="new_products"}
<h2 class="start-pg">{if #heading_text_top# != ''}{#heading_text_top#}{else}{#heading_text#}{/if}</h2>
<div class="listingcontainer cf">
  {include file="`$smarty.const.CURRENT_TEMPLATE`/module/includes/product_listing_include.html"}
</div>  