{config_load file="$language/lang_$language.conf" section="new_password"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="new_password"}
<h1>{$text_heading}</h1>
{$FORM_ACTION}
<div class="highlightbox cf">
  <h4>{$message}</h4>
  <div class="twoColumsInner">
    <strong>{#text_step1#}</strong><br />{#text_info_pre#} {$SHOP_NAME} {#text_info_post#}
  </div>

  <div class="twoColumsInner last">
    {if $info_message != ''}<div class="errormessage">{$info_message}</div>{/if}
    <table>
      {if $INPUT_CODE}
      <tr>
        <td><span class="fieldtext">{#text_sec_code#}:</span>{$VVIMG} <span id="rel-capt"><i class="fa fa-refresh"></i></span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_sec_code#}:</span>{$INPUT_CODE}</td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_email#}</span>{$INPUT_EMAIL|replace:"type=\"text\"":"type=\"email\""}</td>
      </tr>
    </table>
  </div>
</div>
<div class="text_left">{#text_continue#}</div>
<div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_SEND}</div></div>
{$FORM_END}