{config_load file="$language/lang_$language.conf" section="reviews"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="reviews"}
{if isset($MODULE_TS_PRODUCT_STICKER)}
  {$MODULE_TS_PRODUCT_STICKER}
{else}
  <h4 class="detailbox">{#heading_reviews#}</h4>
  {if $error != ''}<div class="errormessage">{$error}</div>{/if}
  {if $reviews_count > 0}
    {foreach name=aussen item=module_data from=$module_content}
    <div class="reviewrow" itemprop="review" itemscope itemtype="http://schema.org/Review">        
      <div class="reviewrow_title">
          <strong>{#text_author#}</strong>&nbsp;<span itemprop="author">{$module_data.AUTHOR}</span>
          <meta itemprop="datePublished" content="{$module_data.DATE}" />
          &nbsp;am&nbsp;{$module_data.DATE} &nbsp;&nbsp;&nbsp; 
          <strong>{#text_rating#}</strong>
          <span class="stars" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            {$module_data.RATING|replace:".gif":".png"}
            <meta itemprop="worstRating" content="1">
            <meta itemprop="ratingValue" content="{$module_data.RATING_VOTE}">
            <meta itemprop="bestRating" content="5">
          </span>
      </div>
      <p><span itemprop="description">{$module_data.TEXT}</span></p>
    </div>
    {/foreach}
  {else}
    <p>{#text_write_first_review#}</p>
  {/if}
  <div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_WRITE}</div></div>
  <br class="clearfix" />
{/if}