{config_load file="$language/lang_$language.conf" section="reviews"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="reviews"}
<h1>{#heading_product_reviews#} {$PRODUCTS_NAME}</h1>
<div class="pri_imagebox">
  <div class="pri_big_image">
    {if $PRODUCTS_IMAGE != ''}<a class="cbimages" title="{$PRODUCTS_NAME|onlytext}" href="{$PRODUCTS_IMAGE|replace:"info_images":"popup_images"}"><img src="{$PRODUCTS_IMAGE}" alt="{$PRODUCTS_NAME|onlytext}" /></a>{/if}
  </div>
  <div class="pri_zoomtext">{#zoomtext#}</div>
</div>
<div class="pri_content">
  <p><strong>{#text_date#}</strong> {$DATE}</p>
  <p><strong>{#text_author#}</strong> {$AUTHOR}</p>
  <p class="cf"><span class="pri_rating_text"><strong>{#text_rating#}</strong></span><span class="pri_rating_stars">{$RATING|replace:".gif":".png"}</span></p>
  <br />
  <h4>{#heading_product_reviews#} {$PRODUCTS_NAME}</h4>
  <p>{$REVIEWS_TEXT}</p>
</div>
<br class="clearfix" />
<div class="button_left cf"><div class="cssButtonPos4">{$BUTTON_BACK}</div></div>
<div class="button_right cf"><div class="cssButtonPos4">{$PRODUCTS_BUTTON_DETAILS}</div></div>
