{config_load file="$language/lang_$language.conf" section="reviews"}
{config_load file="$language/lang_$language.conf" section="newsletter"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="reviews"}
<h1>{#heading_reviews_write#}</h1>
{if $error}<div class="errormessage">{$error}</div>{/if}
{if !isset($no_product)}
  {$FORM_ACTION}

  <div class="highlightbox">  
    <h4>{#text_product#} {$PRODUCTS_NAME}</h4>  
    <table>
      <tr>
        <td><span class="fieldtext">{#text_rating#}</span><span class="stern">{#text_bad#}&nbsp;{$INPUT_RATING}&nbsp;{#text_good#}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_author#}</span><span class="stern">{$INPUT_AUTHOR}</span></td>
      </tr>
      {if $INPUT_CODE}
      <tr>
        <td><span class="fieldtext">{#text_sec_code#}:</span><span class="stern">{$VVIMG}</span> <span id="rel-capt"><i class="fa fa-refresh"></i></span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_sec_code#}:</span><span class="stern">{$INPUT_CODE}<span class="inputRequirement"> *</span></span></td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_input#}</span><span class="stern">{$INPUT_TEXT}<span class="inputRequirement_textarea"> *</span></span></td>
      </tr>
    </table>
    <p>{#text_note#}</p>
  </div>
  <div class="button_left cf"><div class="cssButtonPos4">{$BUTTON_BACK}</div></div>
  <div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_SUBMIT}</div></div>
  {$FORM_END}
{/if}
