<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    <td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
      <font face="Tahoma, Verdana, sans-serif">Kundenkonto erfolgreich erstellt</font>
    </td>
	</tr>
	<tr> 
		<td>
      <br />
      <font size="2" face="Tahoma, Verdana, sans-serif"><b>{if $GENDER != ''}Sehr geehrte{if $GENDER == 'Herr'}r{/if} {$GENDER}{else}Hallo{/if} {$NAME},</b><br />
      <br />
      Sie haben soeben Ihr Kundenkonto erfolgreich erstellt.<br />
      Als registrierter Kunde haben Sie folgende Vorteile in unserem Shop:<br />
      <br />
      <b>Credits für die VIN-Suche:</b> Ihnen wurden 10 Credits für die Suche nach FINs (Fahrzeug-Identifizierungsnummer (eng. VIN)) im Katalog gutgeschrieben.<br />Bei jedem Einkauf in einem unserer Marken-Shops bekommen Sie weitere 10 Credits gutgeschrieben.
      <br />
      <b>Login-Daten:</b> Sie können sich immer wieder einloggen mit Ihren Login-Daten und müssen nicht alle Ihre Adress-Daten erneut eingeben.<br />In all unsere Shop können Sie sich mit denselben Login-Daten einloggen.
      <br />
      <br />
      <u>Achtung:</u> Diese E-Mail-Adresse wurde uns von einem Kunden bekannt gegeben. Falls Sie sich nicht angemeldet haben, senden Sie bitte eine E-Mail an: <a href="mailto:{$content.MAIL_REPLY_ADDRESS}">{$content.MAIL_REPLY_ADDRESS}</a><br />
      </font>
		</td>
	</tr>
</table>

[SIGNATUR]
</div>