{config_load file="$language/lang_$language.conf" section="categorie_listing"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="categorie_listing"}
{if isset($CATEGORIES_HEADING_TITLE) && $CATEGORIES_HEADING_TITLE != ''}
  <h1>{$CATEGORIES_HEADING_TITLE}</h1>
{else}
  <h1>{$CATEGORIES_NAME}</h1>
{/if}

{if (isset($CATEGORIES_DESCRIPTION) && $CATEGORIES_DESCRIPTION != '')
     || isset($CATEGORIES_IMAGE) && $CATEGORIES_IMAGE != ''}
<div class="cat_description cf">
  {if isset($CATEGORIES_IMAGE) && $CATEGORIES_IMAGE != ''}<img class="cat_image{if !$CATEGORIES_DESCRIPTION} ci_nomargin{/if}" src="{$CATEGORIES_IMAGE}" alt="{$CATEGORIES_NAME|onlytext}" />{/if}
  {if (isset($CATEGORIES_DESCRIPTION) && $CATEGORIES_DESCRIPTION != '')}{$CATEGORIES_DESCRIPTION}{/if}
</div>
{/if}

{if $module_content != '' && $TR_COLS > 0}
<h4>{#heading_more_categories#}</h4>
<div class="subcats cf">
  {foreach name=aussen item=module_data from=$module_content key=spalten}
  <div class="subcatlist">
    <div class="subcatlist_inner cf">
      <a href="{$module_data.CATEGORIES_LINK}">
        {if $module_data.CATEGORIES_IMAGE}<span class="subcat_image"><span class="subcat_image_inner cf"><img src="{$module_data.CATEGORIES_IMAGE}" alt="{$module_data.CATEGORIES_NAME|onlytext}" /></span></span>{/if}
        <span class="subcat_title"><span class="subcat_title_inner">{$module_data.CATEGORIES_NAME}</span></span>
      </a>
    </div>
  </div>
  {/foreach}
</div>
{/if}
{*{if isset($MODULE_new_products)}{$MODULE_new_products}{/if}*} {*don't need new products on categories page, commented also out in /includes/modules/default.php noRiddle*}