<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    <td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
      <font face="Tahoma, Verdana, sans-serif">Account successfully created</font>
    </td>
	</tr>
	<tr> 
		<td>
      <br />
      <font size="2" face="Tahoma, Verdana, sans-serif"><b>{if $GENDER != ''}Dear {$GENDER}{else}Hello{/if} {$NAME},</b><br />
      <br />
      your account has been successfully created.<br />
      You now have access to the following features:<br />
      <br />
      <b>Credits for search by VIN:</b> 10 credits for the search by VIN (Vehicle Identification Number) in our catalogue have been added to your account.<br />With each purchase in one of our brand shops another 10 credits will be automatically credited to your account.
      <br />
      <b>Login data:</b> You may log in with your login data when ever you want without having to add all your address data again.<br />You can log in into all our shops with the same login data.
      <br />
      <br />
      <u>Attention:</u> If this account wasn't created by you, please contact us at: <a href="mailto:{$content.MAIL_REPLY_ADDRESS}">{$content.MAIL_REPLY_ADDRESS}</a><br />
      </font>
		</td>
	</tr>
</table>

[SIGNATUR]
</div>