<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    	<td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
        <font face="Tahoma, Verdana, sans-serif">Der Status Ihrer Bestellung wurde ge&auml;ndert</font>
      </td>
	</tr>
	<tr> 
		<td>
        <br />
        <font size="2" face="Tahoma, Verdana, sans-serif"><b>{if $GENDER == 'm'}Sehr geehrter Herr{elseif $GENDER == 'f'}Sehr geehrte Frau{else}Hallo{/if} {$NAME},</b>
        <br /><br />
        Der Status Ihrer Bestellung {if $ORDER_NR}Nr. {$ORDER_NR}{/if} {if $ORDER_DATE}vom {$ORDER_DATE}{/if} wurde ge&auml;ndert.
        
        {if $ORDER_LINK}
          <br /><br />
          Link zur Bestellung: <a href="{$ORDER_LINK}">hier klicken</a>
        {/if}
                
        {if $NOTIFY_COMMENTS}
          <br /><br />
          Anmerkungen und Kommentare zu Ihrer Bestellung:<br />
          {$NOTIFY_COMMENTS}
        {/if}        
        
        {*BOC added stuff name who edited order, noRiddle*}
        <br /><br/>MfG {$smarty.session.customer_first_name} {$smarty.session.customer_last_name}<br />
        {*EOC added stuff name who edited order, noRiddle*}
        
        <br /><br />
        Neuer Status: <b>{$ORDER_STATUS}</b>

        {if $PARCEL_COUNT > 0}
          <br /><br />
          Die Sendung besteht aus {$PARCEL_COUNT} Paket(en).<br />
          Sie k&ouml;nnen sich &uuml;ber den Zustellstatus durch einen Klick auf die nachstende(n) Paketnummer(n) informieren:<br />
          {foreach name=aussen item=tracking_data from=$PARCEL_ARRAY}
            <a target="_blank" href="{$tracking_data.tracking_link}">{$tracking_data.parcel_id}</a><br />
          {/foreach}
        {/if}

        <br /><br />
        Bei Fragen zu Ihrer Bestellung antworten Sie bitte auf diese E-Mail.        
        
        </font>
		</td>
	</tr>
</table>

[SIGNATUR]
</div>

