<table width="100%" border="0">
  <tr>
    <td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo.gif"></div></td>
  </tr>
</table>
Dear {$content.PARTNER_NAME}<br /><br />

Thank you for your registration at our affiliate program.<br /><br />

Your account information:<br />
**************************<br /><br />

Your Affiliate-ID is: {$content.PARTNER_ID}<br />
Your Username is: {$content.PARTNER_LOGIN}<br />
Your Password is: {$content.PARTNER_PW}<br />
Login here: {$content.LINK}<br />
Have fun earning referal fees!<br /><br />

Your Affiliate Team