<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    <td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
      <font face="Tahoma, Verdana, sans-serif">Cuenta creada</font>
    </td>
	</tr>
	<tr> 
		<td>
      <br />
      <font size="2" face="Tahoma, Verdana, sans-serif"><b>{if $GENDER != ''}Estimad{if $GENDER == 'Herr'}o{/if}{if $GENDER == 'Frau'}a{/if} {$GENDER}{else}Hola{/if} {$NAME},</b><br />
      <br />
      usted acaba de crear con éxito su cuenta de cliente.<br />
      Ahora tiene acceso a las siguientes funciones:<br />
      <br />
      <b>Créditos para la búsqueda por VIN:</b> 10 créditos para la búsqueda por VIN (Número de Identificación del Vehículo) en nuestro catálogo han sido añadidos a su cuenta.<br />Con cada compra en una de nuestras tiendas de marca, usted recibirá 10 créditos adicionales a su cuenta.
      <br />
      <b>Cuenta para iniciar sesión:</b> Usted puede iniciar sesión con sus datos de inicio de sesión siempre que lo desee sin tener que volver a añadir todos los datos como, por ejemplo, su dirección.<br />Puede acceder a todas nuestras tiendas con los mismos datos de acceso.
      <br />
      <br />
      <u>Ojo!</u> Con este email su cuenta en nuestra tienda {$smarty.const.HTTP_SERVER}/{$smarty.const.SHOP} ha sido creado.<br />
      Si usted no creó este cuenta, alguien usó su email.<br />
      En este caso, por favor nos mande un mensaje para eliminar la cuenta: <a href="mailto:{$content.MAIL_REPLY_ADDRESS}">{$content.MAIL_REPLY_ADDRESS}</a><br />
      </font>
		</td>
	</tr>
</table>

[SIGNATUR]
</div>