<div style="width:800px;margin: 0px auto;">
  <br />
  <table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tr>
      <td style="border-top: 1px dotted #999;"><font size="1" face="Tahoma, Verdana, sans-serif">
      {$SIGNATURE_HTML|contentplaceholder}
      </font>
      </td>
    </tr>
  </table>
</div>
