{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="lang_`$language`.custom"}
<div class="csn-cont" data-nosnippet>
	{*<h2 class="csn-header">{$title}</h2>*}
	<div class="csn-body">{$description}
        <p id="countdown"></p> {*don't use h1, we style this in customers_notice.css, noRiddle*}
        {*debug*}
        {*<p>$enddate: {$enddate} <br /> $cs_timenow: {$cs_timenow} <br /> $cs_timenow|date_format: {$cs_timenow|date_format:'%Y-%m-%d %H:%M:%S'}</p>*}
    </div>
</div>

<script type="text/javascript">
    //var t_to_count_down = {$enddate|strtotime - $smarty.now};
    var t_to_count_down = {$enddate - $cs_timenow};

    {literal}
    function countdown(seconds, id) {
    {/literal}
        var csn_days = '{#csn_days#}',
            csn_std = '{#csn_std#}',
            csn_min = '{#csn_min#}',
            csn_sec = '{#csn_sec#}';

        var t = seconds,
            d = Math.floor(t / 86400),
            h = Math.floor(t / (60 * 60)) % 24,
            m = Math.floor(t / 60) % 60,
            s = t % 60,
            d = (0 < d) ? d + ' ' + csn_days + ' ' : '',
            h = (10 > h) ? '0' + h : h,
            m = (10 > m) ? '0' + m : m,
            s = (10 > s) ? '0' + s : s,
            str = d + h + ' ' + csn_std + ' ' + m + ' ' + csn_min + ' ' + s + ' ' + csn_sec;

        {literal}
        if (seconds > 0) {
            window.setTimeout('countdown('+ --seconds + ',\'' + id + '\')', 1000);
        } else {
            //str = 'Countdown Timeout';
        }
        document.getElementById(id).innerHTML = str;
    }
    countdown({/literal}t_to_count_down{literal}, 'countdown');{/literal}
</script>