{config_load file="$language/lang_$language.conf" section="index"}{config_load file="lang_`$language`.custom"}
<div class="csn-cont" data-nosnippet>
	<h2 class="csn-header">{$title}</h2>
	<div class="csn-body">{$description}</div>
</div>