<div data-nosnippet>
  <a href="#">{$title}</a>
</div> 

<div id="popup1" class="overlay_cn" data-nosnippet>
	<div class="popup_cn" >
		<h2>{$title}</h2>
		<a class="close" href="#popup1">X</a>
		<div class="content_cn">
			{$description}
		</div>
	</div>
</div>