            {if $price_data.PRODUCTS_PRICE_FLAG == 'Special' || $price_data.PRODUCTS_PRICE_FLAG == 'SpecialDiscount'}
              {* START Produkt Sonderpreis Langform mit Ausgabe Alter Preis, Neuer Preis, Sie sparen *}
              <span class="old_price">
                <span class="small_price">{$smarty.const.INSTEAD}</span>
                {$price_data.PRODUCTS_PRICE_OLD_PRICE}
              </span>
              <span class="new_price">
                <span class="small_price">{$smarty.const.ONLY}</span> {$price_data.PRODUCTS_PRICE_SPECIAL_PRICE}
              </span>
              <span class="save_price">
                {$smarty.const.YOU_SAVE} {$price_data.PRODUCTS_PRICE_SAVE_PERCENT}% / {$price_data.PRODUCTS_PRICE_SAVE_DIFF}
              </span>
              {if $price_data.PRODUCTS_PRICE_GROUP_DISCOUNT != ''}
              <span class="save_price">
                {$smarty.const.BOX_LOGINBOX_DISCOUNT}: {$price_data.PRODUCTS_PRICE_GROUP_DISCOUNT}%
              </span>
              {/if}
              <meta itemprop="price" content="{$price_data.PRODUCTS_PRICE_PLAIN}" />
              {* ENDE Produkt Sonderpreis Langform mit Ausgabe Alter Preis, Neuer Preis, Sie sparen *}
            {elseif $price_data.PRODUCTS_PRICE_FLAG == 'SpecialGraduated'}
              {if $price_data.PRODUCTS_PRICE_UVP != ''} 
                {* START Produkt UVP Preis mit Ausgabe Ihr Preis, UVP *}
                {*BOC filter whether old/new price shall be shown (see xtPrice class, noRiddle*}
                {if $price_data.PRODUCTS_PRICE_SHOW_PERSOFF === true}
                <span class="uvp_price">  
                  <span class="small_price">{$smarty.const.YOUR_PRICE}</span> {$price_data.PRODUCTS_PRICE_SPECIAL_PRICE}
                </span>
                <span class="item_price"><span class="small_price">{$smarty.const.MSRP}</span> {$price_data.PRODUCTS_PRICE_OLD_PRICE}</span>
                <meta itemprop="price" content="{$price_data.PRODUCTS_PRICE_PLAIN}" />
                {else}
                <span class="uvp_price">  
                  <span class="small_price">{$smarty.const.YOUR_PRICE}</span> {$price_data.PRODUCTS_PRICE_SPECIAL_PRICE}
                </span>
                <meta itemprop="price" content="{$price_data.PRODUCTS_PRICE_PLAIN}" />
                {/if}
                {*EOC filter whether old/new price shall be shown (see xtPrice class, noRiddle*}
                {* ENDE Produkt UVP Preis mit Ausgabe Ihr Preis, UVP *}
              {else}
                {* START Produkt Staffelpreis mit Ausgabe ab Preis, Stückpreis *}
                <span class="graduated_price">
                  {if isset($price_data.PRODUCTS_PRICE_FROM)}<span class="small_price">{$smarty.const.FROM}</span>{/if} {$price_data.PRODUCTS_PRICE_OLD_PRICE}
                </span>
                <span class="item_price"><span class="small_price">{$smarty.const.UNIT_PRICE}</span> {$price_data.PRODUCTS_PRICE_SPECIAL_PRICE}</span>
                <meta itemprop="price" content="{$price_data.PRODUCTS_PRICE_PLAIN}" />
                {* ENDE Produkt Staffelpreis mit Ausgabe ab Preis, Stückpreis *}
              {/if}
            {elseif $price_data.PRODUCTS_PRICE_FLAG == 'NotAllowed'}
              <span class="no_price">{$price_data.PRODUCTS_PRICE_NOT_ALLOWED}</span>
            {else}
              {* START Produkt Standardpreis mit Ausgabe ab Preis *}
              <span class="standard_price">
                {if $price_data.PRODUCTS_PRICE_FROM != ''}<span class="small_price">{$price_data.PRODUCTS_PRICE_FROM}</span>{/if}
                {$price_data.PRODUCTS_PRICE_STANDARD_PRICE}
              </span>
              <meta itemprop="price" content="{$price_data.PRODUCTS_PRICE_PLAIN}" />
              {* ENDE Produkt Standardpreis mit Ausgabe ab Preis *}
            {/if}