{if (!isset($STARTPAGE) && $smarty.const.PRODUCT_LIST_BOX == 'true') || ($STARTPAGE == 'true' && $smarty.const.PRODUCT_LIST_BOX_STARTPAGE == 'true')}
  {* BOXANSICHT *}
  {foreach name=aussen item=module_data from=$module_content}
  <div class="listingbox">
    <div class="lb_inner">
      <div class="lb_image">
      {if $module_data.PRODUCTS_IMAGE != ''}
        <a href="{$module_data.PRODUCTS_LINK}"><img class="unveil" src="{$tpl_path}css/images/loading.gif" data-src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_MANUFACTURERS_MODEL|trim} {$module_data.PRODUCTS_NAME|onlytext}" /></a>
        <noscript><a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_MANUFACTURERS_MODEL|trim} {$module_data.PRODUCTS_NAME|onlytext}" /></a></noscript>
        {*BOC percent ribbon on image, noRiddle*}
        {if "MODULE_RIBBON_MODULE_STATUS"|defined && $smarty.const.MODULE_RIBBON_MODULE_STATUS == 'true'}
        {if $module_data.PRODUCTS_PRICE_ARRAY.0.PRODUCTS_PRICE_FLAG == 'Special' || $module_data.PRODUCTS_PRICE_ARRAY.0.PRODUCTS_PRICE_FLAG == 'SpecialDiscount'}
        <p class="ov-perc"><span>%</span></p>
        {/if}
        {/if}
        {*EOC percent ribbon on image, noRiddle*}
      {else}
        &nbsp;
      {/if}
      </div>
      <div class="lb_title"><h2><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_MANUFACTURERS_MODEL|trim} {$module_data.PRODUCTS_NAME}</a></h2></div>
      <div class="lb_shipping">
      {if $module_data.PRODUCTS_SHIPPING_NAME}
          {if $module_data.GM_PRICE_STATUS == '0'}
          {#text_shippingtime#} {if $module_data.PRODUCTS_SHIPPING_IMAGE}<span class="lb_shipping_image"><img src="{$module_data.PRODUCTS_SHIPPING_IMAGE}" alt="{$module_data.PRODUCTS_SHIPPING_NAME|onlytext}" /></span>{/if}{$module_data.PRODUCTS_SHIPPING_NAME_LINK}
          {else}
          <br />
          {/if}
      {else}
      &nbsp;
      {/if}
      </div>
      <div class="lb_price">
        {if $module_data.GM_PRICE_STATUS != '1' && $module_data.GM_PRICE_STATUS != '2'} {*show price related stuff only if g_price_tstaus is 0, noRiddle*}
            {foreach name=inner item=price_data from=$module_data.PRODUCTS_PRICE_ARRAY}
              {include file="`$smarty.const.CURRENT_TEMPLATE`/module/includes/price_box.html"}
            {/foreach}
            {if $module_data.PRODUCTS_PRICE_ARRAY.0.PRODUCTS_PRICE_FLAG != 'NotAllowed'}
              {if $module_data.PRODUCTS_VPE}<div class="lb_vpe">{$module_data.PRODUCTS_VPE}</div>{/if}
            {/if}
        {/if}
      </div>
      {if $module_data.PRODUCTS_PRICE_ARRAY.0.PRODUCTS_PRICE_FLAG != 'NotAllowed'}
        <div class="lb_tax">
            {*{if $module_data.GM_PRICE_STATUS != '1' && $module_data.GM_PRICE_STATUS != '2'}*} {*show price related stuff only if g_price_tstaus is 0, noRiddle*}
                {*{$module_data.PRODUCTS_TAX_INFO}{$module_data.PRODUCTS_SHIPPING_LINK}
            {else}*}
                &nbsp;
            {*{/if}*}
        </div>
        {*if $module_data.PRODUCTS_BUTTON_BUY_NOW || ($module_data.PRODUCTS_FSK18 != '0' && $smarty.const.SHOW_BUTTON_BUY_NOW != 'false')*}
        <div class="lb_buttons cf">
            <div class="cssButtonPos11">{$module_data.PRODUCTS_BUTTON_DETAILS}</div>
            {if $module_data.PRODUCTS_BUTTON_BUY_NOW || ($module_data.PRODUCTS_FSK18 != '0' && $smarty.const.SHOW_BUTTON_BUY_NOW != 'false')}
            {if $module_data.PRODUCTS_BUTTON_BUY_NOW}
            {if $module_data.GM_PRICE_STATUS == '0'}
            <div class="cssButtonPos11">
                {$module_data.PRODUCTS_BUTTON_BUY_NOW}
            </div>
            {/if}
            {/if}
            {/if}
        </div>
        {*/if*}
      {/if}
    </div>
  </div>
  {/foreach}

{else}
  {* ROWANSICHT *}
  {foreach name=aussen item=module_data from=$module_content}
  <div class="listingrow">
    <div class="lr_inner cf">
      <div class="lr_image">
      {if $module_data.PRODUCTS_IMAGE != ''}
        <a href="{$module_data.PRODUCTS_LINK}"><img class="unveil" src="{$tpl_path}css/images/loading.gif" data-src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME|onlytext}" /></a>
        <noscript><a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_MANUFACTURERS_MODEL|trim} {$module_data.PRODUCTS_NAME|onlytext}" /></a></noscript>
        {*BOC percent ribbon on image, noRiddle*}
        {if "MODULE_RIBBON_MODULE_STATUS"|defined && $smarty.const.MODULE_RIBBON_MODULE_STATUS == 'true'}
        {if $module_data.PRODUCTS_PRICE_ARRAY.0.PRODUCTS_PRICE_FLAG == 'Special' || $module_data.PRODUCTS_PRICE_ARRAY.0.PRODUCTS_PRICE_FLAG == 'SpecialDiscount'}
        <p class="ov-perc"><span>%</span></p>
        {/if}
        {/if}
        {*EOC percent ribbon on image, noRiddle*}
      {else}
        &nbsp;
      {/if}      
      </div>
      <div class="lr_content cf">
        <div class="lr_title"><h2><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_MANUFACTURERS_MODEL|trim} {$module_data.PRODUCTS_NAME}</a></h2></div>
        <div class="lr_desc_box">
          {*{if $module_data.PRODUCTS_SHORT_DESCRIPTION}<div class="lr_desc">{$module_data.PRODUCTS_SHORT_DESCRIPTION}</div>{/if}*}
          <div class="lr_shipping">
          {if $module_data.PRODUCTS_SHIPPING_NAME}
            {if $module_data.GM_PRICE_STATUS == '0'}
            {#text_shippingtime#} {if $module_data.PRODUCTS_SHIPPING_IMAGE}<span class="lr_shipping_image"><img src="{$module_data.PRODUCTS_SHIPPING_IMAGE}" alt="{$module_data.PRODUCTS_SHIPPING_NAME|onlytext}" /></span>{/if}{$module_data.PRODUCTS_SHIPPING_NAME_LINK}
            {/if}
          {else}
          &nbsp;
          {/if}
          </div>
          {if $module_data.PRODUCTS_SHORT_DESCRIPTION}<div class="lr_desc">{$module_data.PRODUCTS_SHORT_DESCRIPTION}</div>{/if}
        </div>
        <div class="lr_price_box">
          <div class="lr_price">
              {if $module_data.GM_PRICE_STATUS != '1' && $module_data.GM_PRICE_STATUS != '2'} {*show price related stuff only if g_price_tstaus is 0, noRiddle*}
                  {foreach name=inner item=price_data from=$module_data.PRODUCTS_PRICE_ARRAY}
                    {include file="`$smarty.const.CURRENT_TEMPLATE`/module/includes/price_listing.html"}
                  {/foreach}
              {/if}
          </div>
          {if $module_data.PRODUCTS_PRICE_ARRAY.0.PRODUCTS_PRICE_FLAG != 'NotAllowed'}
            {if $module_data.GM_PRICE_STATUS != '1' && $module_data.GM_PRICE_STATUS != '2'} {*show price related stuff only if g_price_tstaus is 0, noRiddle*}
                {if $module_data.PRODUCTS_VPE}<div class="lr_vpe">{$module_data.PRODUCTS_VPE}</div>{/if}
                <div class="lr_tax">{*{$module_data.PRODUCTS_TAX_INFO}{$module_data.PRODUCTS_SHIPPING_LINK}*}&nbsp;</div>
            {/if}
            <div class="lr_buttons cf">
                <div class="cssButtonPos11">{$module_data.PRODUCTS_BUTTON_DETAILS}</div>
                {if $module_data.PRODUCTS_BUTTON_WISHLIST_NOW}
                {if $module_data.GM_PRICE_STATUS == '0'}
                <div class="cssButtonPos11">{$module_data.PRODUCTS_BUTTON_WISHLIST_NOW}</div>
                {/if}
                {/if}
                {if $module_data.PRODUCTS_BUTTON_BUY_NOW}
                  {if $module_data.GM_PRICE_STATUS == '0'}
                  <div class="cssButtonPos11">
                    {$module_data.PRODUCTS_BUTTON_BUY_NOW}
                  </div>
                  {elseif $module_data.GM_PRICE_STATUS == '1'}
                  <div class="cssButtonPos11">
                    <a href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=7'}?products_id={$module_data.PRODUCTS_ID}&products_name={$module_data.PRODUCTS_NAME}&products_model={$module_data.PRODUCTS_MODEL}">
                        <span class="cssButton cssButtonColor2" title="{#price_question#}">
                            <i class="fa fa-question-circle"></i>
                            <span class="cssButtonText">{#price_question#}</span>
                        </span>
                    </a>
                  </div>
                  {elseif $module_data.GM_PRICE_STATUS == '2'}
                  <div class="cssButtonPos11">
                    <span class="cssButton cssButtonColor7" title="{#not_purchasable#}">
                        <i class="fa fa-times-circle"></i>
                        <span class="cssButtonText">{#not_purchasable#}</span>
                    </span>
                  </div>
                  {/if}
                {/if}
            </div>
          {/if}
        </div>
      </div>
    </div>
  </div>
  {/foreach}
{/if}