{*new shopping cart box for catalogue, noRiddle*}
{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
<div id="cat_cart_short"{if $empty == 'false'} style="cursor:pointer"{/if}>
  {if $empty == 'false'}
  <a {if $deny_cart neq 'true'}id="toggle_cat_cart"{/if} href="{$LINK_CART}" title="{#heading_cat_cart#}">
    <span class="cart_01"><i class="fa fa-shopping-cart"></i><sup><i class="fa fa-automobile sml-fa"></i></sup></span>
    <span class="cart_02">{#heading_cat_cart#} </span>
    <span class="cart_03">
        <span class="cart_05">({$PRODUCTS}</span>
        <span class="cart_05">)</span>
    </span>
    <span class="cart_04"> {#text_article#}</span>{* &nbsp;&bull;&nbsp; {#text_total#}: <strong>{$TOTAL}</strong>*}
  </a>
  {else}
  <a {if $deny_cart neq 'true'}id="toggle_cat_cart"{/if} href="{$LINK_CART}" title="{#heading_cat_cart#}">
    <span class="cart_01"><i class="fa fa-shopping-cart"></i><sup><i class="fa fa-automobile sml-fa"></i></sup></span>
    <span class="cart_02">{#heading_cat_cart#} </span>
    <span class="cart_03">
        <span class="cart_05">(</span>0<span class="cart_05">)</span>
    </span>
    <span class="cart_04"> {#text_article#}</span>{* &nbsp;&bull;&nbsp; {#text_total#}: <strong>0,00 {$CURR_SYMB}</strong>*}
  </a>  
  {/if}
</div>

<div class="toggle_cat_cart">
{if $deny_cart neq 'true'}
  {if $empty == 'false'}
    {*<div class="mini"><strong>{#text_full_cart#}</strong></div>*}
    <div class="toggle_cart_links tcl_top">
        <a href="{$LINK_CART}"><span class="cssButton cssButtonColor1" title="{#heading_cart_toogle#}"><i class="fa fa-chevron-circle-right"></i><span class="cssButtonText">{#heading_cart_toogle#}</span></span></a>
    </div>
    {foreach name=blup key=brand item=model_data from=$products}
    {assign var=brd value=$brand|ucwords}
    <h3><img src="{$BRAND_PIC.$brand}" alt="{$brd}" /> {$brd}</h3>
    <table class="tc_list">
        {foreach name=bla item=products_data from=$model_data}
        <tr>
            <td class="tc1">{$products_data.QTY}&nbsp;x&nbsp;</td>
            <td class="tc2">{$products_data.NAME|truncate:28:"...":true}</td>
            <td class="tc3">{*#text_modelno#*} {$products_data.MODEL}</td>
        </tr>
        {/foreach}
    </table>
    {/foreach}
    <div class="toggle_cart_links">
        <a href="{$LINK_CART}"><span class="cssButton cssButtonColor1" title="{#heading_cart_toogle#}"><i class="fa fa-chevron-circle-right"></i><span class="cssButtonText">{#heading_cart_toogle#}</span></span></a>
    </div>
  {else}
    <div class="mini"><strong>{#text_empty_cart#}</strong></div>
    <div class="toggle_cart_links">
        <a href="{$LINK_CART}"><span class="cssButton cssButtonColor1" title="{#heading_cart_toogle#}"><i class="fa fa-chevron-circle-right"></i><span class="cssButtonText">{#heading_cart_toogle#}</span></span></a>
    </div>
  {/if}
{/if}
</div>