{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
{if isset($BOX_CONTENT) && count($BOX_CONTENT) > 0}
<div class="box1">
  <div class="box_header"><i class="fa fa-chevron-down"></i>{#heading_order_history#}</div>
  <div class="box_sidebar cf">
    {*<div class="box_line"></div>*}
    <ul class="orderhistory_list">
    {foreach item=data from=$BOX_CONTENT}  
      <li>{$data.PRODUCTS_LINK}<span class="cart_icon">{$data.ORDER_LINK}</span></li>
    {/foreach}
    </ul>
  </div>
</div>
{/if}