{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
{if isset($BOX_CONTENT) && $BOX_CONTENT != ''}
  <div class="box_category">
    <div class="box_category_header"><i class="fa fa-list-ul"></i> {#heading_categories#}</div>
    {*<div class="box_category_line"></div>*}
    <ul id="categorymenu">
      {$BOX_CONTENT}
      {if $smarty.const.SPECIALS_CATEGORIES === true}
        {if $smarty.const.SPECIALS_EXISTS === true}
          <li class="level1{if strstr($smarty.server.PHP_SELF, $smarty.const.FILENAME_SPECIALS)} active1{/if}"><a href="{$smarty.const.FILENAME_SPECIALS|xtc_href_link}">{#heading_specials#}</a></li>
        {/if}
      {/if}
      {if $smarty.const.WHATSNEW_CATEGORIES === true}
        {*if $smarty.const.WHATSNEW_EXISTS === true*}
          <li class="level1{if strstr($smarty.server.PHP_SELF, $smarty.const.FILENAME_PRODUCTS_NEW)} active1{/if}"><a href="{$smarty.const.FILENAME_PRODUCTS_NEW|xtc_href_link}">{#heading_whatsnew#}</a></li>
        {*/if*}
      {/if}
    </ul>
  </div>
{/if}