{config_load file="$language/affiliate_lang_$language.conf" section="affiliate_box"}
{config_load file="lang_`$language`.custom"}
{if isset($BOX_CONTENT) && $BOX_CONTENT != ''}
<div class="box1">
  <div class="box_header">
    <span class="show_title"><i class="fa fa-chevron-down"></i> <i class="fa fa-hand-o-right"></i> {#heading_affiliate#}</span>
  </div>
  <div class="box_sidebar cf">
    {*<div class="box_line"></div>*}
    {$BOX_CONTENT}
  </div>
</div>
{/if}