{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
<div class="hr_15"></div>
<div class="specials-brand">
    <h2>{$SPECIALS_HEADING}</h2>
    <div class="listingcontainer cf">
        {foreach name=whatever item=box_data from=$BOX_RESULT}
        <div class="listingbox">
            <div class="lb_inner">
                <div class="lb_image">
                    <a class="cbimages" href="{$box_data.PRODUCTS_SHOP}/images/product_images/popup_images/{$box_data.PRODUCTS_IMAGE}" title="{$box_data.PRODUCTS_NAME}">
                        <img class="unveil" src="{$tpl_path}css/images/loading.gif" data-src="{$box_data.PRODUCTS_SHOP}/images/product_images/thumbnail_images/{$box_data.PRODUCTS_IMAGE}" alt="{$box_data.PRODUCTS_NAME|onlytext}" />
                    </a>
                    <noscript>
                        <img src="//www.{$box_data.PRODUCTS_SHOP}/images/product_images/thumbnail_images/{$box_data.PRODUCTS_IMAGE}" alt="{$box_data.PRODUCTS_MANUFACTURERS_MODEL|trim} {$box_data.PRODUCTS_NAME|onlytext}" />
                    </noscript>
                    {*BOC percent ribbon on image, noRiddle*}
                    {if "MODULE_RIBBON_MODULE_STATUS"|defined && $smarty.const.MODULE_RIBBON_MODULE_STATUS == 'true'}
                    {if $box_data.PRODUCTS_PRICE_ARRAY.0.PRODUCTS_PRICE_FLAG == 'Special' || $box_data.PRODUCTS_PRICE_ARRAY.0.PRODUCTS_PRICE_FLAG == 'SpecialDiscount'}
                    <p class="ov-perc"><span>%</span></p>
                    {/if}
                    {/if}
                    {*EOC percent ribbon on image, noRiddle*}
                </div>
                <div class="lb_title">
                    <h2>{$box_data.PRODUCTS_NAME|truncate:35:"...":false}<br />{$box_data.PRODUCTS_MODEL}</h2>
                </div>
                <div class="s_lb_price">
                {foreach name=inner item=spec_price_data from=$box_data.PRODUCTS_PRICE_ARRAY}
                  {include file="`$smarty.const.CURRENT_TEMPLATE`/module/includes/s_price_listing.html"}
                {/foreach}
                    <div class="s_lb_tax">
                        {$box_data.PRODUCTS_TAXINFO}
                    </div>
                </div>

                {$box_data.PRODUCTS_FORMSTART}
                <div class="lb_buttons">
                    {$box_data.PRODUCTS_QTY}
                    {$box_data.PRODUCTS_CHK}
                </div>
                <div class="lb_buttons">
                    <div class="cssButtonPos11">{$box_data.PRODUCTS_BUTTON}</div>
                </div>
                {$box_data.PRODUCTS_FORMEND}
            </div>    
        </div>
        {/foreach}
     </div>
 </div>