{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="$language/lang_$language.conf" section="wishlist"}
{config_load file="lang_`$language`.custom"}
<div id="wishlist_short"{if $empty == 'false'} style="cursor:pointer"{/if}>
  {if $empty == 'false'}
  <a {if $deny_cart neq 'true'}id="toggle_wishlist"{/if} href="{$LINK_WISHLIST}"><span class="wish_01"><i class="fa fa-star"></i></span><span class="wish_02">{#heading_wishlist#} <i class="fa fa-angle-right"></i></span><span class="wish_03"><span class="wish_05">(</span>{$PRODUCTS}<span class="wish_05">)</span></span><span class="wish_04">{#text_article#}</span></a>
  {else}
  <a {if $deny_cart neq 'true'}id="toggle_wishlist"{/if} href="{$LINK_WISHLIST}"><span class="wish_01"><i class="fa fa-star"></i></span><span class="wish_02">{#heading_wishlist#} <i class="fa fa-angle-right"></i></span><span class="wish_03"><span class="wish_05">(</span>0<span class="wish_05">)</span></span><span class="wish_04">{#text_article#}</span></a>
  {/if}
</div>

<div class="toggle_wishlist">
{if $deny_cart neq 'true'}
  {if $empty == 'false'}
    <div class="mini"><strong>{#text_full_wishlist#}</strong></div>
    <ul class="tc_list">
    {foreach name=aussen item=products_data from=$products}
      <li><a href="{$products_data.PRODUCTS_LINK}">{$products_data.PRODUCTS_QTY}&nbsp;x&nbsp;{$products_data.PRODUCTS_NAME|truncate:40:"...":true}</a><span class="tc_delete">{$products_data.PRODUCTS_BUTTON_DELETE_CART}</span></li>
    {/foreach}
    </ul>
    <div class="toogle_cart_links">
      <a href="{$LINK_WISHLIST}"><strong>{#heading_wishlist#}&nbsp;&raquo;</strong></a>
    </div>    
  {else}
    <div class="mini"><strong>{#text_empty_wishlist_box#}</strong></div>
  {/if}
{/if}
</div>