{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
<div class="box1 search-left">
    <div class="box_header">
        <span class="show_title"><i class="fa fa-chevron-down"></i> <i class="fa fa-search"></i> {#ah_heading_search#}</span>
    </div>
    <div class="box_sidebar cf">
        {*<div class="box_line"></div>*}
        <p class="box_sub"></p>
        {$FORM_ACTION}
            <div class="quickie_form cf">
                {$INPUT_SEARCH}<div class="cssButtonPos4 cf">{$BUTTON_SUBMIT}</div>
            </div>
        {$FORM_END}
        <p class="box_sub center">
            <a class="{$smarty.const.POPUP_CONTENT_LINK_CLASS}" target="_blank" href="{$BOX_CONTENT}">{#ah_txt_where_find_parts_no#}</a>
        </p> {*new link depending on group permission, noRiddle*}
        {*<div class="suggestionsBox" id="suggestions" style="display:none;">
            <div class="suggestionList" id="autoSuggestionsList">&nbsp;</div>
        </div>*} {*we don't use that, to many products to use autocomplete, noRiddle*}
    
        {*BOC catalogue for BMW group*}
        {if $HAS_BMW_CAT}
            {include file="`$smarty.const.CURRENT_TEMPLATE`/boxes/box_search_left_ajax.html"}
        {/if}
        {*EOC catalogue for BMW group*}
    </div>
</div>