{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
{if $BOX_CONTENT != ''}
<div id="{$BOX_NO}" class="box1">
    <div class="box_header">
        <span class="show_title"><i class="fa fa-chevron-down"></i>{$BOX_HEADER|contentplaceholder}</span> 
    </div>
    {*<div class="box_line"></div>*}
    <div class="box_sidebar cf">
        {$BOX_CONTENT|contentplaceholder}
    </div>
</div>
{/if}