{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
{if isset($STICKER_EXISTS)}
  {$STICKER_CODE}
  <br />
{/if}
{if isset($IMAGE_EXISTS)}
<div class="box1">
  <div class="box_header"><i class="fa fa-chevron-down"></i>{#heading_trustedshops#}</div>
  <div class="box_sidebar cf">
    {*<div class="box_line"></div>*}
    <br />
    <div class="box_image">
      <a rel="nofollow" target="_blank" href="{$LINK}"><img src="{$IMAGE}" style="padding:0; border:0px none;" /></a>
    </div>
  </div>
</div>
{/if}