{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
{if isset($BOX_CONTENT) && $BOX_CONTENT != ''}
  <div class="box3">
    <div class="box3_header">{#heading_content#}</div>
    <div class="box3_line"></div>
    <ul class="footerlist">
      {$BOX_CONTENT}
      {if $smarty.const.MODULE_COOKIE_CONSENT_STATUS == 'true'}
        <li class="level1"><a href="javascript:;" trigger-cookie-consent-panel=""><i class="fa fa-angle-right"></i>{$smarty.const.TEXT_COOKIE_CONSENT_LABEL_CPC_HEADING}</a></li>
      {/if}
    </ul>
  </div>
{/if}