{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
<div id="cart_short"{if $empty == 'false'} style="cursor:pointer"{/if}>
  {if $empty == 'false'}
  <a {if $deny_cart neq 'true'}id="toggle_cart"{/if} href="{$LINK_CART}" title="{#heading_cart#}">
    <span class="cart_01"><i class="fa fa-shopping-cart"></i><sup><i class="fa fa-dollar sml-fa"></i></sup></span>
    <span class="cart_02">{#heading_cart#} </span>
    {*<span class="cart_03"><span class="cart_05">(</span>{$PRODUCTS}<span class="cart_05">)</span></span><span class="cart_04">{#text_article#}</span>*}
  </a>
  {else}
  <a {if $deny_cart neq 'true'}id="toggle_cart"{/if} href="{$LINK_CART}" title="{#heading_cart#}">
    <span class="cart_01"><i class="fa fa-shopping-cart"></i><sup><i class="fa fa-dollar sml-fa"></i></sup></span>
    <span class="cart_02">{#heading_cart#} </span>
    {*<span class="cart_03"><span class="cart_05">(</span>0<span class="cart_05">)</span></span><span class="cart_04">{#text_article#}</span>*}
  </a>
  {/if}
</div>

<div class="toggle_cart">
{if $deny_cart neq 'true'}
  {if $ACTIVATE_GIFT == 'true'}
    {if isset($GV_AMOUNT)}
      <div class="giftmessage"><strong>{#voucher_balance#}</strong>&nbsp;{$GV_AMOUNT}</div>
    {/if}
  {/if}
  {if $empty == 'false'}
    <div class="mini"><strong>{#text_full_cart#}</strong></div>
    <ul class="tc_list">
    {foreach name=aussen item=products_data from=$products}
      <li><a href="{$products_data.LINK}">{$products_data.QTY}&nbsp;x&nbsp;{$products_data.NAME|truncate:40:"...":true}</a><span class="tc_delete">{$products_data.BUTTON_DELETE}</span></li>
    {/foreach}
    </ul>
    <div class="toggle_cart_links">
      {*<a href="{$LINK_CHECKOUT}"><strong>{#heading_checkout#}&nbsp;&raquo;</strong></a>*}
      <a href="{$LINK_CART}"><strong>{#heading_cart#} / {#heading_checkout#}&nbsp;&raquo;</strong></a>
    </div>    
  {else}
    <div class="mini"><strong>{#text_empty_cart#}</strong></div>
    {*
    <div class="toggle_cart_links">
      <a href="{$LINK_CHECKOUT}"><strong>{#heading_checkout#}&nbsp;&raquo;</strong></a>
      <a href="{$LINK_CART}"><strong>{#heading_cart#}&nbsp;&raquo;</strong></a>
    </div>
    *}
  {/if}
{/if}
</div>