{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
<div class="box1">
  <div class="box_header">
    <span class="show_title"><i class="fa fa-chevron-down"></i>{#heading_add_a_quickie#}</span>
  </div>
	<div class="box_sidebar cf">
    {*<div class="box_line"></div>*}
    <p class="midi lineheight16">{#text_quickie#}</p>
    {$FORM_ACTION}
    <div class="quickie_form cf">
      {$INPUT_FIELD|replace:"type=\"text\"":"type=\"tel\""}<div class="cssButtonPos1 cf">{$SUBMIT_BUTTON}</div>
    </div>
    {$FORM_END}
	</div>
</div>