{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
{if isset($BOX_CONTENT) && $BOX_CONTENT != ''}
<div id="box-{$BOX_NO}" class="box3">
    <div class="box3_header">{$BOX_HEADER|contentplaceholder}</div>
    <div class="box3_line"></div>
    {$BOX_CONTENT|contentplaceholder}
</div>
{/if}