{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
{if isset($FORM_ACTION) && $FORM_ACTION != ''}
  <div class="box1" id="loginBox">
    <div class="box_header"><i class="fa fa-chevron-down"></i> <i class="fa fa-sign-in"></i> {#heading_login_new#}</div>
    <div class="box_sidebar cf">
      {*<div class="box_line"></div>*}
      {$FORM_ACTION}
      <p class="box_sub">{#text_email#}:</p>
      {$FIELD_EMAIL|replace:"type=\"text\"":"type=\"email\""}
      <p class="box_sub">{#text_pwd#}:</p>
      {$FIELD_PWD}
      <div class="box_sub_button cf">
        <a href="{$LINK_LOST_PASSWORD}">{#text_password_forgotten#}</a>
        <div class="cssButtonPos3 cf">{$BUTTON}</div>
      </div>
      {$FORM_END}
      <br />
      <div class="cssButtonPos4">{$BUTTON2}</div> {*second button for new customer, noRiddle*}
    </div>
  </div>
{/if}