{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
{if isset($WARN_NO_SHOP)}
<div class="csn-cont">
{$WARN_NO_SHOP}
</div>
{/if}
<div class="main-2flts-cont cf">
    {if $get_c}
    <div class="left-2flts nr-highlightbox">
        <h2 class="mod-search-txt">{#txt_know_model_no#}</h2>
        {$model_search_form_start}
        <p>{$model_search_input}</p>
        <p>{$model_search_submit}</p>
        {$model_search_form_end}
    </div>
    {/if}
    <div class="right-2flts nr-highlightbox">
        <h2><i class="fa fa-info"></i> {$smarty.const.TXT_MAY_WE_HELP}</h2>
        <p>{$smarty.const.TXT_CONTACT_US_IF_NEED_HELP}</p>
        <p><a href="{$smarty.const.REMOTE_SHOP_URL}/{$SHOP}{$SHOP_SUFFIX}/Kontakt_7.html" title="{$SHOP|strtoupper}-Kontakt" target="_blank"><span class="cssButton cssButtonColor1"><i class="fa fa-pencil"></i><span class="cssButtonText">{$smarty.const.TXT_DIRECTLY_TO_PARTNER_BUTTON1} {$SHOP|strtoupper}{$smarty.const.TXT_DIRECTLY_TO_PARTNER_BUTTON2}</span></span></a></p>
    </div>
</div>
{$BOX_RESULT}