{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
{if isset($BOX_CONTENT) && $BOX_CONTENT != ''}
  <div class="box1">
    <div class="box_header">
      <span class="show_title"><i class="fa fa-chevron-down"></i>{#heading_currencies#}</span>
    </div>
    <div class="box_sidebar cf">
      {*<div class="box_line"></div>*}
      <div class="box_select">{$BOX_CONTENT}</div>
    </div>
  </div>
{/if}