/*BOC new code, noRiddle*/
.h2cent {color:#000; /*font-size:15px;*/}
.h2cent a.link-blue {color:#0120a8; font-weight:bold; text-decoration:underline;}
.h2cent ul {margin:0 0 0 30px; list-style-type:disc;}
.h2cent ul li {padding:2px 0;}
th, td {padding:5px;}
.padd-r-15 {padding:2px 8px; border-right:1px solid #c9c9c9; border-bottom:1px solid #E6E6E6;}
.vehicles-butt {/*padding-top:5px;*/ margin:0; text-align:center; /*border-bottom:1px solid #c9c9c9;*/}
.g_collapsed > td {border: 1px solid #c9c9c9;}
.bord-e3 {margin:0 0 15px; padding:3px; border:1px solid #e3e3e3;}
.div-padd-5 {padding:5px; border:1px solid #e3e3e3;}
#main-top {}
.log-and-butt {}
.brand-logo {float:left;}
.brand-logo img {max-width:100%;}
.top-buttons {margin:2px 0;}
.top-buttons .cssButton {margin:0 0 6px 0; width:48%;}
.top-buttons .cssbtn-fr {float:right;}
.top-buttons .cssbtn-fl {float:left;}
.gen-fl {float:left;}
.gen-fr {float:right;}
.w19perc {width:19%;}
.w36perc {width:36%;}
.w38perc {width:38%;}
.w48perc {width:48%;}
.w49perc {width:49%;}
.w48perc .cssButton {width:100%;}
.vin-search {margin:0; padding:0; width:100%; text-align:left;}
.vin-search td {padding:3px;}
#findByVIN { margin: 5px 0 0;}
/*#findByVIN #vin {width:70%; height:30px; padding:5px 8px; font-size:14px; color:#666; border:1px solid #ccc; border-radius:5px;}*/
/*#findByParameterIdentifocation select {width:98% !important;}*/
/*#qgsearchinput, #quick-model-search {height:30px; padding:5px 8px; font-size:14px; color:#666; border:1px solid #ccc; border-radius:5px;}*/
#findByVIN #vinSubmit {
    height: 32px;
    padding: 5px 8px;
    background:#5372a6;
    color:#fff;
    font-weight:bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor:pointer;
}
.guayaquil_SelectedRow .fa-times {background:#c00; width:14px; height:14px; padding:2px; color:#fff; text-align:center; border-radius:50%;}
#qgTree {margin:15px 0 0;}
/*#vin-search {text-align:center;}
#vin-search #findByVIN {
    margin: 0 auto;
    width: 50%;
}*/
#main-brands {margin:10px auto 30px; max-width:1318px;} /*820 | 928 | 1285*/
#main-brands ul {margin:0; padding:0 0 20px; overflow:hidden; list-style-type:none; text-align:center;}
#main-brands ul li {
display:inline-block;
position:relative;
margin:16px;
width:75px;
vertical-align:top;
}
#main-brands ul li a {display:block;height:75px;line-height:75px;}
#main-brands ul li a img {height:auto;}
#main-brands ul li.opa img {opacity:0.4;}

.js #main-brands ul li {cursor:pointer;}

#main-brands ul li div.nr-logo {
display:inline-block;
position:relative;
width:75px;
vertical-align:top;
}
/*#main-brands ul li div.nr-logo img {transition:all 0.6s ease 0s;}*/
#main-brands ul li div.nr-brandname {
position:absolute;
left:-12px;
top:-12px;
width:99px;
height:99px;
opacity:0;
box-sizing:border-box;
color:#060606;
background: #bbb url(img/dreheffekt99x99.png) no-repeat 0 0; /* LogoCleanWhite100x100.png */
border-radius:50%;
box-shadow:-1px -1px 10px #888;
font-family: Arial,sans-serif;
font-size:13px;
font-weight:bold;
text-align:center;
/*white-space:nowrap;*/
z-index:1;
transition:opacity 2.4s ease;
}
#main-brands ul li div.nr-brandname a {
display:table;
width:99px;
height:99px;
line-height:99px;
color:#000;
text-shadow:1px 1px #fff;
text-decoration:none;
}
#main-brands ul li div.nr-brandname a span {
display:table-cell;
vertical-align:middle;
background:rgba(255,255,255,.85);
border-radius:50%;
line-height:15px;
}
#main-brands ul li:hover div.nr-brandname {
opacity:1;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
transition:all 0.5s ease;
}

#main-brands.n-logg-i img {opacity:.7;}
.td-cent {text-align:center;}
#viewport {width:49%; height:100%;}
/*#main-brands ul li:hover div.nr-logo img {transform:rotate(360deg);}*/
td[name="c_tooltip"], td[name="c_pnc"], td[name="c_chkb"], td[name="c_oem"] {text-align:center;}
td[name="c_cart"] .icon-shopping-cart, td[name="c_tooltip"] .info-icon {font-size:24px;}
td[name="c_tooltip"], td[name="c_chkb"] {background:#a2bd58;}
.guayaquil_zoom .fa-search-plus {font-size:34px; color:#3C5377;}
.guayaquil_zoom .fa-search-plus:hover {color:#5676AA;}
td span.col67 {color:#676767;}
.red {color:#c00; font-weight:bold;}
td span.col67.red {color:#c00; font-weight:bold;}
.clog-detlist-ipt {width:36px; text-align:center;}

/*new fixed header table*/
#viewtable, .gdDetailCol {padding:0 0 50px;}
.inside-tbl {
    overflow:auto;
    /*margin:40px 0;*/
}
.into-cat-shp-cart {position:relative;}
.subm-top {position:absolute; top:-48px; right:0;}
.subm-bott {position:absolute; bottom:-44px; right:0;}
.subm-qdet-bott {position:absolute; bottom:-44px; right:0;}
.subm-top, .subm-bott {text-align:right;}

.th_1, .td_1 {width:15%;}
.th_2, .td_2 {width:20%;}
.th_3, .td_3 {width:45%;}
.th_5, .td_5 {width:10%; text-align:left;}
.th_9, .td_9 {width:10%;}
.th_9 {padding:5px 12px 5px 5px !important;}
.td_3 ul {margin:0 0 0 20px;}
.tbl-cont, .gdUnit tr td.tbl-cont {padding:5px 0;}
.unit-inf-ic a, span.noavail-inf-ic {display:block;}
 span.noavail-inf-ic {cursor:help;}
.unit-inf-ic a i, span.noavail-inf-ic i {font-size:22px;}
span.noavail-inf-ic i {color:#c00;}
.price-green {color:#068F00;}
#legend p {margin:0 0 6px;}
#legend div {display:none;}
/*EOC new code, noRiddle*/

/* unit */
.guayaquil_unit_note {font-size:15px;} /*noRiddle*/
ul.guayaquil_tab, li.guayaquil_tab {border:0; margin:0; padding:0; list-style:none;}
ul.guayaquil_tab{
    border-bottom:solid 1px #DEDEDE;
    height:29px;
    padding-left:0px;
}
li.guayaquil_tab, li.guayaquil_activetab{
    float:left;
    margin-right:2px;
}
.guayaquil_tab a:link, .guayaquil_tab a:visited{
    display:block;
    float:left;
    height:30px;
    background:url(./images/tab-round.png) no-repeat right -30px;
    color:#666;
    font-weight:bold;
    text-decoration:none;
    padding-right:5px;
}
.guayaquil_tab a span{
    display:block;
    float:left;
    height:30px;
    background:url(./images/tab-round.png) no-repeat left -30px;
    padding-left:5px;
    line-height:30px;
    cursor:pointer
}
.guayaquil_tab a:hover{
    background:url(./images/tab-round.png) no-repeat right -60px;
}
.guayaquil_tab a:hover span{
    background:url('./images/tab-round.png') no-repeat left -60px;
}
.guayaquil_activetab a:link, .guayaquil_activetab a:visited, .guayaquil_activetab a:visited, .guayaquil_activetab a:hover{
    background:url('./images/tab-round.png') no-repeat right 0;
}
.guayaquil_activetab a span, .guayaquil_activetab a:hover span{
    background:url('./images/tab-round.png') no-repeat left 0;
}

div.guayaquil_floatunitlist_150, div.guayaquil_floatunitlist_175, div.guayaquil_floatunitlist_200, div.guayaquil_floatunitlist_225, div.guayaquil_floatunitlist_250, .inline_block {
	display:-moz-inline-stack; /* for FF2*/
	display:inline-block; /* normal browsers */
	zoom:1; /* for IE (hasLayout true) */
	*display:inline; /* for IE */
}

div.guayaquil_floatunitlist_box {
	padding:0.5%; /*noRiddle*/
	cursor:pointer;
	overflow:hidden;
    position:relative; /*noRiddle*/
	/*background: none;*/ /*noRiddle*/
}
div.guayaquil_floatunitlist_box_hover {
	color: white;
	background:#e8f0ff !important; /*#006FA4 !important; noRiddle*/
}

div.guayaquil_floatunitlist_150 {
	width:164px;
	height:204px;
}

div.guayaquil_floatunitlist_175 {
	width:193px;
	height:229px;
}

div.guayaquil_floatunitlist_200 {
	width:214px;
	height:254px;
}

div.guayaquil_floatunitlist_225 {
	width:239px;
	height:279px;
}

div.guayaquil_floatunitlist_250 {
	/*width:264px;*/ /*noRiddle*/
	height:314px; /*304px; noRiddle*/
    width:19%; /*noRiddle*/
    text-align:center; /*noRiddle*/
}

/*div.guayaquil_floatunitlist_150 div, div.guayaquil_floatunitlist_175 div, div.guayaquil_floatunitlist_200 div, div.guayaquil_floatunitlist_225 div, div.guayaquil_floatunitlist_250 div {
	height:100%;
}*/
div.guayaquil_floatunitlist_150 div.g_highlight, 
div.guayaquil_floatunitlist_175 div.g_highlight, 
div.guayaquil_floatunitlist_200 div.g_highlight, 
div.guayaquil_floatunitlist_225 div.g_highlight, 
div.guayaquil_floatunitlist_250 div.g_highlight {
	height:100%;
} /*noRiddle*/

/*div.guayaquil_floatunitlist_150 div table, div.guayaquil_floatunitlist_175 div table, div.guayaquil_floatunitlist_200 div table, div.guayaquil_floatunitlist_225 div table, div.guayaquil_floatunitlist_250 div table {
	width:100%;
	height:100%;
	background:white;
}*/ /*noRiddle*/

.guayaquil_floatunitlist {height:100%;} /*noRiddle*/

.guayaquil_floatunitlist_image_150{
	height:150px;
}

.guayaquil_floatunitlist_image_175{
	height:175px;
}

.guayaquil_floatunitlist_image_200{
	height:200px;
}

.guayaquil_floatunitlist_image_225{
	height:225px;
}

.guayaquil_floatunitlist_image_250 {
	/*height:250px;*/ /*noRiddle*/
    height:80%; /*noRiddle*/
}
.guayaquil_floatunitlist_image_250 img {
max-width:100%;
} /*noRiddle*/
.guayaquil_floatunitlist_title {
height:18%;
padding:2% 0 0;
font-size:12px;
line-height:14px;
} /*noRiddle*/

div.guayaquil_categoryfloatbox {
	/*clear:right;
	float:right;
	width:300px;*/
    margin:0 6px 0 0; /*noRiddle*/
}

.guayaquil_categoryitem_selected {
	background: #5272a4; /*noRiddle*/
	color:white;
    margin:1px 0;
	padding:2px 5px;
    text-align:left; /*noRiddle*/
}

div.guayaquil_categoryitem_selected a, div.guayaquil_categoryitem_selected a:hover {
	color:white;
    text-align:left; /*noRiddle*/
}

.guayaquil_categoryitem {
	margin:1px 0;
    padding:2px 5px;
    text-align:left; /*noRiddle*/
}

/* Catalogs */

div.guayaquil_floatcatalog{
	float:left;
	padding:5px;
}

div.guayaquil_floatcatalog div{
	padding:2px;
}

div.guayaquil_floatcatalog div table{
	background:white;
}

table.guayaquil_tablecatalog {
	width:90%;
	border-collapse: collapse;
}

table.guayaquil_tablecatalog tbody tr td{
	padding:2px;
	height: 42px;
}

table.guayaquil_tablecatalog tbody tr td a:hover{
	color:white;
}

table.guayaquil_tablecatalog tbody tr th{
	background:#5372a6; /*#006FA4; /*noRiddle*/
	color:white;
	font-weight:bold;
	padding:5px;
	margin:0px;
}

.guayaquil_SelectedRow {
	font-weight:bold;
}

/* Catalog */

.guayaquil_catalogicon {
	clear:right;
	float:right;
	width:176px;
}

.g_input_error, .g_input {
	padding:2px;
    width:100%; /*noRiddle*/
	display:-moz-inline-stack; /* for FF2*/
	display:inline-block; /* normal browsers */
	zoom:1; /* for IE (hasLayout true) */
	*display:inline; /* for IE */
}

.g_input_error {
	/*background:red;*/
    border: 1px solid red;
}

/* Details */

.g_row_hided {
	display:none;
}

.around-tbl {margin:10px 0; border:2px solid #293851;} /*noRiddle*/

tr.g_replacementRow {
	font-size: 90%;
	background:#EEEEEE;
}

/* Common */

tr.over {
	color: #898989;
	background: #D1DDF1;
}

tr.over a, tr.over a:hover, tr.over a:visited {
	color: #898989;
}

table.guayaquil_table {
	border-collapse: collapse;
    /*margin:0 0 30px;*/
}

table.vehicle-table th, table.vehicle-table td {border:1px solid #c9c9c9;} /*noRiddle*/

table.guayaquil_table thead tr td {
	padding:4px;
}

table.guayaquil_table thead tr th{
	background:#fff; /*#5372a6 linear-gradient(to bottom, #78a7f1 30%, #5372a6 100%) repeat scroll 0 0; /*noRiddle*/
	color:#000; /*#fff;*/
	font-weight:bold;
	padding:5px;
	margin: 0 auto;
	text-align: center;
    border:1px solid #c9c9c9;
}
table.guayaquil_table thead tr .th_5, table.guayaquil_table thead tr .th_9 {
    background: #a2bd58 none repeat scroll 0 0;
    color: #333;
}

.block_header {
	font-family:Helvetica,Arial,sans-serif;
	font-size:1.5em;
	font-weight:bold;
	margin:0 0 10px;
	padding-left:0;
	text-align:left;
}

div.g_highlight_over {
	color: #676767;
	background: #d1ddf1;
}

tr.g_highlight_over, tr.g_highlight_lock {
	color: #676767;
	/*background: #d1ddf1;*/ /*noRiddle*/
}
tr.g_highlight_over {background:#d1ddf1;}
tr.g_highlight_lock {background:#F9DBCA ;}

div.g_highlight_glow {
	color: white;
	background: #A40000;
}

.guayaquil_catalogicon {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
}
.xtop, .xbottom {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
display:block;
font-size:1px;
}
.xb1, .xb2, .xb3, .xb4 {
display:block;
overflow:hidden;
}
.xb1, .xb2, .xb3 {
height:1px;
}
.xb2, .xb3, .xb4 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border-left:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
}
.xb1 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#CCCCCC none repeat scroll 0 0;
margin:0 5px;
}
.xb2 {
border-width:0 2px;
margin:0 3px;
}
.xb3 {
margin:0 2px;
}
.xb4 {
height:2px;
margin:0 1px;
}
.xboxcontent {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border-color:#dadada; /*#CCCCCC; noRiddle*/
border-style:solid;
border-width:0 1px;
display:block;
padding:5px 10px;
}

#tooltip {
	position: absolute;
    padding: 5px;
    max-width:350px;
	background-color: #5372a6;
    color: #fff;
    border: 1px solid #939393;
    border-radius: 5px;
	opacity: 0.85;
    z-index: 9999;
}
#tooltip .price-green {color:#fff;}
#tooltip h3, #tooltip div { margin: 0; }
#tooltip a {color:#fff;} /*#a3b8d8;} /*noRiddle*/
#tooltip .clb_price, #tooltip .clb_tax {color:#70ff90;}

.guayaquil_zoom {
    float: left;
}

.guayaquil_floatunitlist_box > div.guayaquil_unit_icons > div.guayaquil_zoom, #viewport > span.guayaquil_zoom, .gdImageCol > div.guayaquil_unit_icons {
    display:none;
}

.guayaquil_floatunitlist_box:hover > div.guayaquil_unit_icons > div.guayaquil_zoom, #viewport:hover > span.guayaquil_zoom, .gdImageCol:hover > div.guayaquil_unit_icons {
    display:block;
    margin: 5px;
}

.g_filter_row, .g_filter_row a {
    color: #ff8c00;
}

.g_filter_row td[name='c_pnc'] {
    padding-left: 27px;
    background:url(./details/images/filter.gif) no-repeat 2px center;
}

.g_filter_scroller {
    overflow: auto;
    height: 15em;
    width:600px;
}

.guayaquil_unit_filter {
    float: left;
}

.guayaquil_unit_icons {
    height:32px !important;
    position: absolute;
    /*float:left;*/ /*noRiddle*/
    left:0; /*noRiddle*/
    top:0; /*noRiddle*/
    z-index: 20;
    padding: 5px;
    background:rgba(255,255,255,.5);
    cursor: pointer;
}

a.g_filter_unit {
    color: #FF8C00;
}

div.g_filter_label {
    padding-bottom: 10px;
}

div.g_filter_note {
    padding-left: 23px;
}

span.g_filter_name {
    font-weight: bold;
}

div.g_catalog_float_box {
    float: left;
    width:95px;
    height:90px;
    text-align: center;
}

div.g_catalog_float_icon {
    height: 45px;
}

div.g_catalog_float_name {
    overflow: hidden;
    height: 50px;
}
.gdCategory {
    margin: 10px 0;
    padding: 5px;
    border: 2px solid #a2bd58;
}
.gdCategory h3 {
margin:6px 0 8px 0;
padding:0 5px; 
width:25%;
min-height:30px;
text-align:center;
}
text-align:center;
}
.gdCategory h3 .cssButton {
width: 95%;
font-size: 12px;
line-height: 16px;
}

.gdSubCategory {
    margin: 0 0 50px;
    position: relative;
    border-bottom: 3px solid #5372a6;
}
.gdUnit {width:100%;}
.gdUnit .gdImageCol {width: 25%;}
.gdUnit .gdDetailCol {width:75%;}
.gdImageCol .cssButton {width:95%; font-size:12px; line-height:16px;}
.gdImage {margin: 2px; background: white;}
.gdImage img {max-width:100%;}
/*.gdUnit tr td { padding-bottom: 25px;}*/ /*noRiddle*/
/*.gdUnit:hover {background: #eee; }*/
.gdNoImage { background:  url(images/noimage.png) center no-repeat #fff;}
.gVehicleLink, .gQuickGroupsLink { float:right; padding: 10px; background: #006FA4; color: white;}
.gVehicleLink a, .gQuickGroupsLink a {color: white;}
.guayaquil_categoryfloatbox .gQuickGroupsLink {float: none !important;}
.g_addgr_collapsed {display: none;}

.g_nonstandarddetail, .g_nonstandarddetail a {
    color: #ff6600;
}
/*BOC coming from unit.css*/
#viewport .g_highlight_over {
	outline: 3px solid #749CDC !important;
	background:none;
}

#viewport .g_highlight_lock {
	outline: 3px solid #ee5500 !important;
	background:none;
}

#viewport .g_highlight {
	outline: 3px solid transparent;
	background:none;
	cursor:pointer;
}

#g_container {
position: relative;
height:602px;
margin:50px 0 20px; /*noRiddle*/
} 

#g_container #viewtable {
    position:absolute;
    top:0;
    right:0;
    /*width: 50% !important;*/ /*noRiddle*/
}
/*EOC coming from unit.css*/