<table width="100%" border="0">
  <tr>
    <td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo.gif"></div></td>
  </tr>
</table>
<hr />
Bonjour {$content.PARTNER_NAME},<br /><br />

Un nouveau décompte de vos commissions a été créé.<br /><br />

N° de règlement de commission : <b>{$content.PAYMENT_ID}</b><br />
Décompte de commission détaillé : <b>{$content.INVOICE_URL}</b><br />
Date de règlement : <b>{$content.PAYMENT_DATE}</b><br /><br />

Nous nous réjouissons à la perspective de poursuivre notre bonne coopération.<br /><br />

Votre équipe du programme affilié