<table width="100%" border="0">
  <tr>
    <td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo.gif"></div></td>
  </tr>
</table>
<hr />
Bonjour {$content.PARTNER_NAME},<br /><br />

YLe statut de votre décompte de commission a été modifié.<br />
Nouveau statut : <br>{$content.PAYMENT_STATUS}</b><br />
Si vous avez des questions concernant votre déclaration de commission, veuillez répondre à ce courriel.<br /><br />

N° de règlement de commission : <br>{$content.PAYMENT_ID}</b><br />
Décompte de commission détaillé : <br>{$content.INVOICE_URL}</b><br />
Date de règlement : <br>{$content.PAYMENT_DATE}<br /></b><br />

Nous nous réjouissons à la perspective de poursuivre notre bonne coopération.<br /><br />

Votre équipe du programme de partenariat