<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    	<td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
        <font face="Tahoma, Verdana, sans-serif">Le statut de votre commande</font>
      </td>
	</tr>
	<tr> 
		<td>
        <br />
        <font size="2" face="Tahoma, Verdana, sans-serif"><b>{if $GENDER == 'm'} Monsieur {elseif $GENDER == 'f'} Madame {else} Bonjour {/if} {$NAME},</b>
        <br /><br />Le statut de votre commande {if $ORDER_NR}No. {$ORDER_NR}{/if} {if $ORDER_DATE}du {$ORDER_DATE}{/if} a changé.
        
        {if $ORDER_LINK}
          <br /><br />
          Lien vers la commande : <a href="{$ORDER_LINK}">click here</a>
        {/if}
                
        {if $NOTIFY_COMMENTS}
          <br /><br />
          Notes et commentaires sur votre commande :<br />
          {$NOTIFY_COMMENTS}
        {/if}

        {*BOC added stuff name who edited order, noRiddle*}
        <br /><br/>Cordialement {$smarty.session.customer_first_name} {$smarty.session.customer_last_name}<br />
        {*EOC added stuff name who edited order, noRiddle*}
        
        <br /><br />
        Nouveau statut : <b>{$ORDER_STATUS}</b>

        {if $PARCEL_COUNT > 0}
          <br /><br />
          L'envoi consiste en {$PARCEL_COUNT} paquet(s).<br />
          Vous pouvez vérifier le statut de la livraison en cliquant sur le(s) numéro(s) de colis suivant(s) :<br />
          {foreach name=aussen item=tracking_data from=$PARCEL_ARRAY}
            <a target="_blank" href="{$tracking_data.tracking_link}">{$tracking_data.parcel_id}</a><br />
          {/foreach}
        {/if}

        <br /><br />
        Si vous avez des questions concernant votre commande, veuillez répondre à cet e-mail.        
        
        </font>
		</td>
	</tr>
</table>

[SIGNATUR]
</div>
