<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    	<td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
        <font face="Tahoma, Verdana, sans-serif">Compte créé</font>
      </td>
	</tr>
	<tr> 
		<td>
        <br />
        <font size="2" face="Tahoma, Verdana, sans-serif"><b>{if $GENDER == 'm'} Monsieur {elseif $GENDER == 'f'} Madame {else} Bonjour {/if} {$NAME},</b>
        <br /><br />
        un compte a été créé pour vous, vous pouvez vous connecter à notre boutique avec les données suivantes.
        
        {if $COMMENTS} 
          <br /><br />
          Commentaires : {$COMMENTS} 
        {/if}

        <br /><br />
         Vos données d'accès à notre boutique :<br />
        <br />
        </font>
        <table width="100%"  border="0" bgcolor="f1f1f1" cellpadding="5">
				  <tr>
            <td><font size="2" face="Tahoma, Verdana, sans-serif"><b>E-Mail :</b> {$EMAIL}</font></td>
          </tr>
				  <tr>
            <td><font size="2" face="Tahoma, Verdana, sans-serif"><b>Votre mot de passe :</b> {$PASSWORD}</font></td>
          </tr>
        </table>

		</td>
	</tr>
</table>

[SIGNATUR]
</div>
