<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    	<td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
        <font face="Tahoma, Verdana, sans-serif">Bon</font>
      </td>
	</tr>
	<tr> 
		<td>
        <br />
        <font size="2" face="Tahoma, Verdana, sans-serif"><b>{if $GENDER == 'm'} Monsieur {elseif $GENDER == 'f'} Madame {else} Bonjour {/if} {$NAME},</b>
        <br /><br />
        Vous avez récemment commandé un bon d'achat dans notre boutique en ligne, qui, pour des raisons de sécurité, n'a pas été immédiatement déverrouillé.
        <br /><br />
        Ce crédit est maintenant disponible pour vous. Vous pouvez comptabiliser votre bon et l'envoyer par e-mail.
        <br /><br />
        Le bon que vous avez commandé a une valeur de {$AMMOUNT}.

        </font>

		</td>
	</tr>
</table>

[SIGNATUR]
</div>
