<div style="width:800px;margin: 0px auto;">
<table width="800" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr> 
        <td align="center" style="padding: 10px 0px;">
            <img src="{$logo_path}logo.gif" />
        </td>
    </tr>
    {*BOC get address and tel.no. from configuration, noRiddle*}
    <tr>
        <td align="center" style="padding: 0px 0px 10px;">{$smarty.const.STORE_OWNER} &bull; {$smarty.const.STORE_NAME_ADDRESS|replace:"\n":' &bull; '}</td>
    </tr>
    {*EOC get address and tel.no. from configuration, noRiddle*}
    <tr> 
        <td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
            <font face="Tahoma, Verdana, sans-serif">Subject: order no. {$ORDER_NO}</font>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tr>
                    <td valign="top">
                        <font size="2" face="Tahoma, Verdana, sans-serif">{if $GENDER == 'm'} Cher {elseif $GENDER == 'f'} Chère {else} {/if} {$GENDER} {$LASTNAME}.
                            <br />
                            En pièce jointe vous trouvez {$PDF_TYPE} pour la commande mentionnée en haut.
                            <br /> 
                            <br />
                            <br />
                        </font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

[SIGNATUR]

</div>