<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    	<td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
        <font face="Tahoma, Verdana, sans-serif">Bon</font>
      </td>
	</tr>
	<tr> 
		<td>
        <br />
        <font size="2" face="Tahoma, Verdana, sans-serif">
        {$MESSAGE}
        <br />
        <br />
        </font>
        <table width="100%"  border="0" bgcolor="f1f1f1" cellpadding="5">
				  <tr>
            <td><font size="2" face="Tahoma, Verdana, sans-serif"><b>Valeur du bon d'achat</b> {$AMMOUNT}</font></td>
          </tr>
				  <tr>
            <td><font size="2" face="Tahoma, Verdana, sans-serif"><b>Votre code promotionnel est :</b> {$GIFT_ID}</font></td>
          </tr>
        </table>
        <br />
        <font size="2" face="Tahoma, Verdana, sans-serif">
        Pour réserver votre bon, cliquez sur le lien suivant - <a href="{$GIFT_LINK}"> {$GIFT_LINK}</a>.
        <br /><br />
        Si vous avez de la difficulté à entrer votre code de bon, veuillez visiter notre site Web <a href="{$WEBSITE}">{$WEBSITE}</a> et entrer le code de bon manuellement.
        </font>
		</td>
	</tr>
</table>

[SIGNATUR]
</div>
