<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    	<td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
        <font face="Tahoma, Verdana, sans-serif">Bon</font>
      </td>
	</tr>
	<tr> 
		<td>
        <br />
        <font size="2" face="Tahoma, Verdana, sans-serif">
        {$MESSAGE}
        <br />
        <br />
        Vous pouvez utiliser le bon d'achat avec votre commande. Entrez votre numéro de bon d'achat dans le champ bon d'achat. 
        <br /><br />
        Votre numéro de bon est : <strong>{$COUPON_ID}</strong><br />
        <br />
        Conservez votre numéro de bon d'échange en lieu sûr afin de pouvoir bénéficier de cette offre lors de votre prochaine visite sur <a href="{$WEBSITE}">{$WEBSITE}</a>.
        </font>
		</td>
	</tr>
</table>

[SIGNATUR]
</div>
