#viewport .g_highlight_over {
	outline: 3px solid #749CDC !important;
	background:none;
}

#viewport .g_highlight_lock {
	outline: 3px solid #ee5500 !important;
	background:none;
}

#viewport .g_highlight {
	outline: 3px solid transparent;
	background:none;
	cursor:pointer;
}

#g_container {
position: relative;
margin:50px 0 20px; /*noRiddle*/
} 

#g_container #viewtable {
    position:absolute;
    top:0;
    right:0;
    /*width: 50% !important;*/ /*noRiddle*/
}

/*
.guayaquil_unit_note {
    display: none;
}
*/