<table width="100%" border="0">
  <tr>
    <td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo.gif"></div></td>
  </tr>
</table>
<hr />
Hello {$content.PARTNER_NAME},<br /><br />

A new invoice arrived to your payments.<br /><br />

Payment Number: <b>{$content.PAYMENT_ID}</b><br />
Detailed Invoice: <b>{$content.INVOICE_URL}</b><br />
Date billed: <b>{$content.PAYMENT_DATE}</b><br /><br />

We are looking foreward on an ongoing successfull cooperation.<br /><br />

sincerly your Affiliate-Team