<table width="100%" border="0">
  <tr>
    <td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo.gif"></div></td>
  </tr>
</table>
<hr />
Hello {$content.PARTNER_NAME},<br /><br />

Your payment has been updated to the following status.<br />
New status: <br>{$content.PAYMENT_STATUS}</b><br />
Please reply to this email if you have any questions.<br /><br />

Payment Number: <br>{$content.PAYMENT_ID}</b><br />
Detailed Invoice: <br>{$content.INVOICE_URL}</b><br />
Date billed: <br>{$content.PAYMENT_DATE}<br /></b><br />

We are looking foreward on an ongoing successfull cooperation.<br /><br />

sincerly your Affiliate-Team