/*-----------------------------------------------------------------------------
- kenburn slider -
Screen Stylesheet
*** addapted to modified eCommerce and for no javascript on, noRiddle ***
-----------------------------------------------------------------------------*/

/**********
 main
*********/
/*.bannercontainer {margin:0 auto; max-width:1420px; height:250px; position:relative; overflow:hidden;}*/ /*put this in main stylesheet, IE9 flickers without early style, noRiddle*/

.ie7 .bannercontainer {display:none;}

.njs .bannercontainer ul {list-style-type:none;}
.bannercontainer ul li, .njs .bannercontainer ul li {position:absolute;} /* first to avoid flashing of pics outside the container on page load, noRiddle */
.njs .bannercontainer ul li .creative_layer {display:none;}
.njs .bannercontainer .video_kenburner {display:none;}

.responsiveholder a:link, .responsiveholder a:visited {text-decoration:underline; color:#d3d3d3; cursor:pointer;}
.responsiveholder a:hover {text-decoration:none; color:#ff8838;}
.responsiveholder .clear {clear:both;}

/*.kb_container img { z-index: 1;} /*without this link is not clickable when no KenBurns effect acvtivated, noRiddle*/
.kb_container > a {position: absolute; z-index: 1;} /*important for linked images when no kenBurns effect activated, noRiddle*/

/*****************************
 THE BACKGROUND OF THE SLIDER
*****************************/
.light .kenburn-bg {background:#fff;}

/***************************
 THE PRELOADER OF THE BANNER
***************************/
.kenburn-preloader {
background:url(../kb-plugin/assets/loader/preloader.gif) no-repeat 50% 50%; /*url relative to compressed version in /css/*/
width:32px;
height:32px;
position:absolute;
left:50%;
top:50%;
/*z-index:9999;*/ /*noRiddle*/
z-index:20; /*noRiddle*/
background-color: #000;
border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
padding: 10px;
margin-left: -14px;
}

.video_kenburn_wrap {height:100%; overflow:hidden;}

/******************************************
 CAPTION SETTINGS
*******************************************/	
.kb-fullsize .cp-right, .kb-fullsize .cp-top, .kb-fullsize .cp-left, .kb-fullsize .cp-bottom,
.kb-mediumsize .cp-right, .kb-mediumsize .cp-top, .kb-mediumsize .cp-left, .kb-mediumsize .cp-bottom,
.kb-smallsize .cp-right, .kb-smallsize .cp-top, .kb-smallsize .cp-left, .kb-smallsize .cp-bottom
.kb-minisize .cp-right, .kb-minisize .cp-top, .kb-minisize .cp-left, .kb-minisize .cp-bottom {
color:#000;
/*background:#000;
background:rgba(0,0,0,.5);*/
position:absolute;
}
.cp-right.fade, .cp-left.fade, .cp-top.fade, .cp-bottom.fade {opacity:1;} /*overwrite bootstrap*/

/********************************************************************************************************************************************
 -fullsize = WIDHT >959px SIZING | -mediumsize = WIDHT <=767px SIZING | -smallsize = WIDHT <=570px SIZING | -minisize = WIDHT <=300px SIZING
********************************************************************************************************************************************/
.kb-fullsize .cp-right, .kb-mediumsize .cp-right, .kb-smallsize .cp-right, .kb-minisize .cp-right {padding:6% 2% 2%; left:5%; top:0; /*height:100%;*/ width:35%;}
.kb-fullsize .cp-left, .kb-mediumsize .cp-left, .kb-smallsize .cp-left, .kb-minisize .cp-left {padding:6% 2% 2%; left:5%; top:0; /*height:100%;*/ width:35%;}
.kb-fullsize .cp-top, .kb-mediumsize .cp-top, .kb-smallsize .cp-top, .kb-minisize .cp-top {padding:6% 2% 2%; left:5%; top:0%; width:35%;}
.kb-fullsize .cp-bottom, .kb-mediumsize .cp-bottom, .kb-smallsize .cp-bottom, .kb-minisize .cp-bottom {padding:6% 2% 2%; left:5%; top:0%; width:35%;}
/*********************
WIDHT >959px SIZING
*********************/
/*.kb-fullsize {font-size:16px;}*/
.kb-fullsize h3 {margin:0 0 8px; font-size:18px; line-height:20px;}
.kb-fullsize p {margin:5px 0; /*font-size:16px; line-height:18px;*/ line-height:1.45;}
.kb-fullsize p.fs-28 {margin:5px 0; font-size:28px; line-height:30px;}
.kb-fullsize p.fs-26 {margin:5px 0; font-size:26px; line-height:28px;}
.kb-fullsize p.fs-24 {margin:5px 0; font-size:24px; line-height:26px;}
.kb-fullsize p.fs-22 {margin:5px 0; font-size:22px; line-height:24px;}
.kb-fullsize p.fs-20 {margin:5px 0; font-size:20px; line-height:22px;}
.kb-fullsize p.fs-18 {margin:5px 0; font-size:18px; line-height:20px;}
.kb-fullsize .cp-left img, .kb-fullsize .cp-right img, .kb-fullsize .cp-top img, .kb-fullsize .cp-bottom img {max-width:100%;}
/*********************
 WIDHT <=767px SIZING 
*********************/
/*.kb-mediumsize {font-size:14px;}*/
.kb-mediumsize h3 {margin:0 0 7px; font-size:16px; line-height:18px;}
.kb-mediumsize p {margin:4px 0; /*font-size:14px; line-height:16px;*/ line-height:1.45;}
.kb-mediumsize p.fs-28 {margin:4px 0; font-size:26px; line-height:28px;}
.kb-mediumsize p.fs-26 {margin:4px 0; font-size:24px; line-height:26px;}
.kb-mediumsize p.fs-24 {margin:4px 0; font-size:22px; line-height:24px;}
.kb-mediumsize p.fs-22 {margin:4px 0; font-size:20px; line-height:22px;}
.kb-mediumsize p.fs-20 {margin:4px 0; font-size:18px; line-height:20px;}
.kb-mediumsize p.fs-18 {margin:4px 0; font-size:16px; line-height:18px;}
.kb-mediumsize .cp-left img, .kb-mediumsize .cp-right img, .kb-mediumsize .cp-top img, .kb-mediumsize .cp-bottom img {max-width:100%;}
/*********************
 WIDHT <=570px SIZING 
*********************/
/*.kb-smallsize {font-size:12px;}*/
.kb-smallsize h3 {margin:0 0 6px; font-size:14px; line-height:16px;}
.kb-smallsize p {margin:3px 0; /*font-size:12px; line-height:13px;*/ line-height:1.45;}
.kb-smallsize p.fs-28 {margin:3px 0; font-size:24px; line-height:26px;}
.kb-smallsize p.fs-26 {margin:3px 0; font-size:22px; line-height:24px;}
.kb-smallsize p.fs-24 {margin:3px 0; font-size:20px; line-height:24px;}
.kb-smallsize p.fs-22 {margin:3px 0; font-size:18px; line-height:20px;}
.kb-smallsize p.fs-20 {margin:3px 0; font-size:16px; line-height:18px;}
.kb-smallsize p.fs-18 {margin:3px 0; font-size:14px; line-height:16px;}
.kb-smallsize .cp-left img, .kb-smallsize .cp-right img, .kb-smallsize .cp-top img, .kb-smallsize .cp-bottom img {max-width:100%;}
/**********************
 WIDHT <=300px SIZING 
**********************/
/*.kb-minisize {font-size:11px;}*/
.kb-minisize h3 {margin:0 0 5px; font-size:13px; line-height:15px;}
.kb-minisize p {margin:3px 0; /*font-size:11px; line-height:12px;*/ line-height:1.45;}
.kb-minisize p.fs-28 {margin:3px 0; font-size:23px; line-height:25px;}
.kb-minisize p.fs-26 {margin:3px 0; font-size:21px; line-height:23px;}
.kb-minisize p.fs-24 {margin:3px 0; font-size:19px; line-height:21px;}
.kb-minisize p.fs-22 {margin:3px 0; font-size:17px; line-height:19px;}
.kb-minisize p.fs-20 {margin:3px 0; font-size:15px; line-height:17px;}
.kb-minisize p.fs-18 {margin:3px 0; font-size:13px; line-height:15px;}
.kb-minisize .cp-left img, .kb-minisize .cp-right img, .kb-minisize .cp-top img, .kb-minisize .cp-bottom img {max-width:100%;}
/**********************
 BUTTONS IN CAPTIONS
*********************/
.b-grey {
background:#d3d3d3;
color:#000;
font-weight:bold;
line-height:14px;
padding:1px 8px;
border:1px solid #000;
border-radius:6px;
box-shadow:1px 1px 4px #000, 0 0 3px #000 inset;
cursor:pointer;
}
.b-grey a {color:#000 !important; text-decoration:none !important;}
.b-grey:hover {
box-shadow:0 0 5px #000 inset;
}

/*********************
 ALL  VIDEO SETTINGS
*********************/
.videoon {overflow:hidden;}
.video_clip {width:60%; height:100%; top:0px; left:0px; overflow:hidden;}
.video_video {width:100%; height:100%; overflow:hidden;}

.video_details {	
width:34%;
height:100%;
padding:30px 3% 30px 3%;			
top:0px;
right:0px;
position:absolute;
box-shadow:-1px 0 3px #bababa; box-shadow:-1px 0 3px rgba(186,186,186,.5)
}

.kenburn-video-overlay {
background-color:#000;
opacity:0.25;
filter: alpha(opacity=25);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
width:100%;
height:100%;
position:relative;
/*z-index:1000;*/ /*noRiddle*/
z-index:18; /*noRiddle*/
}

.kenburn-video-button {
background:url(../kb-plugin/assets/player/play.png) no-repeat; /*url relative to compressed version in /css/*/
width:100px;
height:100px;
position:absolute;
/*z-index:1500;*/ /*noRiddle*/
z-index:19; /*noRiddle*/
opacity:0.85;
filter: alpha(opacity=85);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
cursor:pointer;
}

.kenburn-video-button:hover {opacity:1.0;}

.light .video_kenburn {
position:absolute;
top: 0; bottom: 0px;
width: 100%;
background:#000;
color:#d3d3d3;
overflow:hidden
}

.light .video_kenburn .close {
width:30px;
height:30px;
position:absolute;
background:url(../kb-plugin/assets/button/close.png) no-repeat top;	/*url relative to compressed version in /css/*/
left:94%;
bottom:15%;
box-shadow:none; /*overwrite bootstrap, noRiddle*/
opacity:1; /*overwrite bootstrap, noRiddle*/
cursor:pointer;
}

.light .video_kenburn .close:hover {
background-position:bottom;
opacity:0.5;
filter: alpha(opacity=50);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
cursor:pointer;
border-radius:50%;
box-shadow:0 0 6px 2px #fff;
}

.kenburn_thumb_container .video {
width:30px;
height:30px;
background:url(../kb-plugin/assets/player/play_small.png) no-repeat; /*url relative to compressed version in /css/*/
margin-top:-15px;
margin-left:-15px;
cursor:pointer;
}

/*********************
 THUMBNAIL OPTIONS
*******************/
.kenburn_thumb_container_bg {
background:url(../kb-plugin/assets/bg/thumbs_bg.png); /*url relative to compressed version in /css/*/
padding:1px;
margin-top:-1px;
margin-left:-1px;
border-radius: 3px;
box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.80);		
}

.dark .kenburn-thumbs .overlay {
width:100%;
height:100%;
position:absolute;
top:0px;
left:0px;
background:#000;
}

.light .kenburn-thumbs .overlay {
width:100%;
height:100%;
position:absolute;
top:0px;
left:0px;
background:#000;
}

.thumbbuttons{
background:transparent;
height:10px;	
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
position:absolute;
right:10px;
bottom:10px; /*top:8px; /*noRiddle*/
/*z-index:1000;*/ /*noRiddle*/
z-index:18; /*noRiddle*/
display:none;	
}
.bannercontainer:hover .thumbbuttons {display:block;}

.ie7 .thumbbuttons, .ie8 .thumbbuttons {height:10px;}
.thumbbuttons .grainme {}
.thumbbuttons .leftarrow {display:none;}
.thumbbuttons .rightarrow {display:none;}
.thumbbuttons .minithumb {
width:10px;
height:10px;
background:#000;
border:2px solid #fff;
border-radius:50%;
box-shadow:0 0 5px #fff;
margin: 0 3px;	
float:left;
cursor:pointer;
}
.thumbbuttons .minithumb:hover {background:#767676;}
.thumbbuttons .minithumb.selected {background:#fff; border-color:#000; box-shadow:0 0 5px #fff, 0 0 2px #000 inset;}
/*.thumbbuttons .thumbs {float:right;}*/
.thumbbuttons .rightarrow:hover, .thumbbuttons .leftarrow:hover, .thumbbuttons .minithumb:hover, .thumbbuttons .thumbs .selected {
background-position:top left;
}

.nav-right, .nav-left {
display:none;
position:absolute;
/*z-index:1000;*/ /*noRiddle*/
z-index:18; /*noRiddle*/
bottom:24px; /*10px; /*noRiddle*/
margin:0;
width:24px;
height:24px;
color:#fff;
font-size:16px;
line-height:18px;
border:2px solid #fff;
border:2px solid rgba(255,255,255,.6);
border-radius:50%;
background:#000;
background:rgba(0,0,0,.6);
box-shadow:0 0 5px #FFFFFF;
box-shadow:0 0 5px rgba(255,255,255,.6);
text-align:center;
cursor:pointer;
}
.nav-right {right:10px;}
.nav-left {right:40px;}
.nav-right:hover, .nav-left:hover {background:#000; background:rgba(0,0,0,.8);}
.bannercontainer:hover .nav-right, .bannercontainer:hover .nav-left {display:block;}