/******************************************************
* CSS for import/export script with browser reload
* c) noRiddle 12-2015
******************************************************/
#master-admin {margin:0 20px;}
#master-admin h1 {margin:10px 0; font-size:35px; text-align:center;}
#master-admin h2 {margin:18px 0; padding:0 0 3px; font-size:23px; border:solid #000; text-align:center; border-width:2px 0 2px 0;}
#master-admin h3 {margin:5px 0; padding:0 0 3px; font-size:20px; border-bottom:1px solid #ccc;}
#master-admin h3 .fs10 {font-size:11px; color:#c00;}
#master-admin h4 {margin:0; font-size:18px;}
#master-admin h2 .sml, #master-admin h4 .sml {font-size:12px;}
#master-admin hr {margin:20px 0;}
#master-admin button {
height:24px;
padding:0 6px;
color:#323144;
font-size:12px;
font-weight:bold;
background:#fff;
background:linear-gradient(to bottom, #fff 5%, #bababa 100%);
border:1px solid #999;
border-radius:3px;
box-shadow:1px 1px 5px #c6c6c6;
opacity:1;
cursor:pointer;
transition:all .4s ease;
}
#master-admin button:hover {box-shadow:none; opacity:.8;}
#master-admin button:focus {background:#fff; background:linear-gradient(to bottom, #bababa 5%, #fff 100%);}
#master-admin .gold {color:#7d643e;}
#master-admin .turq {color:#007F81;}
#master-admin .matt-green {color:#34813a;}
#master-admin .matt-red {color:#B73939;}
#master-admin .red {color:#c00;}
#master-admin .bord, #master-admin #error-copy-conts {margin:4px 0; padding:6px; border:1px solid #999; border-radius:5px;}
#master-admin #error-copy-conts {color:#c00; font-size:18px; font-weight:bold;}
#master-admin table.table-impexp {width:100%; border-spacing:2px 12px; border-collapse:separate;}
#master-admin table.table-impexp td {
width:50%;
padding:5px 10px;
border:1px solid #999;
vertical-align: top;
box-shadow:0 0 5px #c6c6c6;
}
#master-admin table.table-indxs {border-collapse:separate; border-spacing:0;}
#master-admin table.table-indxs td, #master-admin table.table-indxs th {padding:2px 4px; border:1px solid #999; background-clip:padding-box;}
#master-admin table.table-indxs td.bord-2 {border-width:1px 1px 3px; border-color:#999 #999 #474747 #999;}
#master-admin table.table-indxs td.ctr {text-align:center;}
#master-admin table.table-indxs th {border-width:1px 1px 3px;}
#master-admin table.table-indxs td:last-child {text-align: center;}
#master-admin table.table-indxs td.thirtyperc {width:500px;}

#master-admin #tog-aux-funcs, #master-admin #tog-set-funcs, #master-admin #tog-copy-single, #top-copy-with-factor {
padding:3px;
border:1px solid #999;
border-radius:5px;
cursor:pointer;
box-shadow:1px 1px 5px #c6c6c6;
opacity:1;
transition:all .4s ease;
}
#master-admin #tog-aux-funcs:hover, #master-admin #tog-set-funcs:hover {box-shadow:none; opacity:.8;}
#master-admin .marg-t30 {margin-top:30px;}
#master-admin #inside-wrap {margin:0 0 70px;}
#master-admin #inside-wrap ul {margin:10px 0; padding:0; overflow:hidden;}
#master-admin ul.master-tools-list li, #master-admin ul.master-tools-list-hori li {
float:left;
margin:14px;
padding:10px;
width:250px;
font-size:16px;
list-style-type:none;
background:#323144;
border:1px solid #999;
border-radius:5px;
box-shadow:0 0 5px #4e4e4e;
}
#master-admin ul.master-tools-list li {height:140px;}
#master-admin ul.master-tools-list-hori li {height:30px;}
#master-admin ul.master-tools-list li:hover, #master-admin ul.master-tools-list-hori li:hover {box-shadow:none;}
#master-admin ul.master-tools-list li a, #master-admin ul.master-tools-list-hori li a {
display:block;
height:100%;
color:#fff;
text-decoration:none;
}
#master-admin ul.master-tools-list li a:hover, #master-admin ul.master-tools-list-hori li a:hover {text-decoration:none;}
#master-admin ul.master-tools-list li p, #master-admin ul.master-tools-list-hori li p {margin:0 0 8px;}
#master-admin ul.master-tools-list li a p.mod-name, #master-admin ul.master-tools-list-hori li a p.mod-name {font-size:18px; line-height:25px; text-align:center; font-weight:bold;}
#master-admin ul.master-tools-list li a p.mod-desc, #master-admin ul.master-tools-list-hori li a p.mod-desc {text-align:left;}

#master-admin #inside-wrap ul.do-list {margin:10px 0 10px 20px; overflow:visible; list-style-type:disc;}

#master-admin .script-code {clear:both;}
#master-admin .div-marg {margin:18px 0 0; overflow:hidden;}
#master-admin .div-marg form {}
#master-admin .div-marg form label {font-weight:bold;}
#master-admin .div-marg form input, #master-admin .div-marg form select {
margin:0 8px 0 0;
border: 1px solid #999;
border-radius:4px;
box-shadow:1px 1px 5px #c6c6c6 inset;
margin:0 8px 0 0;
padding:3px;
}
#master-admin form input[readonly="readonly"] {background:#e0e0e0; cursor:not-allowed;}
#master-admin #set-funcs td {padding:4px 2px;}
#master-admin #upload-msg, #master-admin #imp-out, #master-admin #imp-spec-out, #master-admin #exp-out, #master-admin #exp-spec-out, #master-admin #copy-persoff-all-out, #master-admin #copy-persoff-single-out, #master-admin #copy-persoff-factor-out {
clear:left;
margin:5px 8px 5px 0;
padding:2px 5px;
font-weight:bold;
border:1px solid #999;
border-radius:5px;
box-shadow:1px 1px 5px #c6c6c6 inset;
overflow:hidden;
resize:vertical;
}
#master-admin #upload-msg {width:90%; min-height:40px;}
#master-admin #imp-out, #master-admin #exp-out, #master-admin #exp-spec-out {width:90%; min-height:80px;}
#master-admin #imp-spec-out {width:90%; min-height:110px;}
#master-admin #copy-persoff-all-out {width:98%; /*height:270px;*/ margin-top:20px;}
#master-admin #copy-persoff-single-out {width:98%; min-height:100px;}
#master-admin #set_prod_out {
display:inline-block;
vertical-align:middle;
width:auto;
/*min-width:100px;
min-height:20px;*/
margin:0 0 0 25px;
padding:2px 4px;
border:1px solid #999;
border-radius:5px;}

#master-admin .div-marg form input[name="allowed_copy_conts"] {width:100%;}

#credits p {text-align:center;}