<div id="header">
    <div id="logo-cont">
        <div id="logo-cont-inner" class="cf">
            <div class="left-top cf">
                <div id="logo">
                    <a href="{$index}" title="Home">
                        <img src="{$tpl_path}img/carparts_catalogs792x72.png" id="main-logo" alt="{#link_index#} &bull; {$store_name}">
                    </a>
                </div>

                <div id="cart-wish">
                    <ul id="wk-wish" class="cf">
                        {if isset($box_CATALOGUE_CART)}<li class="cart" id="cat_crt">{$box_CATALOGUE_CART}</li>{/if}
                        <li>&nbsp;|&nbsp;</li>
                        {if isset($box_CART)}<li class="cart" id="crt">{$box_CART}</li>{/if}
                        {if isset($box_WISHLIST)}<li class="wishlist">{$box_WISHLIST}</li>{/if}
                    </ul>
                </div>
            </div>
            
            <div id="brlogo" class="{if isset($smarty.get.c)}brlogo-norad{else}brlogo-rad{/if}">
                {if isset($smarty.get.c)}
                <img src="nr_catalogue_files/guayaquillib/render/catalogs/imagesclear/75x75/{$smarty.session.nr_ctlg_brands[$smarty.get.c].brand_icon}" alt="{$smarty.session.nr_ctlg_brands[$smarty.get.c].our_brand}" />
                {else}
                <a href="{$index}" title="Home">
                    <img src="templates/{$smarty.const.CURRENT_TEMPLATE}/img/favicon_logo.png" alt="{#link_index#} &bull; {$store_name}" />
                </a>
                {/if}
            </div>
        </div>
    </div>

    <div id="top-nav">
        <div id="top-nav-inner">
            <div class="left-top cf">
                <ul id="m-menu" class="cf">
                    {if !isset($fullcontent) && $fullcontent != true}
                    <li class="sidebar_btn"><span id="sidebar_marker"></span><a href="#" title="{#ah_sidebar_menu#}"><i class="fa fa-bars"></i><span class="tn_nomobile">{#ah_sidebar_menu#}</span></a></li>
                    {/if}
                    <li class="sml-f"><a href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=7'}" title="{#link_contact#}"><i class="fa fa-envelope-o"></i><span class="tn_nomobile">{#link_contact#}</span></a></li>
                    {if isset($account)}
                    {*BOC new for account information, noRiddle*}
                    {*<li class="sml-f"><a href="{$account}" title="{#link_account#}"><i class="fa fa-user"></i><span class="tn_nomobile">{#link_account#}</span></a></li>*}
                    <li class="sml-f account">
                        <div id="account-short">
                            <a href="{$account}" title="{#link_account#}"><i class="fa fa-user"></i><span class="tn_nomobile">{#link_account#}</span></a>
                        </div>
                        
                        <div class="account-short">
                            <p class="shrt-acc-inf">{$nr_cust_fl_name}{if isset($nr_cust_stat_name)}<br />{$nr_cust_stat_name}{/if}</p>
                            <p class="shrt-acc-inf">{#title_vin_credit#}: {$VIN_CREDITS}</p>
                            <p class="cssButtonPos7">
                                <a href="{$account}"><span class="cssButton cssButtonColor2" title="{#link_account#}"><i class="fa fa-user"></i><span class="cssButtonText">{#link_account#}</span></span></a>
                            </p>
                            <p class="cssButtonPos3">
                                <a href="{$logoff}"><span class="cssButton cssButtonColor7" title="{#link_logoff#}"><i class="fa fa-sign-out"></i><span class="cssButtonText">{#link_logoff#}</span></span></a>
                            </p>
                        </div>
                    </li>
                    {*EOC new for account information, noRiddle*}
                    {/if}
                    {if isset($smarty.session.customer_id)}
                    <li><a href="{$logoff}" title="{#link_logoff#}"><i class="fa fa-sign-out"></i><span class="tn_nomobile">{#link_logoff#}</span></a></li>
                    {else}
                    <li><a href="{$login}" title="{#link_login#}"><i class="fa fa-sign-in"></i><span class="tn_nomobile">{#link_login#}</span></a></li>
                    {/if}
                </ul>
                <ul id="langs">
                    {if isset($box_LANGUAGES) && $box_LANGUAGES != ''}
                    <li class="tn_lang">{$box_LANGUAGES}</li>
                    <li class="goog-trans"><div id="google_translate_element"></div></li> {*google translator dropdown, noRiddle*}
                    {/if}
                </ul>
            </div>
        </div>
    </div>
    <noscript>{#activate_js#}</noscript>
</div>
{*BOC box cokebumoslider, noRiddle*}
{if !isset($smarty.get.coID) || (isset($smarty.get.coID) && $smarty.get.coID != '14000')}
{if strpos($smarty.server.PHP_SELF, 'checkout') === false}
{if isset($home) && $home == true}
{$box_COKEBUMOSLIDER}
{/if}
{/if}
{/if}
{*EOC box cokebumoslider, noRiddle*}