{if $options != ''}
<div class="productoptions">
  {foreach name=outer item=options_data from=$options}
  <div class="options_row_selection">
    <div class="options_name">{$options_data.NAME} {if $options_data.ID == '1'}<a class="iframe anou" href="{$smarty.const.FILENAME_POPUP_CONTENT|xtc_href_link:'coID=120'}" rel="nofollow"><i class="fa fa-info-circle"></i></a>{/if}</div>
      {foreach key=key_data name=key_data item=item_data from=$options_data.DATA}
      <div class="options_selection">
        <label for="rdb_{$item_data.ID}">
          <input type="radio" name="id[{$options_data.ID}]" id="rdb_{$item_data.ID}" value="{$item_data.ID}"{if $item_data.CHECKED == '1'} checked="checked"{/if} />
          {$item_data.TEXT} {if $item_data.PRICE != '' }<span class="options_selection_price">{$item_data.PREFIX} {$item_data.PRICE}</span>{/if}
          <br class="clearfix" />
        </label>
      </div>
      {/foreach}
  </div>
  {/foreach}
</div>
{/if}