{config_load file="$language/lang_$language.conf" section="product_info"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="product_info"}
<div itemscope itemtype="http://schema.org/Product">
  {$FORM_ACTION}
  <h1 itemprop="name">{$PRODUCTS_NAME}</h1>
  <div id="product_details">
    {if $PRODUCTS_IMAGE != ''}
    <div class="pd_imagebox">
      <div class="pd_big_image">
        <a class="cbimages" title="{$PRODUCTS_NAME|onlytext}" href="{$PRODUCTS_IMAGE|replace:"info_images":"popup_images"}"><img itemprop="image" src="{$PRODUCTS_IMAGE}" alt="{$PRODUCTS_NAME|onlytext}" /></a>
      </div>
      <div class="zoomtext">{#zoomtext#}</div>
      {if $more_images|@count > 0}
      <div class="pd_small_image_row cf">
        {foreach item=more_images_data from=$more_images} 
        <div class="pd_small_image"><div class="pd_small_image_inner cf"><a class="cbimages" title="{$PRODUCTS_NAME|onlytext}" href="{$more_images_data.PRODUCTS_IMAGE|replace:"info_images":"popup_images"}"><img src="{$more_images_data.PRODUCTS_IMAGE|replace:"info_images":"thumbnail_images"}" alt="{$PRODUCTS_NAME|onlytext}" /></a></div></div>
        {/foreach}
      </div>
      {/if}
    </div>
    {/if}

    <div class="pd_content">
      <div class="pd_infobox">
        <div class="pd_inforow_first"></div>
        {if $SHIPPING_NAME}<div class="pd_inforow"><strong>{#text_shippingtime#}</strong> {if $SHIPPING_IMAGE}<img class="pd_shipping_image" src="{$SHIPPING_IMAGE}" alt="{$SHIPPING_NAME}" />{/if} {$SHIPPING_NAME_LINK}</div>{/if}
        {if $PRODUCTS_MODEL != ''}<div class="pd_inforow"><strong>{#model#}</strong> {$PRODUCTS_MODEL}<meta itemprop="model" content="{$PRODUCTS_MODEL}" /></div>{/if}  
        {if $PRODUCTS_EAN != ''}<div class="pd_inforow"><strong>{#ean#}</strong> {$PRODUCTS_EAN}</div>{/if}  
        {if $PRODUCTS_RATING_COUNT > 1}
        <div class="pd_inforow" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
          <strong>{#info_reviews#}</strong> 
          <span class="pd_reviews_image"><img src="{$tpl_path}img/stars_{$PRODUCTS_AVERAGE_RATING}.png" alt="" /></span> 
          ({$PRODUCTS_RATING_COUNT})
          <meta itemprop="ratingValue" content="{$PRODUCTS_AVERAGE_RATING}" />
          <meta itemprop="bestRating" content="5" />
          <meta itemprop="ratingCount" content="{$PRODUCTS_RATING_COUNT}" /> 
        </div>
        {elseif $PRODUCTS_RATING_COUNT > 0 }
        <div class="pd_inforow" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
          <strong>{#info_review#}</strong> 
          <span class="pd_reviews_image"><img src="{$tpl_path}img/stars_{$PRODUCTS_AVERAGE_RATING}.png" alt="" /></span> 
          ({$PRODUCTS_RATING_COUNT})
          <meta itemprop="ratingValue" content="{$PRODUCTS_AVERAGE_RATING}" />
          <meta itemprop="bestRating" content="5" />
          <meta itemprop="ratingCount" content="{$PRODUCTS_RATING_COUNT}" /> 
        </div>
        {/if}
        {if isset($PRODUCTS_DISCOUNT) && $PRODUCTS_DISCOUNT != ''}<div class="pd_inforow"><strong>{#text_discount#}</strong> {$PRODUCTS_DISCOUNT}</div>{/if}  
        {if $PRODUCTS_EXPIRES}<div class="pd_inforow red">{#text_expires_date#} {$PRODUCTS_EXPIRES}</div>{/if}

        {if $PRODUCTS_MANUFACTURERS_MODEL != ''}<div class="pd_inforow"><strong>{#products_manufacturer_model#}</strong> {$PRODUCTS_MANUFACTURERS_MODEL}</div>{/if}
        {if isset($MANUFACTURER) && $MANUFACTURER != ''}<div class="pd_inforow"><strong>{#manufacturer#}</strong> <span itemprop="brand">{$MANUFACTURER}</span></div>{/if}
        {if isset($MANUFACTURER_LINK) && $MANUFACTURER_LINK != ''}<div class="pd_inforow"><strong>{#manufacturer_more_of#}</strong> <a title="{$MANUFACTURER|onlytext}" href="{$MANUFACTURER_LINK}">{$MANUFACTURER}</a></div>{/if}
        {if $PRODUCTS_URL != ''}<div class="pd_inforow">{$PRODUCTS_URL}</div>{/if}

        <ul class="pd_iconlist">
          <li class="print">{$PRODUCTS_PRINT_LAYER}</li>
          <li class="vote">{$PRODUCTS_WRITE_REVIEW}</li>
          {if isset($EXPRESS_LINK)}<li class="express">{$EXPRESS_LINK}</li>{/if}
          {if $ADD_CART_BUTTON_WISHLIST_TEXT}<li class="wishlist">{$ADD_CART_BUTTON_WISHLIST_TEXT}</li>{/if}
        </ul>
        {if isset($KLARNA_PPBOX)}{$KLARNA_PPBOX}{/if}
      </div>

      <div class="pd_summarybox" itemprop="offers" itemscope itemtype="http://schema.org/Offer"> 
        <meta itemprop="priceCurrency" content="{$smarty.session.currency}" />
        {if $PRODUCTS_QUANTITY <= 0 && $smarty.const.STOCK_CHECK == 'true'}<meta itemprop="availability" content="http://schema.org/OutOfStock" />{else}<meta itemprop="availability" content="http://schema.org/InStock" />{/if}
        {if $PRODUCTS_MANUFACTURERS_MODEL != ''}<meta itemprop="mpn" content="{$PRODUCTS_MANUFACTURERS_MODEL}" />{/if}
        <meta itemprop="itemCondition" content="http://schema.org/NewCondition" />

        <div class="pd_price{if $PRODUCTS_FSK18 == 'true'} pd_fsk_padding{/if}">
        {if $PRODUCTS_FSK18 == 'true'}<div class="pd_fsk18"></div>{/if}
        <div id="pd_puprice">
            {foreach name=inner item=price_data from=$PRODUCTS_PRICE_ARRAY}
              {include file="`$smarty.const.CURRENT_TEMPLATE`/module/includes/price_info.html"}
            {/foreach}
        </div>
        </div>
        {if $PRODUCTS_PRICE_ARRAY.0.PRODUCTS_PRICE_FLAG != 'NotAllowed'}
          {if $PRODUCTS_VPE}<div class="pd_vpe">{$PRODUCTS_VPE}</div>{/if}
          <div class="pd_tax{if $PRODUCTS_FSK18 == 'true'} pd_fsk_padding{/if}">{$PRODUCTS_TAX_INFO}{if $PRODUCTS_SHIPPING_LINK}{$PRODUCTS_SHIPPING_LINK}{/if}</div>
        {/if}
        {if isset($MODULE_graduated_price) && $MODULE_graduated_price != ''}{$MODULE_graduated_price}{/if}
        {if isset($MODULE_product_options) && $MODULE_product_options != ''}
          {if $MODULE_product_options_template == 'multi_options_1.html' || $MODULE_product_options_template|strpos:"dropdown" !== false}
            {$MODULE_product_options}
          {/if}
        {/if}
      
        {if $ADD_CART_BUTTON != ''}
        <div class="addtobasket cf">
          <span class="addtobasket_input">{$ADD_QTY|replace:"type=\"text\"":"type=\"tel\""}</span>
          <span class="addtobasket_actions cf">
            <span class="cssButtonPos10">{$ADD_CART_BUTTON}</span>
            {if isset($ADD_CART_BUTTON_EXPRESS)}
              <span class="cssButtonPos10">{$ADD_CART_BUTTON_EXPRESS}</span>
            {elseif $ACTIVATE_EXPRESS_LINK}
              <span class="express_info"><a href="{$ACTIVATE_EXPRESS_LINK}">{#checkout_express_activate#}</a></span>
            {/if}
            {if $ADD_CART_BUTTON_PAYPAL}
              <span class="cssButtonPos10">{$ADD_CART_BUTTON_PAYPAL}</span>
            {/if}
            {*
            {if $ADD_CART_BUTTON_WISHLIST}
            <br class="clearfix" />
            <span class="cssButtonPos10">{$ADD_CART_BUTTON_WISHLIST}</span>
            {/if}
            *}
          </span>
        </div>
        {/if}
        
        {if $PAYPAL_INSTALLMENT}
          <br class="clearfix" />
          {$PAYPAL_INSTALLMENT}
        {/if}
      
        {if $ADD_CART_BUTTON == '' && $PRODUCTS_FSK18 == 'true'}<div class="pd_inforow_message">{#products_fsk18_check#}</div>{/if}
        {if $ADD_CART_BUTTON == '' && $PRODUCTS_GIFT_FORBIDDEN == 'true'}<div class="pd_inforow_message">{#products_gift_forbidden#}</div>{/if}
        {if isset($PRODUCTS_DATE_AVAILABLE) && $PRODUCTS_DATE_AVAILABLE != ''}<div class="pd_inforow_message">{$PRODUCTS_DATE_AVAILABLE}</div>{/if}

      </div>
      <br class="clearfix" />
      {if isset($XTB_REDIRECT_USER_TO) && $XTB_REDIRECT_USER_TO == 'product'}
        <div class="xtb_booster_redirect_message"><strong>Sie haben die eBay Auktion gewonnen!</strong><br />Bitte w&auml;hlen Sie nun noch die gew&uuml;nschten Produkteigenschaften und legen Sie den Artikel danach in den Warenkorb, um mit der Zahlung fortzufahren und das Produkt versandfertig zu machen!</div>
      {/if}
      {if isset($MODULE_product_options) && $MODULE_product_options != ''}
        {if $MODULE_product_options_template != 'multi_options_1.html' && $MODULE_product_options_template|strpos:"dropdown" === false}
          {$MODULE_product_options}
        {/if}
      {/if}      
    </div>  
    <br class="clearfix" />
    {if isset($MANUFACTURER_IMAGE) && $MANUFACTURER_IMAGE != ''}<div class="pd_manu_image"><a title="{$MANUFACTURER|onlytext}" href="{$MANUFACTURER_LINK}"><img src="{$MANUFACTURER_IMAGE}" alt="{$MANUFACTURER|onlytext}" /></a></div>{/if}
  </div>
  {$FORM_END}

  {if $PRODUCTS_DESCRIPTION != ''}<h4 class="detailbox">{#products_desc#}</h4><div class="pd_description" itemprop="description">{$PRODUCTS_DESCRIPTION}</div><br />{/if}
  {if isset($MODULE_product_tags) && $MODULE_product_tags != ''}{$MODULE_product_tags}{/if}
  {if isset($MODULE_products_media) && $MODULE_products_media != ''}{$MODULE_products_media}{/if}
  {if isset($MODULE_products_reviews) && $MODULE_products_reviews != ''}{$MODULE_products_reviews}{/if}
  {if isset($MODULE_cross_selling) && $MODULE_cross_selling != ''}{$MODULE_cross_selling}{/if}
  {if isset($MODULE_reverse_cross_selling) && $MODULE_reverse_cross_selling != ''}{$MODULE_reverse_cross_selling}{/if}
  {if isset($MODULE_also_purchased) && $MODULE_also_purchased != ''}{$MODULE_also_purchased}{/if}
  {if isset($MODULE_products_category) && $MODULE_products_category != ''}{$MODULE_products_category}{/if}

  {if $PRODUCTS_ADDED != ''}<p class="dateadded_border">{$PRODUCTS_ADDED}</p>{/if}
  {$PRODUCT_NAVIGATOR}
</div>