<table width="100%" border="0">
  <tr>
    <td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo.gif"></div></td>
  </tr>
</table>
Bonjour {$content.PARTNER_NAME}<br /><br />



Merci de vous inscrire à notre programme d'affiliation.<br /><br />

Vos informations d'inscription:<br />
**************************<br /><br />


Votre ID partenaire est : {$content.PARTNER_ID}<br />
Votre nom d'utilisateur est : {$content.PARTNER_LOGIN}<br />
Votre mot de passe est : {$content.PARTNER_PW}<br />
Inscrivez-vous ici  {$content.LINK}<br />
Nous nous réjouissons d'une bonne coopération avec vous !
<br /><br />

Votre équipe du programme d'affiliation