<table width="100%" border="0">
  <tr>
    <td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo.gif"></div></td>
  </tr>
</table>
Via l'adresse {$content.REMOTE_ADDRESS} nous avons une demande de renouvellement de mot de passepour votre accès au programme d'affiliation.<br /><br />

Votre nouveau mot de passe pour accéder au programme d'affiliation de {$content.STORE_NAME} est maintenant : <strong>{$content.NEWPASS}</strong>