{config_load file="$language/lang_$language.conf" section="newsletter"}
{config_load file="$language/lang_$language.conf" section="contact_us"}
{config_load file="lang_`$language`.custom"}
<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    	<td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
        <font face="Tahoma, Verdana, sans-serif">Vous avez reçu une demande de contact. </font>
      </td>
	</tr>
	<tr> 
		<td>
        <br />
        <font size="2" face="Tahoma, Verdana, sans-serif">
        Vous trouverez ci-dessous les détails de la demande :<br /><br />
        <strong>{$smarty.const.EMAIL_NAME}</strong> {$NAME}<br />
        <strong>{$smarty.const.EMAIL_EMAIL}</strong> {$EMAIL}<br />
        {$ADDITIONAL_FIELDS}
        <br />
        <strong>{$smarty.const.EMAIL_MESSAGE}</strong><br />
        {$MESSAGE}
      
        </font>
        <br /><br />
		</td>
	</tr>
</table>
</div>

