<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    <td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
      <font face="Tahoma, Verdana, sans-serif">Compte créé avec succès</font>
    </td>
	</tr>
	<tr> 
		<td>
      <br />
      <font size="2" face="Tahoma, Verdana, sans-serif"><b>{if $GENDER == 'm'}Monsieur{elseif $GENDER == 'f'}Madame{else}Bonjour{/if} {$NAME},</b><br />
      <br />
      Vous venez de créer votre compte avec succès.<br />
      En tant que client enregistré, vous bénéficiez des avantages suivants dans notre boutique:<br />
      <br />
      <b>Crédits pour la recherche de NIV:</b> Vous avez été crédité de 10 crédits pour la recherche de NIV (numéro d’identification du véhicule (anglais VIN)) dans le catalogue.<br />À chaque fois que vous achetez dans l'un de nos magasins de différentes marques, vous recevez 10 crédits supplémentaires.
      <br />
      <b>Données de connexion:</b> Vous pouvez toujours vous connecter avec vos données de connexion sans avoir à saisir à nouveau toutes vos données d'adresse.<br />Dans toute notre boutique, les données de connexion sont les mêmes.
      <br />
      <br />
      <u>Attention:</u><br />
      Cet e-mail a été utilisé pour créer un compte dans notre boutique {$smarty.const.HTTP_SERVER}/{$smarty.const.SHOP}.<br />
      Si ce n'est pas vous qui avez créé le compte, quelqu'un a abusé de votre adresse e-mail.<br />
      Veuillez nous le faire savoir afin que nous puissions supprimer le compte : <a href="mailto:{$content.MAIL_REPLY_ADDRESS}">{$content.MAIL_REPLY_ADDRESS}</a><br />
      </font>
		</td>
	</tr>
</table>

[SIGNATUR]
</div>