<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    	<td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
        <font face="Tahoma, Verdana, sans-serif">Votre nouveau mot de passe !</font>
      </td>
	</tr>
	<tr> 
		<td>
        <br />
        <font size="2" face="Tahoma, Verdana, sans-serif"><b>Cher client,</b>
        <br /><br />
        Vous avez reçu cet e-mail parce que vous vouliez obtenir un nouveau mot de passe.<br />
        C'est pourquoi nous vous avons envoyé cet e-mail avec un lien de confirmation personnel.
        Veuillez noter que ce lien n'est valide que pour {$VALID_REQUEST_TIME} minutes.
        </font>
        <br /><br />
        
        <table width="100%"  border="0" bgcolor="f1f1f1" cellpadding="5">
				  <tr>
            <td><font size="2" face="Tahoma, Verdana, sans-serif"><b>Votre lien de confirmation :</b> <a href="{$LINK}">{$LINK}</a></font></td>
          </tr>
        </table>

		</td>
	</tr>
</table>

[SIGNATUR]
</div>