<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    <td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
      <font face="Tahoma, Verdana, sans-serif">Merci beaucoup pour votre inscription à notre newsletter.</font>
    </td>
	</tr>
	<tr> 
		<td>
      <br />
      <font size="2" face="Tahoma, Verdana, sans-serif"><b>Merci beaucoup pour votre inscription à notre newsletter.</b><br />
			<br />
      Vous recevez cet e-mail parce que vous souhaitez recevoir notre newsletter. Veuillez cliquer sur le lien d'activation pour activer votre adresse e-mail afin de recevoir la newsletter.<br />
	  Si vous n'êtes pas abonné à notre newsletter ou si vous ne souhaitez pas la recevoir, veuillez cliquer sur le lien d'activation, nous vous demandons d'ignorer simplement le lien d'activation. 
      <br />
      <b>Votre lien d'activation:</b><br />
      <a href="{$LINK}">{$LINK}</a><br />

      </font>
		</td>
	</tr>
</table>

[SIGNATUR]
</div>

