<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    	<td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
        <font face="Tahoma, Verdana, sans-serif">Félicitations, vous avez reçu un bon d'un montant de {$AMMOUNT} </font>
      </td>
	</tr>
	<tr> 
		<td>
        <br />
        <font size="2" face="Tahoma, Verdana, sans-serif">Vous avez reçu un bon d'un montant de <b>{$AMMOUNT} </b>
        <br /><br />
        Ce bon vous a été envoyé par {$FROM_NAME}, avec le message :<br />
        <br />
        <i>{$MESSAGE}</i><br />
        <br />
        Votre code de bon personnel est <strong>{$GIFT_CODE}</strong>.<br />
        S'il y a des problèmes avec le lien ci-dessus lors de l'échange, vous pouvez comptabiliser le montant pendant le processus de commande. <a href="{$GIFT_LINK}">{$GIFT_LINK}</a> <br />
        <br />
        </font>
		</td>
	</tr>
</table>

[SIGNATUR]
</div>
