<p>Nous prélevons le montant de la facture de {$PAYMENT_BANKTRANSFER_TOTAL} comme prélèvement SEPA à la date d'échéance {$PAYMENT_BANKTRANSFER_DUE_DATE}<br />
à votre référence de mandat {$PAYMENT_BANKTRANSFER_MANDATE_REFERENCE}<br />
et notre numéro d'identification de créancier {$PAYMENT_BANKTRANSFER_CREDITOR_ID}<br />
à partir de votre compte {$PAYMENT_BANKTRANSFER_IBAN}<br />
à l'adresse {$PAYMENT_BANKTRANSFER_BANKNAME}.</p>
<p>Veuillez vous assurer qu'il y a assez d'argent disponible pour le paiement sur votre compte.</p>