/*BOC edit gm_price_status*/
.prod-ed-cont {position:relative;}
.nr-prod-edit {cursor:pointer;}
.nr-prod-data {
display:none;
position:absolute;
left:60%;
top:30%;
width:430px;
padding:0 8px 8px;
/*overflow:hidden;*/
z-index:1;
background:#fff;
border:1px solid #A2A2A2;
border-radius:0 10px 10px;
box-shadow:1px 1px 5px #8b8b8b;
}
.nr-prod-data h3 {margin:10px 0; overflow:hidden;}
.nr-prod-data h3.rrp-price {cursor:pointer;}
.nr-prod-data h3.rrp-price:not(.rrp-open):before {content:'\02C5\0020';} 
.nr-prod-data h3.rrp-price.rrp-open:before {content:'\02C4\0020';}
.nr-prod-data hr {margin:10px 0 0;}
.nr-prod-data .nr-inpt-uvp {display:none;}
.nr-head-close {float:right; color:#f00; cursor:pointer;}
.nr-inpt-repl {display:none;}
.sml-red {font-size:9px; color:#f00;}
/*EOC edit gm_price_status*/

.infoBoxContent input[type=text] {width:420px;}