/****************************************
* file: stat_catalog.css
* use CSS for the catalogue statistic
*
* (c) noRiddle 09-2018
****************************************/

/***BOC stat graphs ***/
#stat-info-cont {position:relative; padding:0 5px 80px;}
#working-gif {display:none; position:absolute; top:50%; left:50%; margin:-17px 0 0 -17px; font-size:50px; color:#bd6060; animation:load_rot 1.5s linear infinite;}
@keyframes load_rot {100% {transform:rotate(360deg);}}

.stat-graph-wrap {position:relative; display:inline-block; margin:0 50px 100px 0; min-width:400px; height:350px; vertical-align:bottom;}
.stat-graph-wrap h3 {position:aboslute:; top:0; left:0; margin:0; font-size:13px;}
.y-axis, .x-axis {position:absolute; background:#000;}
.y-axis {width:1px; height:300px; left:50px; top:100px;}
.x-axis {width:300px; height:1px; left:51px; bottom:0;}
.grids-x {position:absolute; left:-11px; height:1px; background:#ccc;}
.grids-x:nth-child(odd) {background:#dedede;}
.perc {position:absolute; color:#7b7b7b; border-bottom:1px solid #7b7b7b;}
.percx {position:absolute; color:#7b7b7b; border-bottom:1px solid #7b7b7b; transform:rotate(90deg);}

.y-10 {left:-33px; bottom:10%;}
.y-20 {left:-33px; bottom:20%;}
.y-30 {left:-33px; bottom:30%;}
.y-40 {left:-33px; bottom:40%;}
.y-50 {left:-33px; bottom:50%;}
.y-60 {left:-33px; bottom:60%;}
.y-70 {left:-33px; bottom:70%;}
.y-80 {left:-33px; bottom:80%;}
.y-90 {left:-33px; bottom:90%;}
.y-100 {left:-40px; bottom:100%;}

.x-10 {left:10%; top:10px;}
.x-20 {left:20%; top:10px;}
.x-30 {left:30%; top:10px;}
.x-40 {left:40%; top:10px;}
.x-50 {left:50%; top:10px;}
.x-60 {left:60%; top:10px;}
.x-70 {left:70%; top:10px;}
.x-80 {left:80%; top:10px;}
.x-90 {left:90%; top:10px;}
.x-100 {left:100%; top:10px;}

.vert-stat-bar {position:absolute; bottom:1px; width:30px; background:#be6717;}
.vbar-pastel {background:#ba9069;}

.vert-bar-desc {
    position:absolute;
    bottom:100%;
    padding:3px;
    z-index:1;
    white-space:nowrap;
    border:1px solid #bcbcbc;
    border-radius:4px;
    font-size:10px;
    color:#7b7b7b;
    background:#fff;
    transform-origin:bottom left;
    transform:rotate(-36deg);
}

.x-legend {position:absolute; color:#7b7b7b; white-space:nowrap; transform-origin:0 0; transform:rotate(36deg);}
.legend-pastel {color:#ba9069;}

.vert-bar-desc:hover {transform:rotate(-36deg) scale(1.5); z-index:2;}
.vert-bar-desc:hover ~ .x-legend {
    transform:rotate(36deg) scale(1.5);
    z-index:2;
    padding:3px;
    background:#fff;
    border:1px solid #bcbcbc;
    border-radius:4px;
}

.horiz-stat-bar {position:absolute; left:51px; height:7px; background:#be6717;}
/***EOC stat graphs ***/

.sc-filters {margin:5px 8px; clear:both;}
.sc-filter-dropdowns {padding:0 6px 0 0;}
.main-cat-stat {margin:0;}
.main-cat-stat p {margin:8px 0;}
.main-cat-stat .dataTableHeadingContent {background:#5372a6 !important; color:#fff !important;}
.main-cat-stat .dataTableHeadingContent {width:15%;}
.main-cat-stat .dataTableHeadingContent:nth-child(7) {width:10%;}
.sort-span {padding:0 0 0 10px;}
.fa.fa-arrow-down, .fa.fa-arrow-up {display:inline-block; padding:0 5px; color:#8fb9ff; font-size:14px;}

fieldset {padding:8px 5px; border:1px solid #aaa;}
legend {padding:0 5px; font-weight:bold;}
.fl-form, .fl-div {float:left; margin:0 15px 0 0; padding:2px 2px 4px; border:1px solid #ccc;}
input#sc-custmail-filter {width:200px;}

.inl-block {display:inline-block; margin:0 6px;}
label.sc-lbl {display:block; margin:0 0 4px;}

.inl-pre {display:inline-block; margin:0; color:green;}

button.button, input.button, a.button {
    display:inline-block;
    padding: 6px 15px;
    color:#ddd;
    background-color:#444;
    font-size:10px;
    line-height:12px;
    font-weight:bold;
    border-color: #333;
    border-style: solid;
    border-width: 1px;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*margin: 4px 4px 0px 0px;  */
    cursor:pointer;
}
button.button:hover, input.button:hover, a.button:hover {
    color:#fff;
    background-color:#333;
    border-color: #222;
    text-decoration:none !important;
    cursor:pointer;
}

/*** BOC tab menu with slide effect styles ***/
ul.acc-nav {border:1px solid #aaa;}
ul.acc-nav {display:none; margin:14px 8px 0; padding:2px 5px 3px;}
ul.acc-nav li {display:inline-block; padding:3px 2px; text-align:center;}
ul.acc-nav li a {
    display:block;
    color:#4b4b4b; /*#767676;*/
    font-weight:bold;
    line-height:22px;
    padding:0 6px;
    cursor:pointer;
    border:1px solid #aaa;
    border-radius:3px;
    transition:color .5s; -webkit-transition:color .5s;
}
ul.acc-nav li a:hover {color:#be6717;}
ul.acc-nav li a.active {color:#B82D2D;}
div.list-wrap {
    margin:0 8px 8px;
    border:1px solid #aaa;
    border-radius:0 0 10px 10px;
    position:relative;
    overflow:hidden;
}
.acc-lists {position:relative; height:auto !important; border:0; color:#4b4b4b; overflow:hidden;} /*without height:auto !important; container doen't adapt after ajax load*/
.acc-lists > div {padding:10px;}
.acc-lists h4 {margin-top:0;}
/*** EOC tab menu with slide effect styles ***/