{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="index"}
<h1>{$LIST_TITLE}</h1>

{if (isset($CATEGORIES_DESCRIPTION) && $CATEGORIES_DESCRIPTION != '')
     || (isset($CATEGORIES_IMAGE) && $CATEGORIES_IMAGE != '')}
<div class="cat_description cf">
  {if isset($CATEGORIES_IMAGE) && $CATEGORIES_IMAGE != ''}<img class="cat_image{if !$CATEGORIES_DESCRIPTION} ci_nomargin{/if}" src="{$CATEGORIES_IMAGE}" alt="{$CATEGORIES_NAME|onlytext}" />{/if}
  {if isset($CATEGORIES_DESCRIPTION) && $CATEGORIES_DESCRIPTION != ''}{$CATEGORIES_DESCRIPTION}{/if}
</div>
{/if}

{if isset($CATEGORIES_LISTING)}{$CATEGORIES_LISTING}{/if}

{$LISTING_FILTER}

{if (isset($MANUFACTURER_DESCRIPTION) && $MANUFACTURER_DESCRIPTION != '')
    || (isset($MANUFACTURER_IMAGE) && $MANUFACTURER_IMAGE != '')
    || (isset($MANUFACTURER_NAME) && $MANUFACTURER_NAME != '')}
<h4>{$MANUFACTURER_NAME}</h4>
<div class="manu_description cf">
  {if $MANUFACTURER_IMAGE}<img class="manu_image{if !$MANUFACTURER_DESCRIPTION} mi_nomargin{/if}" src="{$MANUFACTURER_IMAGE}" alt="{$MANUFACTURER_NAME|onlytext}" />{/if}
  {if $MANUFACTURER_DESCRIPTION}{$MANUFACTURER_DESCRIPTION}{/if}
</div>  
{/if}

{$PAGINATION}
<div class="{if $smarty.get.keywords|htmlentities != ''}listingcontainer_full{else}listingcontainer{/if} cf">
  {include file="`$smarty.const.CURRENT_TEMPLATE`/module/includes/product_listing_include.html"}
</div>
{$PAGINATION}