/****************************************************************************
* file: editor.css
* use: fck editor main css for backend when loading frontend css in editor
*      loading of css defined in /includes/extra/wysiwyg/add_wysiwyg.php
* (c) noRiddle 07-2017
****************************************************************************/

body {margin:15px; background:#fff;}
ul {
  margin-left:15px;
}
ol {
  margin-left:28px;
}
.desc-tabs {padding:0 2px; color:#fff; background:#B07602;}