{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="lang_`$language`.custom"}
{if isset($box_ADMIN)}<div class="adminspacer"></div>{$box_ADMIN}{/if}
<div class="sidebar_closer{if isset($box_ADMIN)} sidebar_moremargin{/if}"><i class="fa fa-times"></i></div>

<div id="layout_wrap">
  
  {include file="`$smarty.const.CURRENT_TEMPLATE`/includes/header.html"}

  <div class="sidebar_layer"></div>
  <div id="layout_content" class="cf">
    {if isset($home) && $home == true}
      <div id="col_right">
        <div class="col_right_inner cf">
          {if isset($SLIDER)}
            <div class="content_banner cf">
              <ul class="bxcarousel_slider">
              {foreach name=outer item=slider from=$SLIDER}
                <li>{$slider.IMAGE}</li>
              {/foreach}
              </ul>
            </div>
          {/if}
          {if isset($BANNER)}<div class="content_banner cf">{$BANNER}</div>{/if}
          {*BOC added customers notice by TimoPaul, noRiddle*}
          {if isset($CUSTOMERS_NOTICE)}{$CUSTOMERS_NOTICE}{/if}
          {*EOC added customers notice by TimoPaul, noRiddle*}
          {*BOC embed box to search by model no, noRiddle*}
          {if isset($smarty.get.c)}
          {$box_MODEL_SEARCH}
          {/if}
          {*EOC embed box to search by model no, noRiddle*}
          {if isset($main_content)}{$main_content}{/if}
          {*BOC add specials for brand, noRiddle*}
          {if $box_BRAND_SPECIALS}
          {$box_BRAND_SPECIALS}
          {/if}
          {*EOC add specials for brand, noRiddle*}
          {*{if isset($box_BESTSELLERS)}{$box_BESTSELLERS}{/if}*}
        </div>
      </div>
      {* ENDE col_right *}
      <div id="col_left_overlay">
        <div id="col_left"{if isset($box_ADMIN)} class="col_left_moremargin"{/if}>
          <div class="col_left_inner cf">
            {if isset($box_CATEGORIES)}{$box_CATEGORIES}{/if}
            {if isset($box_LOGIN)}{$box_LOGIN}{/if}
            {*BOC free boxes, noRiddle*}
            {if isset($box_FREE)}
            {foreach item=bx name=bla from=$box_FREE}
            {if isset($bx.box_col)}{$bx.box_col}{/if}
            {/foreach}
            {/if}
            {*EOC free boxes, noRiddle*}
            {if isset($box_SHOPS)}{$box_SHOPS}{/if}
            {*{if isset($box_AFFILIATE)}{$box_AFFILIATE}{/if}*}
            {*{if isset($box_WHATSNEW)}{$box_WHATSNEW}{/if}*}
            {*{if isset($box_LAST_VIEWED)}{$box_LAST_VIEWED}{/if}*}
          </div>
        </div>
      </div>
      {* ENDE col_left *}
    {elseif isset($fullcontent) && $fullcontent == true}
      <div id="col_full" class="cf">
        {if isset($navtrail)}<div id="breadcrumb"><span class="breadcrumb_info">{#text_here#}</span>{$navtrail|replace:" &raquo; ":"<i class=\"fa fa-angle-right\"></i>"}</div>{/if}
          {if isset($BANNER)}<div class="content_banner cf">{$BANNER}</div>{/if} {*we want BANNER on each page, noRiddle*}
          {*BOC added customers notice by TimoPaul, noRiddle*}
          {if isset($CUSTOMERS_NOTICE)}{$CUSTOMERS_NOTICE}{/if}
          {*EOC added customers notice by TimoPaul, noRiddle*}
          {*BOC embed box to search by model no, noRiddle*}
          {if isset($smarty.get.c)}
          {$box_MODEL_SEARCH}
          {/if}
          {*EOC embed box to search by model no, noRiddle*}
          {if isset($main_content)}{$main_content}{/if}
          {*BOC add specials for brand, noRiddle*}
          {if $box_BRAND_SPECIALS}
          {$box_BRAND_SPECIALS}
          {/if}
          {*EOC add specials for brand, noRiddle*}
        {*{if $bestseller}{if isset($box_BESTSELLERS)}{$box_BESTSELLERS}{/if}{/if}*}
      </div>
      {* ENDE col_full *}
    {else}
      <div id="col_right">
        <div class="col_right_inner cf">
          {if isset($navtrail)}<div id="breadcrumb"><span class="breadcrumb_info">{#text_here#}</span>{$navtrail|replace:" &raquo; ":"<i class=\"fa fa-angle-right\"></i>"}</div>{/if}
          {if isset($BANNER)}<div class="content_banner cf">{$BANNER}</div>{/if} {*we want BANNER on each page, noRiddle*}
          {*BOC added customers notice by TimoPaul, noRiddle*}
          {if isset($CUSTOMERS_NOTICE)}{$CUSTOMERS_NOTICE}{/if}
          {*EOC added customers notice by TimoPaul, noRiddle*}
          {*BOC embed box to search by model no, noRiddle*}
          {if isset($smarty.get.c)}
          {$box_MODEL_SEARCH}
          {/if}
          {*EOC embed box to search by model no, noRiddle*}
          {if isset($main_content)}{$main_content}{/if}
          {*BOC add specials for brand, noRiddle*}
          {if $box_BRAND_SPECIALS}
          {$box_BRAND_SPECIALS}
          {/if}
          {*EOC add specials for brand, noRiddle*}
          {*{if $bestseller}{if isset($box_BESTSELLERS)}{$box_BESTSELLERS}{/if}{/if}*}
        </div>
      </div>
      {* ENDE col_right *}
      <div id="col_left_overlay">
        <div id="col_left"{if isset($box_ADMIN)} class="col_left_moremargin"{/if}>
          <div class="col_left_inner cf">
            {if isset($box_CATEGORIES)}{$box_CATEGORIES}{/if}
            {if isset($box_LOGIN)}{$box_LOGIN}{/if}
            {*BOC free boxes, noRiddle*}
            {if isset($box_FREE)}
            {foreach item=bx name=bla from=$box_FREE}
            {if isset($bx.box_col)}{$bx.box_col}{/if}
            {/foreach}
            {/if}
            {*EOC free boxes, noRiddle*}
            {if isset($box_SHOPS)}{$box_SHOPS}{/if}
            {*{if isset($box_AFFILIATE)}{$box_AFFILIATE}{/if}*}
            {*{if isset($box_WHATSNEW)}{$box_WHATSNEW}{/if}*}
            {*{if isset($box_LAST_VIEWED)}{$box_LAST_VIEWED}{/if}*}
          </div>
        </div>
      </div>
      {* ENDE col_left *}
    {/if}
  </div>
  {* ENDE layout_content *}

  <div id="layout_footer">
    <div class="layout_footer_inner">
      <div class="footer_box_row cf">
        {if isset($box_INFORMATION)}<div class="footer_box"><div class="footer_box_inner cf">{$box_INFORMATION}</div></div>{/if}
        {if isset($box_CONTENT)}<div class="footer_box"><div class="footer_box_inner cf">{$box_CONTENT}</div></div>{/if}
        {*{if isset($box_MISCELLANEOUS)}<div class="footer_box"><div class="footer_box_inner cf">{$box_MISCELLANEOUS}</div></div>{/if}*}
        {*BOC free boxes, noRiddle*}
        {if isset($box_FREE)}
        {foreach item=bx name=bla from=$box_FREE}
        {if isset($bx.box_foot)}<div class="footer_box"><div class="footer_box_inner cf">{$bx.box_foot}</div></div>{/if}
        {/foreach}
        {/if}
        {*EOC free boxes, noRiddle*}
        {if isset($box_NEWSLETTER)}<div class="footer_box"><div class="footer_box_inner cf">{$box_NEWSLETTER}</div></div>{/if}
      </div>
    </div>
    <div class="mod_copyright">
        {$smarty.const.TITLE} &copy; {$smarty.now|date_format:"%Y"}
        {if isset($smarty.session.our_prod_model)}<br />{$smarty.session.our_prod_model} {$smarty.session.our_prod_name}{/if}
    </div>
  </div>
  <ul class="foot-menu">
    <li class="cn_nomobile">
        <a href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=7'}" title="{#link_contact#}"><i class="fa fa-envelope-o"></i> <span class="tn_nomobile">{#link_contact#}</span></a>
    </li>
    <li class="cn_nomobile">
        <a href="{$account}" title="{#link_account#}"><i class="fa fa-user"></i> <span class="tn_nomobile">{#link_account#}</span></a>
    </li>
    {if "MODULE_AFFILIATE_MODULE_STATUS"|defined && $smarty.const.MODULE_AFFILIATE_MODULE_STATUS == 'true'}
    <li class="cn_nomobile">
        <a rel="nofollow" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=901'}" title="{#ah_link_affiliate#}"><i class="fa fa-hand-o-right"></i> <span class="tn_nomobile">{#ah_link_affiliate#}</span></a>
    </li>
    {/if}
  </ul>

</div>
{* ENDE layout_wrap *}

{if ($smarty.const.TRACKING_COUNT_ADMIN_ACTIVE == 'true' && $smarty.session.customers_status.customers_status_id == '0') || $smarty.session.customers_status.customers_status_id != '0'}
  {if $smarty.const.TRACKING_PIWIK_ACTIVE == 'true'}
    {piwik url=$smarty.const.TRACKING_PIWIK_LOCAL_PATH id=$smarty.const.TRACKING_PIWIK_ID goal=$smarty.const.TRACKING_PIWIK_GOAL}
  {/if}
  {if $smarty.const.TRACKING_GOOGLEANALYTICS_ACTIVE == 'true'}
    {googleanalytics account=$smarty.const.TRACKING_GOOGLEANALYTICS_ID}
  {/if}
  {if $smarty.const.TRACKING_FACEBOOK_ACTIVE == 'true'}
    {facebook id=$smarty.const.TRACKING_FACEBOOK_ID}
  {/if}
{/if}