.cc_container {
position:fixed;
left:0;
right: 0;
bottom:0; /*top: 0; /*noRiddle*/
overflow:hidden;
padding:8px 16px;
z-index:2;
box-sizing: border-box;
background:#ececec;
border-top:1px solid #bcbcbc;
box-shadow:0 -1px 10px #787878;
color:#535353;
font-size:17px;
}
.cc_container {
animation-duration: 0.8s;
animation-name: slideDown;
}
@keyframes slideDown {
0% {margin-bottom: -66px;}
100% {margin-bottom: 0;}
}
.cc_container .cc_btn {
display: block;
float: right;
margin-left:10px;
padding:2px;
width:40px;
font-size:18px;
color:#a20000;
text-align:center;
border-radius:5px;
cursor:pointer;
transition:all .5s ease 0s;
}
.cc_container .cc_btn .fa {font-size:20px;}
.cc_container .cc_btn:hover {
color:#ff0a0a;
}
.cc_container a {
color:#005FBC;
text-decoration:none;
transition:all .5s ease 0s;
}
.cc_container a:hover {color:#2887C2;}
.cc_container .cc_message {
display: block;
margin:0;
font-size:15px;
line-height:20px;
}
.cc_container .cc_message .fa {
font-size:18px;
vertical-align:text-bottom;
}
.cc_container .cc_message .fa-cog {
font-size:22px;
animation:cog_rot 1.5s linear infinite;
}
@keyframes cog_rot {100% {transform:rotate(360deg);}}
@media only screen and (max-width: 985px) {
    .cc_container {bottom:52px;}
}
@media print {
    .cc_container {display:none;}
}