/*BOC optional company details in create_account, 11-2020, noRiddle*/
#comp-det {
    display:none;
}
#comp-quest, #comp-noquest {
    display:inline-block;
    vertical-align:middle;
    margin:-2px 0 0;
}
.comp-quest, .comp-noquest {
    display:inline-block;
    padding:0 0 12px;
    font-size:14px;
    font-weight:bold;
}
#comp-quest:checked ~ #comp-det {
    display:block;
}
#comp-noquest:checked ~ #comp-det {
    display:none;
}
/*EOC optional company details in create_account, 11-2020, noRiddle*/

#create_account .pssw-wrap {
    display:inline-block;
    width:95%;
}
#create_account .pssw-wrap input {
    width:100%;
}