.overlay_cn {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: visible;
	opacity: 1;
	z-index: 999;
  }
.overlay_cn:target {
	visibility: hidden;
	opacity: 0;
	display:none
  }
.popup_cn {
	margin: 50px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 70%;
	position: relative;
  }
.popup_cn h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
  }
.popup_cn .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
  }
.popup_cn .close:hover {
	color: orange;
  }
.popup_cn .content {
	max-height: 30%;
	overflow: auto;
  }

.csn-cont {margin:8px 0; padding:5px; font-size:14px; border:1px solid #c00; border-radius:5px;} /*added, noRiddle*/
#countdown {margin:0 0 12px; font-size:16px; font-weight:bold;} /*added, noRiddle*/
.csn-header {margin:0 0 8px; font-size:18px;} /*added, noRiddle*/
.csn-body {} /*added, noRiddle*/

