/* ---------------------------------------------------------------------------------------

   modified eCommerce Shopsoftware
   http://www.modified-shop.org
   Copyright (c) 2009 - 2016 [www.modified-shop.org]
   ---------------------------------------------------------------------------------------
   Released under the GNU General Public License

   reworked by noRiddle 07-2020
--------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1400px) {
.w49perc.u-img {width:39%;}
#viewport {width:39%;}
.w49perc.u-tbl {width:59%;}
}

@media only screen and (max-width: 1200px) {
.w49perc.u-img {width:29%;}
#viewport {width:29%;}
.w49perc.u-tbl {width:69%;}
}

/*@media only screen and (max-width: 985px) {*/
@media only screen and (max-width: 1171px) {
  /*.tn_group img {max-width:115px;}*/
  .ord_subtotal { width: 60%;}
  #col_left_overlay { display:none; }
  #col_right { float: none; margin-left: 0px; }
  #col_right .col_right_inner { margin-left: 0px; }
  .listingcontainer .listingbox { width:25%;}
  .lr_content { width: 78%; }
  .lr_desc_box { width: 65%; }
  .lr_price_box { width: 31%; }
  .subcat_image_inner:before { padding-top: 65%; }
}

@media only screen and (max-width: 1160px) {
  .lr_content { width: 72.5%; }
  .lr_desc_box { width: 60%; }
  .lr_price_box { width: 36%; }
  .listingcontainer .listingbox { width:33.3333%;} /*noRiddle*/
}

@media only screen and (max-width: 920px) {
  #cart-wish, #langs {padding:0 30px 0 0;}
  .cart_01 .fa:not(.sml-fa) { font-size:28px !important; padding-right: 4px !important; line-height:36px;} /*noRiddle*/
  .cart_01 .fa.sml-fa {font-size:15px !important;} /*noRiddle*/
  .cart_02 { display:none !important; } /*noRiddle*/
  .cart_04 { display:none !important; } /*noRiddle*/
  .cart_05 { display:inline-block !important; } /*noRiddle*/
  .wish_01 .fa { font-size:23px !important; padding-right: 4px !important; } /*noRiddle*/
  .wish_02 { display:none !important; } /*noRiddle*/
  .wish_04 { display:none !important; } /*noRiddle*/
  .wish_05 { display:inline-block !important; } /*noRiddle*/
  #brlogo {right:10px;}
  .pagination_text { display:none; }
  .footer_box { width:50%; }
  .footer_box:nth-child(3n) { clear:both; }
  .listingcontainer .listingbox { width:33.3333%;}
  .listingcontainer_full .listingbox { width:33.3333%;}
  .lr_content { width: 77%; }
  .lr_desc_box { width: 65%; }
  .lr_price_box { width: 31%; }
  ul#checkoutnavigation.cn_no_shipping li .description { display:none !important; }
  .lpdib {width:48%;}
  /*BOC vehicle image view, noRiddle*/
  div.guayaquil_floatunitlist_250 {width:24%;}
  #tooltip {font-size:12px; line-height:16px;}
  /*EOC vehicle image view, noRiddle*/
}

@media only screen and (max-width: 875px) {
    .guayaquil_categoryfloatbox.gen-fl.w36perc {float:none;}
}

@media only screen and (max-width: 850px) {
  /*.tn_group img {max-width:115px;} /*noRiddle*/*/
  /*li.goog-trans {margin:11px 0;}*/ /*noRiddle*/
  .twoColums { width:47.5%; margin: 0 5% 20px 0; }
  .twoColums.last { margin: 0 0 20px 0;; }
  .highlightbox {padding: 15px 10px !important;}
  .highlightbox.plainleft { padding: 16px 0px 16px 0 !important; }
  .highlightbox.plainright { padding: 16px 0 16px 0px !important; }
  ul#checkoutnavigation li .description { display:none !important; }
  .lr_content { width: 76%; }
  .lr_desc_box { width: 64%; }
  .lr_price_box { width: 32%; }
  /*BOC vehicle image view, noRiddle*/
  div.guayaquil_floatunitlist_250 {width:32%;}
  #tooltip {font-size:11px; line-height:15px;}
  /*EOC vehicle image view, noRiddle*/
}

@media only screen and (max-width: 840px) {
  .sml-f {display:none;} 
  .foot-menu {display: block;}
}

@media only screen and (max-width: 759px) {
  .foot-menu li .fa {font-size:28px;}
  .ord_subtotal { width: 100%;}
  span.ol_image { display:none; }
  span.ol_quantity { padding-right:10px; }
  .ol_width3 { width: 80%; }
  span.ol_price_row { margin-top:10px; }
  span.ol_width4_header { display:none !important; }
  .button_left_cart { max-width:130px; }
  .button_right_cart { max-width:170px; }
  .button_left_cart img { margin: 0px 5px 5px 0px; }
  .express_button { margin-bottom:5px; }
  .paypal_button { margin: 0 0 5px 0; }
  .twoColums { width:100%; margin: 0px 0px 20px 0px; }
  .twoColums.last { margin: 0px 0px 20px 0px; }
  .twoColumsInner { width:100%; margin: 0px 0px 20px 0px; }
  .twoColumsInner.last { margin: 0px 0px 20px 0px; }
  ul#checkoutnavigation li { width:50%; }
  .lr_content { width: 74%; }
  .lr_desc_box { width: 61%; }
  .lr_price_box { width: 35%; }
  .sitemap { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; }
  .reviewsbox { height: auto; margin: 0 0 20px 0; width: 100%; }
  .pri_imagebox { width: 180px; }
  .pri_big_image { width:180px; min-height:180px; }
  .pri_big_image img { max-width:180px; }
  .button_left_error { margin: -10px 0 0 0; }
  /*BOC catalogue details view (qdetails and details), noRiddle*/
  .main-2flts-cont div.nr-highlightbox {min-height:auto;}
  .left-2flts, .right-2flts {
    width:99%;
    margin:0 0 6px 0;
    float:none;
  }
  .top-buttons .cssButton {
    width:100%;
    float:none;
  }
  .gdImageCol {display:none;}
  .gdDetailCol {width:100%;}
  .gdCategory h3 {width:45%;}
  
  .gen-fl, .gen-fr {float:none;}
  .w49perc.u-img {display:none;}  /*width:98%;*/
  .w49perc.u-tbl {width:98%;}
  
  #legend {display:none;}
  .no-mob {display:none;}
  .y-mob {display:block;}
  .y-mob .fa {padding:0 20px;}
  /*EOC catalogue details view (qdetails and details), noRiddle*/
}

@media only screen and (max-width: 690px) {
  .listingcontainer .listingbox { width:50%;}
  .listingcontainer_full .listingbox { width:50%;}
  .lr_content { width: 70%; }
  .lr_desc_box { width: 56%; }
  .lr_price_box { width: 40%; }
  .headline_right { display: block; float: right; padding: 5px 0 0; width: 100%; }
  .pd_imagebox { float: none; margin: 0 auto 20px auto; width: 100%; }
  .pd_content { width: 100%; }
  .pd_infobox { width: 50%; }
  .pd_summarybox { width: 46%; }
  .productnavigator .detail_back { display: none; }
  .pd_tabs { background:#ddd; }
  .pd_tabs .resp-tabs-list li { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; box-sizing: border-box; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .pd_tabs .listingbox { width:50%; }
  .pd_accordion .listingbox { width:50%; }
  .subcatlist { width:25%; }
  .subcontent { float: none; margin: 0px 0 20px 0px; max-width: 100%; }
  .subcontent table.tableizer-table {width:100%;}
  .foot-menu li a:link {position:relative;} /*noRiddle*/
  .foot-menu li a[title]:hover:after {
  content:attr(title);
  position:absolute;
  bottom:0;
  line-height:20px;
  left:0;
  color:#555;
  border:1px solid #ccc;
  border-radius:5px;
  background:#fff;
  padding:2px;
  white-space:nowrap;
  z-index:1;
  } /*noRiddle*/
}

@media screen and (max-width: 604px) {
  .tn_nomobile {display:none;}
  #m-menu li a {padding:0 25 0 0;}
  #m-menu li .fa {font-size:26px; vertical-align:middle;}
  /*#header li.tn_group {
	float: left;
	max-width: 90px;
  }*/
  .cn_nomobile_text {display:none;}
  .suggestionsBox { width: 100%; }
  .suggestionList li .hl_text { width: 50% !important; }
  .suggestionList li .hl_price { width: 30% !important; }
  .lr_image { float:none; width: 100%; height:auto; margin-bottom:10px; }
  .lr_content { float:none; width: 100%; }
  .lr_buttons { bottom: auto; display: inline-block; float: right; margin-top: 10px; position: relative; right: auto; text-align: right;}
  .sort_bar_item { width:50%; }
  .tags_bar_item { width:50%; }
  .pd_infobox { width: 43%; }
  .pd_summarybox { width: 53%; }
  .subcatlist { width:33.3333%; }
  .pd_small_image_tab { width:16.6666%; }
  ul#checkoutnavigation.cn_no_shipping li { width: 100%; }
  .lpdib {width:98%;}
}

@media screen and (max-width: 560px) {
  /*BOC vehicle image view, noRiddle*/
  div.guayaquil_floatunitlist_250 {width:49%;}
  .guayaquil_categoryfloatbox.gen-fl.w38perc {width:100%; margin:0 0 6px 0;}
  /*EOC vehicle image view, noRiddle*/
}

@media screen and (max-width: 500px) {
  .left-top {width:100%;}
  #brlogo {position:fixed; right:6px; bottom:6px; top:auto;}
  #cart-wish, #langs {padding:0;}
  #admin ul li.logo { display:none;}
  #admin ul li.language { display:none;}
  .toggle_cart {width: 100%;}
  .toggle_wishlist {width: 100%;}
  /*.responsiveholder {display:none;}*/ /*no slider any more, noRiddle | put this in main stylesheet to /*avoid Cumulative Layout Shift, 05-2021, noRiddle*/
  .ol_width3 { width: 75%; }
  .ol_width4 { border-top:1px dotted #ccc; padding-top:10px;}
  .ol_short_desc { display:none; }
  .ord_subtotal select { width: 100px;}
  .otl_row1 { padding-left: 0 !important;}
  .otl_col4 { width: 24%; }
  .otl_col3 { width: 76%; }
  .shipping_radio, .payment_radio { width: 20px; }
  .footer_box { width:100%; }
  .listingcontainer .listingbox { width:100%;}
  .listingcontainer_full .listingbox { width:100%;}
  .pd_tabs .listingbox { width:100%; }
  .pd_accordion .listingbox { width:100%; }
  .lr_desc_box { width: 100%; }
  .lr_price_box { width: 100%; }
  .sitemap { -moz-column-count: 1;-moz-column-gap: 0px; -moz-column-rule: 0px solid #eee; -webkit-column-count: 1; -webkit-column-gap: 0px; -webkit-column-rule: 0px solid #eee; column-count: 1; column-gap: 0px; column-rule: 0px solid #eee; }
  .pd_infobox { width: 100%; }
  .pd_summarybox { width: 100%; }
  .pri_imagebox { width: 100%; }
  .pri_big_image { margin: 0px auto; }
  .pri_content { width: 100%; }
  .subcatlist { width:50%; }
  .subcat_image_inner:before { padding-top: 52%; }
  .pd_small_image_tab { width:20%; }
}


@media screen and (max-width: 400px) {
  .suggestionList li .autocomplete_image { display:none !important; }
  ul#checkoutnavigation li { float:none; width:100%; padding: 5px 10px; }
  ul#checkoutnavigation li .inactive .title { font-size: 17px; line-height:19px; }
  ul#checkoutnavigation li .active .title { font-size: 17px; line-height:19px; }
  .hl_image { display:none; }
  .hl_text { width: 70%; }
  .rb_image { width:54px; height:54px; }
  .rb_image img { max-width:50px; max-height:50px; }
  .rb_rating { display: block; padding: 0 0 10px 0; width: 100%; }
  .pd_small_image_tab { width:33.3333%; }
  /*BOC vehicle image view, noRiddle*/
  div.guayaquil_floatunitlist_250 {width:99%;}
  /*EOC vehicle image view, noRiddle*/
}

@media screen and (max-width: 370px) {
    /*.goog-trans {position:fixed;
                 left:0;
                 bottom:52px;
                 float:none;
                 padding: 10px;
                 background:#fff;
                 border-radius:0 10px 10px 0;
                 }*/
    .goog-trans {display:none;}
}